{include file="public/header" /}
{include file="public/left" /}
<div id="content">
        <div id="content-header">
                <div id="breadcrumb">
                        <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
                        <a href="#" class="tip-bottom">活动管理</a>
                        <a href="#" class="current">编辑回复内容</a>
                </div>
        </div>

        <div class="row-fluid" id="emit_information">
                <div class="span6" style="margin-left: 12%;">
                        <div class="widget-box" style="width: 120%">
                                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                                        <h5>活动信息</h5>
                                </div>
                                <div class="widget-content nopadding">
                                    <form action="{:url('admin/activity/commit_reply')}" method="post" class="form-horizontal">
                                        <input type="hidden" name="replyId" value="{$Request.param.rid}"/>
                                        <input type="hidden" name="cid" value="{$reply.comment_id}"/>
                                        <input type="hidden" name="aid" value="{$Request.param.aid}"/>
                                        <div class="control-group" style="height: 300px;">
                                                    <label class="control-label">回复 :</label>
                                                    <div class="controls">
                                                            <textarea style="height: 220px;width:300px;" name="content">{$reply.content}</textarea>
                                                    </div>
                                            </div>
                                            <div class="form-actions">
                                                    <button  class="btn btn-success info_sure" type="submit">保存</button>
                                                    <a href="javascript:history.back(-1)" class="btn-warning">取消</a>
                                            </div>

                                        </form>


                                </div>
                        </div>
                </div>
        </div>
</div>
<div class="modal_box hide">
<div class="info_modalbox">
	<div class="cancel">X</div>
	<div class="right_content">
		<img src="img/right.png" />
		<span>修改成功</span>
	</div>
</div>
</div>
{include file="public/footer" /}
	</body>

</html>
