{include file="public/header" /}
{include file="public/left" /}
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="#" class="tip-bottom">活动管理</a> 
      	<a href="#" class="current">活动提问</a> 
  </div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	  <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>昵称</th>
                  <th>活动名称</th>
                  <th>提问内容</th>
                  <th>提问时间</th>
                  <th>操作</th>
           			</tr>
              </thead>
              <tbody id="tbody_center" style='font-size: 12px;'>
                {foreach name="askInfo" item="vo"}
                <tr class="gradeX trs">
                  <td>{$vo.comment_id}</td>
                  <td>{$vo.nickname}</td>  
                  <td>{$vo.a_title}</td>
                  <td>{$vo.content}</td>
                  <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
                  <td class="center"><a href="{:url('admin/activity/activity_reply_list',['rid'=>$vo.comment_id,'aid'=>$vo.aid])}"><i class="check icon-reorder">&nbsp;&nbsp;回复</i></a>
                	<i class="delete icon-pencil ask_delete">&nbsp;&nbsp;删除</i>	
                  </td>
                  
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</body>
</html>

