{include file="public/header" /}
{include file="public/left" /}
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="#" class="tip-bottom">活动管理</a> 
      	<a href="#" class="current">活动扩展</a> 
  </div>
  </div>
<!--添加开始部分-->
  <div class="add_order">
  	 <a href="{:url('admin/activity/addExtensionList')}">
        <div class="add" title="添加活动扩展">
          <span style="font-size: 14px;">
              <i class="icon-plus"></i>
                 添加扩展
          </span>
        </div>
     </a>
  </div>
<!--添加结束-->
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>活动标题</th>
                  <th>扩展图片</th>
                  <th>扩展标题</th>
                  <th>扩展描述</th>
                  <th>操作</th>
           </tr>
              </thead>
              <tbody id="tbody_center" style='font-size: 12px;'>
                {foreach name="extInfo" item="vo"}
                <tr class="gradeX trs">
                    <td class="td_id">{$vo.extension_id}</td>
                  <td>{$vo.a_title}</td>  
                  <td><img src="__AdminIMG__/{$vo.extension_img}" width="100px;" height="80px;"/></td>
                  <td>{$vo.extension_title}</td>
                  <td>{$vo.extension_remark}</td>
                  <td class="center"><a href="{:url('admin/activity/saveExtensionList',['eid'=>$vo.extension_id])}"><i class="check icon-reorder">&nbsp;&nbsp;编辑</i></a>
                <i class="delete icon-pencil ext_delete">&nbsp;&nbsp;删除</i>	
                  </td>
                  
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</body>
</html>

