{include file="public/header" /}
{include file="public/left" /}
		<div id="content">
			<div id="content-header">
				<div id="breadcrumb">
					<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
					<a href="#" class="tip-bottom">退款列表</a>
					<a href="#" class="current">修改退款</a>
				</div>
			</div>

			<div class="row-fluid" id="emit_information">
				<div class="span6" style="margin-left: 12%;">
					<div class="widget-box" style="width: 700px;">
						<div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
							<h5>退款信息</h5>
						</div>
						<div class="widget-content nopadding">
							<form action="{:url('admin/activity/save_refund')}" method="post" class="form-horizontal" name="quitPay_form">
								<input type='hidden' name='rid' value="{$refundInfo.id}"/>
								<input type='hidden' name='order_sn' value="{$refundInfo.order_sn}"/>
								<div class="control-group">
									<label class="control-label">状态 :</label>
									<div class="controls">
										<select name="status">
											<option value="1" {if condition="$refundInfo.type eq 1"} selected="selected" {/if}>处理中</option>
											<option value="3" {if condition="$refundInfo.type eq 3"} selected="selected" {/if}>已退款</option>
										</select>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success info_sure">保存</button>
									<a href="javascript:history.back(-1)" class="btn-warning">取消</a>
								</div>
								</form>							
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file="public/footer" /}
	</body>

</html>