{include file="public/header" /}
{include file="public/left" /}
<div id="content">
        <div id="content-header">
                <div id="breadcrumb">
                        <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
                        <a href="{:url('admin/activity/activityType')}" class="tip-bottom">分类列表</a>
                        <a href="#" class="current">修改分类</a>
                </div>
        </div>

        <div class="row-fluid" id="emit_information">
                <div class="span6" style="margin-left: 12%;">
                        <div class="widget-box" style="width: 700px;">
                                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                                        <h5>修改</h5>
                                </div>
                                <div class="widget-content nopadding">
                                        <form action="{:url('admin/activity/updataType')}" method="post" class="form-horizontal" name="quitPay_form">
                                                <input type="hidden" name="id" value="{$titleInfo.id}"/>
                                                <div class="control-group">
                                                    <label class="control-label">分类名称：</label>
                                                    <div class="controls">
                                                            <input class="span11" value="{$titleInfo.name}" name="name" type="text">
                                                    </div>
                                                </div>
                                            
                                                <div class="control-group">
                                                    <label class="control-label">排序：</label>
                                                    <div class="controls">
                                                            <input class="span11" value="{$titleInfo.sort}" name="sort" type="text">
                                                    </div>
                                                </div>


                                            <div class="form-actions" style="text-align: center">
                                                        <button type="submit" class="btn btn-success info_sure">修改</button>
                                                        <a href="javascript:history.back(-1)" class="btn-warning">取消</a>
                                                </div>
                                                </form>



                                </div>
                        </div>
                </div>
        </div>
</div>		
{include file="public/footer" /}
		
	</body>

</html>