{include file="public/header" /}
{include file="public/left" /}
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="#" class="tip-bottom">活动管理</a> 
      	<a href="#" class="current">活动扩展</a> 
  </div>
  </div>
<!--添加开始部分-->
  <div class="add_order" style="display: inline-block;">
  	 <a href="{:url('admin/activity/addSpeList')}">
        <div class="add" title="添加安排">
          <span style="font-size: 14px;">
              <i class="icon-plus"></i>
                 添加安排
          </span>
        </div>
     </a>
  </div>
<div class="add_order" style="display: inline-block;">
    <a href="{:url('admin/activity/dis_import_order')}">
        <div class="add" title="按活动导入">
      <span style="font-size: 14px;">
          <i class="icon-plus"></i>
             按活动导入
      </span>
        </div>
    </a>
</div>
<!--添加结束-->
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>活动标题</th>
                  <th>时间/备注</th>
                  <th>数量</th>
                  <th>负责人</th>
                  <th>备注</th>
                  <th>操作</th>
               </tr>
              </thead>
              <tbody id="tbody_center" style='font-size: 12px;'>
                {foreach name="speInfo" item="vo"}
                <tr class="gradeX trs">
                  <td class="td_id">{$vo.t_id}</td>
                  <td>{$vo.a_title}</td>  
                  <td>{$vo.t_content}</td>
                  <td>{$vo.ticket_num}</td>
                  <td>{$vo.remark}</td>
                  <td class="title">{$vo.name}</td>
                  <td class="center">
                    <a href="{:url('admin/activity/dis_import_user',['aid'=>$vo.aid,'t_id'=>$vo.t_id])}"><i class="icon-plus" style="width:80px;">&nbsp;&nbsp;导入会员</i></a>
                      <i class="delete icon-pencil spe_delete">&nbsp;&nbsp;删除</i>
                  </td>
                  
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</body>
</html>

