{include file="public/header" /}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
            <a href="{:url('admin/admin/index')}" class="tip-bottom">权限中心</a>
            <a href="#" class="current">修改角色</a>
        </div>
    </div>

    <div class="row-fluid" id="emit_information">
        <div class="span6" style="margin-left: 12%;">
            <div class="widget-box" style="width: 700px;">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>添加</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="{:url('admin/admin/save_role')}" method="post" class="form-horizontal" name="quitPay_form">
                        <input type="hidden" name="id" value="{$Request.param.id}"/>
                        <div class="control-group">
                            <label class="control-label">角色名：</label>
                            <div class="controls">
                                <input class="span11" name="role_name" value="{$role.role_name}" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">权限：</label>
                            <div class="controls">
                                <input type="checkbox" class="whole_check">全部<br>
                                {foreach name="node" item="vo"}

                                {if condition="$vo.fid eq 0"}
                                <div class="first_check" style="margin-top: 10px;">
                                <input class="first_child" type="checkbox" name="rule[]" <?php if(strpos($role['rule'],(string)$vo['id']) !== false){echo 'checked="checked"';}?> value="{$vo.id}">{$vo.node_name}<br>
                               
                                <div class="second_check" style="padding-left: 3%;">
                                {foreach name="node" item="v"}
                                {if condition="$v.fid eq $vo.id"}
                                    <input type="checkbox"  <?php if(strpos($role['rule'],(string)$v['id']) !== false){echo 'checked="checked"';}?>  name="rule[]" value="{$v.id}">{$v.node_name}
                                {/if}
                                {/foreach}
                                </div>
                                </div>
                                {/if}
                                {/foreach}
                            </div>
                        </div>

                        <div class="form-actions" style="text-align: center">
                            <button type="submit" class="btn btn-success info_sure">修改</button>
                            <a href="javascript:history.back(-1)" class="btn-warning">取消</a>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

</body>

</html>