{include file="public/header" /} {include file="public/left" /}
<div id="content" style="background:#F6F6F6;">
	<!--breadcrumbs-->
	<div id="content-header">
		<div id="breadcrumb">
			<a href="index.html" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
		</div>
	</div>

	<div class="sta">
		<div class="sta_total">
			<div class="title">
				<img src="__AIMG__/user.png" style="width: 14px;height: 16px;" /><span>用户</span>
				<span style="color:#2843a8;">440</span>
			</div>
			<div id="main" style="width:180px;height: 300px;">

			</div>
			<div class="show_num">
				<li><span></span><span>本月新增</span></li>
				<li><span></span><span>本周新增</span></li>
				<li><span></span><span>本日新增</span></li>
			</div>
			<!--<div class="userunfold unfold">展开</div>-->
		</div>
		<div class="sta_total">
			<div class="title">
				<img src="__AIMG__/member.png" style="width: 14px;height: 16px;" /><span style="color:#dfc822;">会员</span>
				<span style="color:#2843a8;">440</span>
			</div>
			<div id="main1" style="width:180px;height: 300px;">

			</div>
			<div class="show_num">
				<li><span></span><span>本月新增</span></li>
				<li><span></span><span>本周新增</span></li>
				<li><span></span><span>本日新增</span></li>

			</div>
			<!--<div class="memberunfold unfold">展开</div>-->
		</div>
		<div class="sta_total" id="incomeTotal">
			<div class="title">
				<img src="__AIMG__/pocket.png" style="width: 14px;height: 16px;" /><span style="color:#50cfc8 ;">收入</span>
				<span style="color:#2843a8;margin-top: -2px;">220</span>
			</div>
			
			<div class="totalContents">
			
			<div class="order_income">
				<div id="main2" style="width:110px;height:300px;">

			   </div>
				<div class="order_total">订单：236</div>
			</div>
			
			<div class="recharge_incom">
				<div id="main3" style="width:100px;height: 300px;">

			    </div>
			
				<div class="show_num">
					<li><span></span><span>本月</span></li>
					<li><span></span><span>本周</span></li>
					<li><span></span><span>今日</span></li>
	
				</div>
				<div class="recharge_total">充值：150</div>
			</div>
			</div>
			
			<!--<div class="incomeunfold unfold">展开</div>-->
		</div>

		<div class="sign">
			<a href="{:url('admin/user/mobile_sign')}">
				<div class="word">签到管理系统</div>
				<div class="circle"><span></span><span></span><span></span></div>
			</a>

		</div>
	</div>

	<!--折线图-->
	<!--<div class="brokenLineContent">
		<div class="UserContainer LineContainer" style="display: none;">
			<div>
				<div id="monthLine" style="width:800px;height: 400px;">

				</div>
				<p>每月用户走势表</p>
			</div>
			<div>
				<div id="weekLine" style="width: 400px;height: 400px;">

				</div>
				<p>每周用户走势表</p>
			</div>

		</div>

		<div class="memberContainer LineContainer" style="display: none;">
			<div>
				<div id="monthLine1" style="width:800px;height: 400px;">

				</div>
				<p>每月用户走势表</p>
			</div>
			<div>
				<div id="weekLine1" style="width: 400px;height: 400px;">

				</div>
				<p>每周用户走势表</p>
			</div>

		</div>
		<div class="incomeContainer LineContainer" style="display: none;">
			<div>
				<div id="monthLine2" style="width:800px;height: 400px;">

				</div>
				<p>每月用户走势表</p>
			</div>
			<div>
				<div id="weekLine2" style="width: 400px;height: 400px;">

				</div>
				<p>每周用户走势表</p>
			</div>

		</div>
	</div>-->

	<div class="indContainerContent">
		<div class="search">
			<form>
				<!--<div class="timeSearch">
     	 	 	  	   <input type="text" value="2017-12-5" style="cursor: pointer;" onFocus="new Calendar().show(this);"><div class="line"></div><input type="text" value="2017-12-7" style="cursor: pointer;" onFocus="new Calendar().show(this);"> <button type="submit">查找</button>
     	 	 	  </div>-->
				<div class="anySearch">
					<span>Srearch:</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" />
				</div>
			</form>
		</div>
		{foreach name="activityInfo" item="vo"}
		<div class="indContainer">
			<p>{$vo.aid}&nbsp;&nbsp;&nbsp;&nbsp;{$vo.a_title}</p>
			<p class="total">订单数：<span class="tatal_num">{$vo.order_num}</span></p>
			<div class="circleContents">
				<div class="circleone">
					<div class="orderNum"></div>
					<p>报名数：<span class="first_num">{$vo.order_success_num}</span></p>
				</div>
				<div class="circleone">
					<div class="signNum"></div>
					<p>签到人数：<span class="second_num">{$vo.order_sign_num}</span></p>
				</div>

			</div>
		</div>
		{/foreach}
		<input type="hidden" id="start_page">
		<input type="hidden" id="current_page" />
		<input type="hidden" id="show_per_page" />
		<input type="hidden" id="end_page">
		<div id="pageGro" class="cb">
			<div class="pagestart">首页</div>
			<div class="pageUp">上一页</div>
			<div class="pageList">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
			<div class="pageDown">下一页</div>
			<div class="pageend">尾页</div>
		</div>
	</div>

	{include file="public/footer" /}
	<script>
		var mychart = echarts.init(document.getElementById('main'));
		TreeViewer(mychart, {$result.user.user_num},{$result.user.month_user},{$result.user.week_user});
		var mychart1 = echarts.init(document.getElementById('main1'));
		TreeViewer(mychart1, {$result.user.member_num},{$result.user.month_member},{$result.user.week_member});
		var mychart2 = echarts.init(document.getElementById('main2'));
		TreeViewer(mychart2, {$result.order.month_order_price}, {$result.order.week_order_price},{$result.order.today_order_price});
		var mychart3 = echarts.init(document.getElementById('main3'));
		TreeViewer(mychart3, {$result.order.month_order_price}, {$result.order.week_order_price},{$result.order.today_order_price});
		//		树状统计图封装
		function TreeViewer(chart, firstNum, secondNum, thirdNum) {
			var option = {
				title: {
					show: false
				},
				legend: {
					orient: 'vertical',
					right: 80,
					bottom: 60,
					icon: 'circle'
				},
				xAxis: {
					data: ['总用户', '当月新增用户', '当周新增用户'],
					show: false
				},
				yAxis: { show: false },

				series: [

					{
						name: '数量',
						type: 'bar',
						data: [firstNum, secondNum, thirdNum],
						barWidth: 25,
						itemStyle: {
							normal: {
								color: function(params) {
									var colorList = ['#ff4134', '#50cfc8', '#dfc822'];
									return colorList[params.dataIndex];
								},
								label:{show:true,position:'top'}
							}

						}

					}
				]
			}
			chart.setOption(option);
		}

		//		圆形统计图
		function circletotal(circle, num, color) {
			circle.radialIndicator({
				radius: 40,
				barColor: color,
				barBgColor: '#d2d2d2',
				barWidth: 5,
				initValue: num,
				roundCorner: true,
				percentage: true,
				fontWeight: 'normal'
			})

		}

		var circleTotals = $(".indContainer");
		var colors = ['#2843a8', '#dfc822', '#ff4134', '#9d27ac', '#4abe35', '#440062', '#50cfc8', '#f08827']
		var $i = 0;
		$(".indContainer").each(function() {
			var index = $(this).index();
			var totalNum = $(this).find(".tatal_num").html();

			var first = $(this).find(".first_num").html();
			var second = $(this).find(".second_num").html();

			//		报名数
			circletotal($(this).find(".orderNum"), first / totalNum * 100, colors[$i])
			//		签到数
			circletotal($(this).find(".signNum"), second / first * 100, colors[$i])
			$i++;
			if($i % 8 == 0) {
				$i = 0;
			}

		})

		//      折线图函数封装   
		function LineTotal(id, data, num) {
			var optionLine = {
				tooltip: {},
				legend: {
					data: ['用户量']
				},
				xAxis: {
					data: data,
					axisLine: { lineStyle: { color: '#cfcfcf' } },
					axisLabel: { show: true, textStyle: { color: '#6e6e6e' } }

				},
				yAxis: { show: false },
				series: [{
					name: '用户量',
					type: 'line',
					data: num,
					itemStyle: { normal: { label: { show: true } } }
				}]
			}
			id.setOption(optionLine);
		}
		var MonthL = echarts.init(document.getElementById('monthLine'));
		LineTotal(MonthL, ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"], [30, 20, 36, 10, 10, 20, 90, 30, 20, 15, 30, 60])

		var WeekL = echarts.init(document.getElementById('weekLine'));
		LineTotal(WeekL, ["周一", "周二", "周三", "周四", "周五", "周六", "周日"], [30, 20, 36, 10, 10, 20, 90])

		var MonthL1 = echarts.init(document.getElementById('monthLine1'));
		LineTotal(MonthL1, ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"], [30, 20, 36, 10, 10, 20, 90, 30, 20, 15, 30, 60])
		var WeekL1 = echarts.init(document.getElementById('weekLine1'))
		LineTotal(WeekL1, ["周一", "周二", "周三", "周四", "周五", "周六", "周日"], [30, 20, 36, 10, 10, 20, 90])

		var MonthL2 = echarts.init(document.getElementById('monthLine2'));
		LineTotal(MonthL2, ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"], [30, 20, 36, 10, 10, 20, 90, 30, 20, 15, 30, 60])
		var WeekL2 = echarts.init(document.getElementById('weekLine2'))
		LineTotal(WeekL2, ["周一", "周二", "周三", "周四", "周五", "周六", "周日"], [30, 20, 36, 10, 10, 20, 90])

		//点击展开收缩
		function unfoldLine(my, parent) {
			if(my.html() == '展开') {
				parent.show();
				my.html('收缩')
			} else {
				parent.hide();
				my.html('展开')
			}
		}

		var staTotal = $(".sta_total");
		var lineContents = $(".brokenLineContent").children();

		staTotal.each(function() {
			var index = $(this).index();
			$(this).find(".unfold").on("click", function() {
				unfoldLine($(this), lineContents.eq(index));
			})
		})
	</script>
</div>