{include file="public/header" /} {include file="public/left" /}
<div id="content" style="background:#F6F6F6;height: 726px;">
	<!--breadcrumbs-->
	<div id="content-header">
		<div id="breadcrumb">
			<a href="index.html" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> Home</a>
		</div>
	</div>

	<!--<div class="ul_classify">
		<ul class="first">
			<li>用&nbsp;户<span></span></li>
			<li>会&nbsp;员<span style="display: none;"></span></li>
			<li>收&nbsp;入<span style="display: none;"></span></li>
			<li>消&nbsp;费<span style="display: none;"></span></li>
			<li class="sign">签&nbsp;到</span></li>
		</ul>
		<ul id="signSelect" style="display: none;">
			<li><a href="{:url('admin/user/mobile_sign')}">手机号签到</a></li>
			<li><a href="{:url('admin/user/sign')}">二维码签到</a></li>
		</ul>
	</div>-->
	<!--<div class="classify_contents">
		<div>
			<ul>
				<li>
					<p>总用户</p>
					<p>{$result.user_num}</p>
				</li>
				<li>
					<p>当月新增用户</p>
					<p>{$result.month_user}</p>
				</li>
				<li>
					<p>当周新增用户</p>
					<p>{$result.week_user}</p>
				</li>
			</ul>
			<div class="apply_details">
				<div class="detail_table">
					<div class="title">报名人数</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>

							<td>{$result.last_week_order}</td>
							<td>{$result.week_order}</td>
						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">成交金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_order_price}</td>
							{/if} {if $result.week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_order_price}</td>
							{/if}

						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">充值金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_recharge}</td>
							{/if} {if $result.week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_recharge}</td>
							{/if}

						</tr>

					</table>
				</div>
			</div>
		</div>
		<div style="display:none;">
			<ul>
				<li>
					<p>总会员</p>
					<p>{$result.member_num}</p>
				</li>
				<li>
					<p>当月新增会员</p>
					<p>{$result.month_member}</p>
				</li>
				<li>
					<p>当周新增会员</p>
					<p>{$result.week_member}</p>
				</li>
			</ul>
			<div class="apply_details">
				<div class="detail_table">
					<div class="title">报名人数</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>

							<td>{$result.last_week_order}</td>
							<td>{$result.week_order}</td>
						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">成交金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_order_price}</td>
							{/if} {if $result.week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_order_price}</td>
							{/if}

						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">充值金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_recharge}</td>
							{/if} {if $result.week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_recharge}</td>
							{/if}

						</tr>

					</table>
				</div>
			</div>
		</div>
		<div style="display:none;">
			<ul>
				<li>
					<p>本月收入</p>
					<p>1860</p>
				</li>
				<li>
					<p>本周收入</p>
					<p>862</p>
				</li>
				<li>
					<p>本日收入</p>
					<p>86</p>
				</li>
			</ul>
			<div class="apply_details">
				<div class="detail_table">
					<div class="title">报名人数</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>

							<td>{$result.last_week_order}</td>
							<td>{$result.week_order}</td>
						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">成交金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_order_price}</td>
							{/if} {if $result.week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_order_price}</td>
							{/if}

						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">充值金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_recharge}</td>
							{/if} {if $result.week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_recharge}</td>
							{/if}

						</tr>

					</table>
				</div>
			</div>
		</div>
		<div style="display: none;">
			<ul>
				<li>
					<p>本月消费</p>
					<p>1860</p>
				</li>
				<li>
					<p>本周消费</p>
					<p>862</p>
				</li>
				<li>
					<p>当日消费</p>
					<p>86</p>
				</li>
				<li>
					<p>复购率</p>
					<p>20%</p>
				</li>
			</ul>
			<div class="apply_details">
				<div class="detail_table">
					<div class="title">报名人数</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>

							<td>{$result.last_week_order}</td>
							<td>{$result.week_order}</td>
						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">成交金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_order_price}</td>
							{/if} {if $result.week_order_price eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_order_price}</td>
							{/if}

						</tr>

					</table>
				</div>

				<div class="detail_table">
					<div class="title">充值金额</div>
					<table style="width: 687px;height:80px;" cellspacing="0" cellpadding="0" border="1" bordercolor="#ccc">

						<tr>
							<td>上周</td>
							<td>本周</td>
						</tr>
						<tr>
							{if $result.last_week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.last_week_recharge}</td>
							{/if} {if $result.week_recharge eq null}
							<td>0</td>
							{else/}
							<td>{$result.week_recharge}</td>
							{/if}

						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>-->
	<div id="main" style="width: 300px;height: 300px;border: 1px solid red;"></div>
	{include file="public/footer" /}
	<script>
		var mychart=echarts.init(document.getElementById('main'));
		
		var option={
			title: {
               show:false
            },
            tooltip: {},
            legend: {
            	data:['总用户','本月新增','本周新增'],
                orient:'vertical',
                right:80,
                bottom:60,
                icon:'circle'
            },
            xAxis: {
                data: ['{$result.user_num}','{$result.month_user}','{$result.week_user}']
            },
            yAxis: {show:false},
            series: [
               
            {
                name: '总用户',
                type: 'bar',
                data: [{$result.user_num}]
               
            },
            {
                name: '本月新增',
                type: 'bar',
                data: [{$result.month_user}]
            },
            {
                name: '本周新增',
                type: 'bar',
                data: [{$result.week_user}]
            }
           
            ]
		}
		mychart.setOption(option);
	</script>
</div>

