
{include file="public/header" /}
<div class="begin_wrap">
    <div class="content">
        <!--简介-->
        <div class="info">

            <div class="wrap_img">
                <img src="{$titleInfo.logo}" />
            </div>
            <!--简介内容-->
            <div class="info_main">
                <div class="info_title">
                    {$titleInfo.name}简介
                </div>
                <div class="info_content">
                    {$titleInfo.introduce}
                </div>
            </div>
            <!--轮播图-->
            <div class="banner">
                <div class="banner-btn">
                    <a href="javascript:;" class="prevBtn"><i></i></a>
                    <a href="javascript:;" class="nextBtn"><i></i></a>
                </div>
                <ul class="banner-img">
                    {foreach name="banner" item="vo"}
                    <li>
                        <a href="#">
                            <img src="{$vo.banner_url}">
                            <span class="f-tag">{$vo.banner_title}</span>
                        </a>
                    </li>
                    {/foreach}
                </ul>
                <!--<ul class="banner-circle"></ul>-->

            </div>

        </div>

        <!--五官栏目-->
        {foreach name="titleSon" item="vo"}
        <div class="content_one" id="{$vo.id}">

            <div class="title">
                <span>{$titleInfo.name}-{$vo.name}</span>
            </div>
            {foreach $result as $v}
            {if condition="$v.a_type eq $vo.id"}
            <div class="content_one_wrap">
                <div class="content_one_img">
                    <a href="{:url('home/Activity/detail',['aid'=>$v.aid])}"><img src="__AdminIMG__/{$v.a_index_img}" /></a>
                </div>
                <div class="content_one_info">
                    <div class="info_left">
                        <p class="name">{$v.a_title}</p>
                        <p class="name_info">{$v.a_remark}
                        </p>
                    </div>
                    <div class="info_right">
                        <a href="{:url('home/Activity/detail',['aid'=>$v.aid])}"><img src="__IMG__/sure.png" /></a>
                    </div>

                </div>
            </div>
            {/if}
            {/foreach}
        </div>
        {/foreach}
        <!--悬浮框-->
        <div class="tool">
            <ul class="tooll">
                {foreach name="titleSon" item="vo"}
                <li>
                    <a href="#{$vo.id}">{$vo.name}</a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</body>
{include file="public/footer" /}
<script src="__JS__/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/main.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/banner.js" type="text/javascript" charset="utf-8"></script>
</html>