* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
	/*background-color: #f9f9f9;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
dl,
dt,
dd,
form,
img,
p,
a,
i,
b,
div {
	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

img {
	border: 0;
}

a {
	border: 0;
	text-decoration: none;
}

a:focus {
	outline: none;
}

header {
	height: 100px;
	background-color: #ff4034;
	position: relative;
}

#logo,
.nav_left,
.nav_right {
	position: absolute;
}

#logo {
	left: 6%;
	top: 25px;
}

.nav_left {
	left: 24%;
	top: 40px;
}

.nav_right {
	right: 8%;
	top: 35px;
}

.nav_left li,
.nav_right li {
	display: inline-block;
}

.nav_left li a,
.nav_right li a {
	color: white;
}

.nav_left li {
	margin-left: 30px;
	border-radius: 7px;
}

.nav_right li {
	margin-left: 20px;
}

.nav_right li a img {
	vertical-align: middle;
}

.nav_left li a {
	padding: 2px 4px;
	color: white;
	border-radius: 7px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.content {
	width: 1000px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}

footer {
	text-align: center;
	font-size: 0.8em;
	color: gray;
	line-height: 50px;
	/*border: 1px solid red;*/
}


/*活动详情页*/

.begin_wrap {
	overflow: hidden;
}

.content {
	width: 1000px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}

.info {
	overflow: hidden;
	margin-top: 30px;
}

.info_title {
	padding: 8px 0;
	font-size: 24px;
	border-bottom: 2px solid #ff4134;
}

.wrap_img {
	float: left;
	clear: left;
	margin-top: 10px;
}

.wrap_img img {
	width: 240px;
}

.info_main {
	padding: 5px 20px 0 20px;
	float: left;
	width: 220px;
	height: 240px;
}

.title {
	border-bottom: 2px solid #ff4134;
	overflow: hidden;
	margin-bottom: 30px;
}

.title span {
	/*width: 880px;*/
	float: left;
	padding: 8px 0;
	font-size: 26px;
	font-weight: 700;
}

.title p {
	float: right;
	margin-top: 15px;
}

.title p a {
	color: #ff4134;
}

.content_one {
	margin: 50px 0;
}

.content_one_wrap {
	width: 310px;
	height: 390px;
	border: 1px solid #ebebeb;
	padding: 10px 7px;
	display: inline-block;
	background-color: white;
	margin: 0 2px;
}

.content_one_img img {
	width: 100%;
	height: 280px;
}

.info_left {
	width: 210px;
	float: left;
	padding: 5px;
}

.info_right {
	float: right;
	margin: 5px;
}

.name {
	font-size: 18px;
}

.name_info {
	font-size: 14px;
	margin-top: 5px;
}


/* banner */

.banner {
	width: 495px;
	height: 235px;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	margin-top: 20px;
}

.banner li a {
	width: 495px;
	height: 235px;
}

.banner img {
	width: 495px;
	height: 235px;
}

.banner-btn {
	display: none;
}

.banner-btn a {
	display: block;
	line-height: 40px;
	position: absolute;
	top: 100px;
	width: 40px;
	height: 40px;
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity=30) color:rgb(255, 255, 255);
	overflow: hidden;
	z-index: 4;
}

.prevBtn {
	left: 5px;
}

.nextBtn {
	right: 5px;
}

.banner-img {
	font-size: 0;
	*word-spacing: -1px;
	/* IE6、7 */
	letter-spacing: -3px;
	position: relative;
}

.banner-img li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	/* IE6、7 */
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	font-size: 12px;
}

.banner i {
	background: url(http://gtms01.alicdn.com/tps/i1/T1szNBFzlmXXX8QSDI-400-340.png) no-repeat;
	width: 15px;
	height: 23px;
	cursor: pointer;
	margin: 8px 0 0 12px;
	display: block;
}

.banner .nextBtn i {
	background-position: -200px -24px;
}

.banner .prevBtn i {
	background-position: -200px 0px;
}

.banner-circle {
	position: absolute;
	left: 50%;
	bottom: 20px;
	height: 13px;
	text-align: center;
	font-size: 0;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	filter: alpha(opacity:30);
}

.banner-circle li {
	border-radius: 10px;
	margin: 2px;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: middle;
	zoom: 1;
}

.banner-circle li a {
	display: block;
	padding-top: 9px;
	width: 9px;
	height: 0;
	border-radius: 50%;
	background: #B7B7B7;
	overflow: hidden;
}

.banner-circle .selected a {
	background: #F40;
}

.f-tag {
	position: absolute;
	bottom: 0px;
	width: 490px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}


/*悬浮*/

.tool {
	position: fixed;
	z-index: 100;
	top: 100px;
	left: 2px;
}

.tool ul li {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: #FF4134;
	line-height: 80px;
	text-align: center;
	margin-top: 4px;
	font-size: 20px;
}

.tooll li a {
	color: white;
}


/*登录后*/

.content2 {
	width: 1200px;
	margin: 0 auto;
}

.top_nav {
	height: 32px;
	width: 100%;
	background-color: white;
	font-size: 12px;
}

.top_right li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	line-height: 30px;
	display: inline;
}

.top_right li a {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
}

.top_right {
	float: right;
	color: #666666;
}

.top_right li:hover a {
	text-decoration: underline;
	color: #FF4134;
}

#topUserName {
	position: relative;
	padding-left: 25px;
}

#topUserImg {
	position: absolute;
	z-index: 5px;
	left: 0px;
	top: -2px;
	width: 22px;
	height: 22px;
}


/*鼠标移入下拉列表*/

#top_username {
	position: relative;
	padding-left: 18px;
}

#top_username img {
	position: absolute;
	z-index: 5px;
	left: 0px;
	top: -2px;
	width: 22px;
	height: 22px;
}

.header_user {
	width: 120px;
	margin-top: 10px;
	border: 1px solid #e6e6e6;
	border-top: none;
	border-bottom: none;
	text-align: left;
	background: #fff;
	font-size: 14px;
	display: none;
}

.header_user a {
	margin: 0;
	color: #666666;
}

.header_user li {
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	line-height: 35px;
}
.header_user a:hover {
	text-decoration: underline;
	color: #ff4134;
}


._IOrder {
	background-position: 25px 8px;
}

._AccountSet {
	background-position: 25px -27px;
}

._SateOut {
	background-position: 25px -55px;
}

._IHome a {
	co/lor: #71cd5f;
}

@media screen and (max-width: 1260px) {
	.nav_left li a,
	.nav_right li {
		font-size: 14px;
	}
	.nav_left li,
	.nav_right li {
		margin-left: 8px;
	}
}

@media screen and (max-width: 940px) {
	.nav_right {
		display: none;
	}
	.nav_left {
		margin-left: 70px;
	}
}
/*免费抢票*/
