/*我的*/

.personal_top {
	height: 60px;
	background-color: white;
}

.per_logo {
	margin-top: 10px;
	float: left;
}

.per_top_center {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.per_right {
	float: right;
	line-height: 60px;
}

.per_right a {
	color: #666666;
}

.personal_nav {
	height: 40px;
	background-color: #FF4134;
	line-height: 40px;
}

.personal_nav ul {
	width: 1000px;
	margin: 0 auto;
}

.personal_nav ul li,
.userRightNav li {
	list-style: none;
}

.personal_nav ul li a {
	text-decoration: none;
	color: white;
	margin-right: 50px;
}

.personal_nav ul li {
	float: left;
}

.per_ul li:hover a {
	text-decoration: underline;
}

.userBig {
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	overflow: hidden;
}

.userLName {
	background: #FF4134;
	height: 40px;
	color: #fff;
	line-height: 40px;
	padding-left: 15px;
	font-size: 14px;
}

.userLeft {
	width: 150px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
	float: left;
}

.per_ul li img {
	width: 25px;
	vertical-align: middle;
	margin-right: 10px;
}

.per_ul li {
	position: relative;
}

.tri,
.tri1 {
	/*border: 1px solid green;*/
	position: absolute;
	/*bottom: 1px;*/
	top: 26px;
	width: 28px;
	height: 20px;
	left: 45px;
}

.tri1 {
	display: none;
}

.userLeftNav li {
	list-style: none;
	border-bottom: 1px solid #e6e6e6;
	height: 35px;
	text-align: center;
	/*padding-left: 15px;*/
	padding-top: 6px;
	line-height: 30px;
	font-size: 14px;
}

.userLeftNav img {
	/*height: 20px;*/
	vertical-align: middle;
	margin-right: 10px;
}

.userLeftNav li a {
	text-decoration: none;
	color: #666;
	font-size: 16px;
}

.userLeftNav li:hover a {
	text-decoration: underline;
	color: #FF4134;
}

.userRight1 {
	width: 830px;
	/*border: 1px solid #e6e6e6;*/
	/*min-height: 680px;*/
	padding-bottom: 30px;
	float: right;
}

.user_info {
	height: 200px;
	overflow: hidden;
	position: relative;
}

.user_face_left img {
	width: 200px;
	height: 200px;
	float: left;
}

.user_face_left {
	float: left;
	width: 380px;
}

.user_face_right {
	float: right;
}

.user_info-1 {
	float: left;
}

.user_name {
	font-size: 20px;
}

.user_info-1 {
	margin-left: 25px;
	line-height: 25px;
	height: 180px;
	width: 250px;
}

.m_ac {
	width: 380px;
	height: 116px;
	border: 1px solid #e6e6e6;
	padding: 10px;
}

.user_ac_text {
	background-color: #FF4134;
	padding: 5px 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	overflow: hidden;
}

.user_ac_p {
	color: white;
	float: left;
}

.user_pro_list {
	overflow: hidden;
}

.user_pro {
	margin-top: 20px;
	width: 402px;
	float: left;
}

.user_ac_a {
	color: white;
	font-size: 15px;
	float: right;
}

.user_pro:nth-child(2),
.user_pro:nth-child(4) {
	margin-left: 25px;
}

.ac_name {
	width: 190px;
	float: left;
	height: 110px;
	line-height: 35px;
	margin-left: 20px;
	margin-top: 20px;
}

.my_activity_img {
	float: left;
}

.ac_settle_Time {
	font-size: 10px;
	color: #666666;
}

.favoriteList {
	padding-top: 25px;
}

.favoriteList1 {
	border-bottom: 1px solid #e6e6e6;
	height: 40px;
	color: #333px;
	font-size: 16px;
	line-height: 32px;
	width: 830px;
	margin-bottom: 20px;
}

.activeFList1 li {
	margin-right: 37px !important;
}

.activeFList-2 .fav_height {
	height: 20px;
}

.activeFList-2 .f {
	/*position:absolute;right:0px;*/
	float: right;
}

.activeFList {
	width: 930px;
	padding-top: 15px
}

.activeFList li {
	border: 1px solid #ebebeb;
	width: 250px;
	height: 290px;
	margin-right: 20px;
	margin-bottom: 25px;
	position: relative;
	float: left;
}

.activeFList li h4,
.activeFList li h4 a {
	font-size: 16px;
	color: #000;
	padding-top: 10px;
	width: 15em;
	height: 1.8em;
	line-height: 1.8em;
	overflow: hidden;
}

.activeFList li h4 a {
	padding-left: 10px;
	line-height: 28px;
}

.activeFList li h4 a:hover {
	color: #FF4134;
	text-decoration: none;
}

.activeFList li img {
	display: block;
	margin: 4px auto;
	width: 240px;
	height: 180px;
}

.activeFList-2 {
	position: relative;
	font-size: 18px;
	color: #ff4134;
	padding: 2px 8px 0 8px;
}

.activeFList-2 i {
	font-size: 12px;
	color: #666666;
}

.activeFList-2 span {
	position: absolute;
	right: 10px;
	font-size: 12px
}


/*我的活动*/

.userRight {
	width: 830px;
	border: 1px solid #e6e6e6;
	min-height: 680px;
	padding-bottom: 30px;
	float: right;
}

.userRightNav {
	width: 830px;
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
	line-height: 40px;
}

.userRightNav li {
	cursor: pointer;
	float: left;
	margin-right: 20px;
	padding: 0 30px;
	height: 39px;
}

.userRightNav li:hover {
	color: #ff4134;
}

.active_userRight {
	color: #ff4134;
	border-bottom: 3px solid #ff4134;
}

.allTableList th {
	border-bottom: 1px dotted #e6e6e6;
	line-height: 40px;
	text-align: center;
}

.allTableList {
	padding: 20px 0;
}

.allTableList table {
	width: 830px;
	margin: auto
}

.allTableList tr {
	border-bottom: 1px solid #e6e6e6;
}

.allTableList th {
	border-bottom: 1px dotted #e6e6e6;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
}

.allTableList td {
	vertical-align: middle;
	color: #999;
	padding: 15px 0;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
}

.orderInfo {
	position: relative
}

.orderInfo-1 {
	position: relative;
	padding-left: 5px;
}

.orderInfo-1 p {
	width: 27px;
	height: 22px;
	background-size: 27px 22px;
	position: absolute;
	top: 0;
	right: 4px;
}

.orderInfo-2 {
	padding: 0 0 0 5px;
	/*line-height: 20px;*/
	text-align: left
}

.orderInfo-2 h4 {
	width: 270px;
	padding-bottom: 5px;
}

.orderInfo-2 h4 a {
	font-size: 14px;
	font-weight: 600;
}

.allTableList td {
	color: #666;
}

.allTableList td a {
	display: block;
	text-align: center;
	color: #666;
}

.allTableList td h4 a {
	color: #333;
}

.allTableList td h4 p {
	color: #999;
}

.a1,
.a2 {
	color: #37b7ed;
	font-size: 12px;
	width: 80px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #e0e0e0;
	margin: auto;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 5px;
}

.a2 {
	background: #f5862c;
	color: #fff;
	border: none
}

.allTableList td a.a2 {
	color: #fff;
}

.a1 {
	background-color: #FF4134;
}

.z {
	float: left;
}

.no_pay,
.have_pay,
.no_access,
.refund {
	display: none;
}

#applicateBtn,
#commentBtn,
#refundBtn {
	color: white;
	border-radius: 5px;
	background-color: #FF4134;
	width: 100px;
	height: 32px;
	/*line-height: 28px;*/
	/*text-align: center;*/
	font-size: 15px;
	border: 0;
}

.refund_price {
	background-color: #fcf6e9;
	border: 1px dashed #f2e3c3;
	border-radius: 5px;
	padding: 8px;
	width: 520px;
	margin: 0 auto;
}

.refund_info span {
	font-size: 13px;
	color: #999999;
}


/*订单详情*/

.order_detail_top {
	margin: 20px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
	font-size: 17px;
}

.detailBox {
	margin: 0 0 10px 20px;
	font-size: 14px;
}

.detailBox span {
	display: inline-block;
	width: 255px;
	height: 30px;
	padding-right: 10px;
	line-height: 20px;
	color: #666
}

.order_detail-1 {
	background: #ededed;
	height: 30px;
	line-height: 30px;
	margin: 0 20px 20px 20px;
	padding-left: 5px;
	font-size: 14px;
}

.detail {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 20px;
	padding: 15px 0;
	overflow: hidden
}

.detail li {
	float: left
}

.w1 {
	width: 420px
}

.w2 {
	width: 220px
}

.detail-3 {
	color: #666
}

.detail-3 span {
	color: #999
}

.tittle_td {
	width: 180px;
	overflow: hidden;
	position: relative;
	height: 65px;
	text-align: left
}

.td_num {
	position: absolute;
	bottom: 0px
}

.order_detail-2 {
	margin: 20px;
	clear: both;
}

.b {
	height: 30px;
	line-height: 30px;
	margin-bottom: 6px;
	font-size: 15px;
	font-weight: bold;
	clear: both;
	border-bottom: 1px solid #eeeeee;
	margin-right: 20px;
	margin-top: 13px;
}

.bgcf37b1d {
	background-color: #f37b1d
}

.order_detail-4 {
	border-top: 1px solid #e6e6e6;
	padding-top: 40px;
	text-align: center
}

.order_detail-4 p {
	font-size: 16px;
	color: #333;
}

.order_detail-4 p i {
	background: url(../images/leftIco.png) no-repeat -220px -500px;
	display: inline-block;
	width: 40px;
	height: 38px;
	vertical-align: middle
}

.order_detail-4 a {
	margin-left: 20px;
	text-decoration: underline
}


/*退款*/

.refund_order {
	width: 750px;
	background-color: #ededed;
	margin-top: 20px;
	height: 50px;
	color: #666666;
	font-size: 13px;
	line-height: 50px;
}

.settle_table th {
	text-align: center;
}

.refund_detail {
	border-collapse: collapse;
	border: none;
}

.refund_detail td {
	border: 1px solid #e6e6e6;
}

.refund_info1 {
	background-color: #ededed;
	width: 700px;
	height: 60px;
	margin-top: 30px;
	font-size: 14px;
	color: #999;
	padding: 20px 25px;
	line-height: 20px;
}


/*我的收藏*/

.myfavorite {
	padding: 0 20px;
	width: 830px;
	overflow: hidden;
}

.myfavorite li {
	padding: 30px 0;
	position: relative;
	width: 820px;
	overflow: hidden;
	border-bottom: 1px solid #e6e6e6;
}

.nopay_myfavorite {
	display: none;
}

.myCollect {
	width: 500px;
	padding: 0 0 0 15px;
	font-size: 0.9em;
	line-height: 25px;
}

.myCollect a {
	color: #666;
}

.myCollect a:hover {
	border-bottom: 1px solid #666;
}

.myCollect p {
	color: #777;
}

.z {
	float: left;
}


/*我的消息*/

.myMessage {
	margin-left: 80px;
	margin-top: 20px;
	border: 1px solid #e6e6e6;
	padding: 6px 10px;
	width: 710px;
	line-height: 20px;
	position: relative;
	min-height: 53px
}

.myMessage span {
	color: #999;
	font-size: 0.8em;
}

.myMessage p a {
	color: #FF4134;
	font-weight: bold;
}

.myMessage p {
	font-size: 0.9em;
}

.myMessage-img img {
	width: 48px;
}

.myMessage-img {
	margin-left: 17px;
	margin-top: 10px;
}


/*账号设置*/

.setting_big {
	width: 1000px;
	height: 700px;
	border: 1px solid #e6e6e6;
	margin-top: 30px;
}

.appl {
	width: 250px;
	height: 700px;
	float: left;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 6px 10px;
	width: 137px;
	border-right: 1px solid #e6e6e6;
}

.tbn {
	margin: -6px -10px 0;
}

.userImg {
	padding: 17px 17px 20px;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
}

.userImg img {
	width: 100px;
	height: 100px;
}

.name {
	font-size: 14px;
	color: #999;
	line-height: 26px;
	padding-top: 10px;
}

.tbn .mt {
	padding: 10px;
}

.tbn ul {
	margin: 0;
}

.tbn ul a {
	height: 50px;
	line-height: 50px;
	margin: -1px 0 0;
	padding: 0 10px 0 9px;
	color: #666666;
}

.bbs {
	border-bottom: 1px solid #CDCDCD !important;
}


/*上传头像1*/

.imageBox {
	position: relative;
	height: 400px;
	width: 400px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
}

.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0, 0, 0, 0.7);
}


/*上传头像2*/

@charset "utf-8";
.container {
	width: 400px;
	margin: 40px auto 0 auto;
	position: relative;
	font-family: 微软雅黑;
	font-size: 12px;
}

.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}

.action {
	width: 400px;
	height: 30px;
	margin: 10px 0;
}

.cropped {
	position: absolute;
	right: -230px;
	top: 0;
	width: 200px;
	border: 1px #ddd solid;
	height: 460px;
	padding: 5px 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}

.imageBox {
	position: relative;
	height: 400px;
	width: 400px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0;
}

.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 17px;
	color: white;
}

.Btnsty_peyton {
	float: right;
	width: 66px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0px 2px;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0px 0px 5px #B0B0B0;
	border: 0px #fff solid;
}


/*选择文件上传*/

.new-contentarea {
	width: 165px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	float: left;
}

.new-contentarea label {
	width: 100%;
	height: 100%;
	display: block;
}

.new-contentarea input[type=file] {
	width: 188px;
	height: 60px;
	background: #333;
	margin: 0 auto;
	position: absolute;
	right: 50%;
	margin-right: -94px;
	top: 0;
	right/*\**/
	: 0px\9;
	margin-right/*\**/
	: 0px\9;
	width/*\**/
	: 10px\9;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2;
}

a.upload-img {
	width: 165px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}

a.upload-img:hover {
	background-color: #ec7e70;
}

.tc {
	text-align: center;
}

#savePortrait {
	padding: 5px 15px;
	border: none;
	background-color: #FF4134;
	color: white;
	border-radius: 5px;
	margin-top: 30px;
	margin-right: 200px;
	font-size: 20px;
}


/*账户管理*/

.appl_right {
	float: right;
	width: 860px;
	padding: 5px 12px;
}

.ct2_a .mn {
	width: 850px;
}

.ct2_a .mn {
	display: inline;
	margin-right: 10px;
	padding-top: 10px;
	width: 800px;
}

.ct2_a .mn {
	float: right;
	width: 810px;
}

.mn {
	overflow: hidden;
	height: 700px;
	position: relative;
}

.pbm {
	padding-bottom: 10px !important;
}

.mbm {
	margin-bottom: 10px !important;
}

.mtm {
	margin-top: 10px !important;
}

.bbda {
	border-bottom: 1px dashed #CDCDCD;
	color: #666666;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	width: 100%;
	color: #666666;
	font-size: 15px;
}

caption,
th {
	text-align: left;
	font-weight: 400;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td {
	padding: 7px;
}

.span1 {
	width: 130px;
	display: inline-block;
}

.newxi2 {
	display: inline-block;
	color: white;
	border-radius: 5px;
	/*border: 1px solid #a1a1a1;*/
	background-color: #FF4134;
	width: 110px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
}

.right_mark {
	height: 60px;
	font-size: 1.2rem;
	line-height: 60px;
	color: #666666;
	width: 900px;
	border-bottom: 1px solid #d3d3d3;
	/*text-align: start;*/
	color: #FF4134;
}

.person_ul {
	/*border: 1px solid red;*/
	margin: 5px 0;
}

.person_ul li {
	list-style: none;
	height: 30px;
	margin-bottom: 10px;
}

.person_ul li a {
	color: #008de1;
	text-decoration: none;
}

.person_ul span {
	text-align: end;
	/*border: 1px solid red;*/
	width: 90px;
	display: inline-block;
	font-size: 15px;
	float: left;
	margin-top: 8px;
}

#nickname,
#phoneNumber,
#email1 {
	width: 143px;
	height: 26px;
	font-size: 16px;
	/*padding: 0 15px;*/
}

#email1 {
	width: 200px;
}

.info_right {
	display: inline-block;
	margin-left: 20px;
	float: left;
}

#sure_send {
	font-size: 16px;
	width: 150px;
	height: 40px;
	border: 0;
	background-color: #FF4134;
	color: white;
	border-radius: 5px;
	position: absolute;
	bottom: 50px;
	right: 350px;
}

.info_right select {
	width: 110px;
	height: 26px;
	font-size: 16px;
}


/*修改密码,手机,弹窗*/

.alert_div {
	position: relative;
	width: 600px;
	height: 400px;
	background-color: white;
	/*display: none;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
	/*top: 130px;*/
	top: 60%;
	margin-top: -260px;
}

.close1 img {
	width: 50px;
	position: absolute;
	right: -15px;
	top: -15px;
}

.close1:hover img {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	/* IE 9 */
	-moz-transform: rotate(360deg);
	/* Firefox */
	-webkit-transform: rotate(360deg);
	/* Safari 和 Chrome */
	-o-transform: rotate(360deg);
	/* Opera */
	transition: all 0.5s;
}

.bg {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/*filter: Alpha(opacity=50);*/
	background: rgba(0, 0, 0, 0.2);
	/*display: none;*/
	z-index: 1000000;
	position: fixed;
}

.topic_txt:hover a {
	color: skyblue;
}

#changePhoneBg,
#changepasswordBg {
	display: none;
}

.alert_content {
	padding: 20px 15px;
	height: 400px;
}

#changePhoneBtn_sure,
.sendBtn,
#changePswBtn_sure {
	color: white;
	border-radius: 5px;
	background-color: #FF4134;
	width: 100px;
	height: 32px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	border: 0;
}

#newPhone,
#newPsw {
	width: 230px;
	font-size: 15px;
	padding: 5px;
}

#checkCode,
#checkCode2 {
	width: 130px;
	font-size: 15px;
	padding: 5px;
}

.alert_content .changephonediv {
	margin: 0 auto;
	margin-top: 80px;
	width: 270px;
}


.alert_content input {
	margin: 10px 0;
}

.check_info {
	font-size: 12px;
}


/*账户邮箱*/

.email {
	width: 400px;
	position: relative;
}

.email .on_changes {
	width: 200px;
	position: absolute;
	top: 40px;
	list-style: none;
	background: #FFF;
	border: 1px solid #999;
	display: none;
	padding: 10px;
	font-size: 13px;
}

.email .on_changes li {
	margin: 8px;
	padding: 4px;
}

.email .on_changes li.active {
	background: #CEE7FF;
}