<!DOCTYPE html>
<html>
{include file="public/header" /}

<head>
    <title>玩翫碗-免责申明</title>
    <style>
        #con div{
            margin-bottom: 20px;
            line-height: 25px;
            font-size: 12px;
        }
    </style>
</head>
<body style="font-size: 12px;">
<!--头部图片-->
<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" onclick="javascript:window.history.back(-1);" >
        <div class="comeback_img">
            <img src="__MobileImg__/second_back.png"/>
        </div>

    </div>

    <div class="title_word second_activity">版权声明</div>

</div>

<div id="con">

    <div>欢迎访问玩翫碗（"本网站"）。本网站将根据下列各项使用条款（"本条款"）为您提供服务，敬请仔细阅读。您访问或使用本网站，或接受本网站提供的服务，说明您已阅读、理解本条款，并同意遵守本条款。本条款可由河南创致行企业管理咨询有限公司（"我们"）随时更新，并且将会通过适当方式提示。本网站将会及时公布更新后的使用条款，一旦公布即取代原来的使用条款。
        如果您不同意本条款及或对本条款的更新，请不要申请、使用或继续使用、接受或继续接受本网站提供的服务。</div>
    <div>本网站的所有内容（包括但不限于文字、图表、商标、标识或名称、按钮图标、图像、照片、音频、视频影音资料、页面设计、编排、数据及软件等，但网站注册用户在论坛、博客、微博以及任何其他应用下粘贴、转载、上传、发表或以任何其他方式提供的信息、内容除外）之知识产权，均由我们及/或相关权利方单独或共同所有或被授权使用，并受著作权法和商标法等知识产权法律法规、中国签订的国际条约和其它相关法律、法规的保护。未经我们及/或相关权利方事先书面同意，请勿以任何方式自行、与他人共同或授权/协助他人使用、转载、修改、复制、发行、出售、发表或以其它任何方式使用本网站之内容，您若需此方面的服务，请和本网站相关部门人员接洽。 以上版权声明并不包含由本网站链接到的属于其他方的网站之内容。
        本网站不对该等其他链接网站的内容负责，
        任何对其他网站的链接仅为本网站用户的方便而设。</div>
</div>
</body>
</html>
