<!DOCTYPE html>
<html>
{include file="public/header" /}

<head>
    <title>玩翫碗-免责申明</title>
    <style>
        #con div{
            margin-bottom: 20px;
            line-height: 25px;
            font-size: 12px;
        }
    </style>
</head>
<body style="font-size: 12px;">
<!--头部图片-->
<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" onclick="javascript:window.history.back(-1);" >
        <div class="comeback_img">
            <img src="__MobileImg__/second_back.png"/>
        </div>

    </div>

    <div class="title_word second_activity">会员条款</div>

</div>

<div id="con">

    <div style="font-size: 12px;">
        <h3>1.服务协议的确认和接纳</h3>
        <div style="width: 100%;">玩翫碗是由河南创致行企业管理咨询有限公司创建和运行的网络平台。用户在接受玩翫碗服 务之前，请务必仔细阅读本条款并同意本声明。访问者访问本网站的行为以及通过各类方式 利用本网站的行为，都将被视作是对本声明全部内容的无异议的认可。
        </div>

        <div>1.1用户直接或间接通过各类方式(如站外API引用等）从事与本网站相关的所有行为（包 括但不限于访问浏览、利用、转载、宣传介绍）时，都将被视作已无条件接受本声明所涉全 部内容；若用户对本声明的任何条款有异议，请停止使用玩翫碗所提供的全部服务。
        </div>

        <div>1.2当使用玩翫碗服务时，用户承诺遵守中华人民共和国(下称“中国”)的承诺遵守法律法 规、国际公约、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息 真实性，且用户应当恪守下述承诺：
        </div>

        <div>1.2.1玩翫碗在修改条款时不再另行单独通知用户，用户可随时通过玩翫碗网站浏览最新 服务协议条款。用户只有在同意遵守所有适用的相关法律法规和本协议时，才有权使用玩翫 碗服务(无论用户是否有意访问或使用此服务)
        </div>

        <div>1.2.2如果不同意玩翫碗对本协议相关条款所做的修改，用户有权停止使用服务。如果用 户继续使用服务，则视为用户接受玩翫碗最新服务协议条款；
        </div>
        <div>1.2.3依本服务注册提示请用户填写正确的注册邮箱、密码和名号，并确保今后更新的登 录邮箱、名号、头像等资料的有效性和合法性。若用户提供任何违法、不道德或玩翫碗认为 不适合在玩翫碗上展示的资料；或者玩翫碗有理由怀疑用户的资料属于程序或恶意操作，玩 翫碗有权暂停或终止用户的帐号，并拒绝用户于现在和未来使用本服务之全部或任何部分；
        </div>
        <div>1.2.4玩翫碗仅对用户的信息与资料进行形式审查，对用户信息与资料不进行实质性审查 （实质性审查包括但不限于鉴别、核实任何登记资料的真实性、正确性、完整性、适用性及 /或是否为最新资料的审查），对此所产生的纠纷玩翫碗不承担过错责任；
        </div>
        <div>1.2.5同时，作为用户有不断更新个人资料，以保证用户信息和资料的更改及时、详尽、 准确的义务；
        </div>
        <div>1.2.6用户有义务在其注册信息发生变动时及时更新注册信息以保证在使用该等信息时的 准确性、合法性；
        </div>
        <div>1.2.7玩翫碗有权根据需要随时对本协议进行更新，且毋须另行通知。玩翫碗将在网站重 要页面上提示修改内容。修改后的服务协议一旦在网页上公布即有效代替原来的服务协议， 任何对本协议作出的修改自发布之时起生效。如果用户在本协议修改发布后继续使用玩翫碗 服务，则表示用户同意遵守对本协议所作出的修改。因此，请用户务必定期查阅本协议，以 确保了解所有关于本协议的最新修改。如果用户不同意玩翫碗对本协议进行的修改，请用户 离开玩翫碗平台并立即停止使用玩翫碗服务。
        </div>
    </div>

    <div>
        <h3>2.用户使用规则</h3>
        <div>2.1 用户注册时将自己设定帐号和密码，该帐号和密码由用户负责保管； 账号为用户本人所提供的手机号码或者邮箱，手机号码或邮箱必须经过验证方可使用； 用户应当对以其进行的所有行为负法律责任。用户不应将其帐号、密码转让或出借予他人使用。 如用户发现其帐号遭他人非法使用，应立即采取相应行动以防止侵害扩大。因黑客行为或用户的保管疏忽导致帐号、 密码遭他人非法使用，玩翫碗不承担任何责任。
        </div>

        <div>2.2 用户在使用玩翫碗服务时，须向玩翫碗提供真实准确的个人资料并及时更新。用户从使用玩翫碗开始， 玩翫碗将根据用户的权限设置进行用户资料信息保密工作。
        </div>
        <div>2.3 用户同意接受玩翫碗通过电子邮件、短信或其他方式向用户发送会议通知及其相关信息。</div>
        <div>2.4 根据有关法律法规，玩翫碗在此郑重提请用户注意， 任何经由本服务而发布、上传的文字、资讯、资料、照片、图形、视讯、信息或其它资料（以下简称“内容”）， 无论是公开还是私下传送，均由内容提供者承担责任。玩翫碗仅为用户提供内容存储空间，无法控制经由本服务传送之内容， 因此不保证内容的正确性、完整性或符合用户的预期性。在任何情况下，玩翫碗均不为任何内容负责， 但玩翫碗有权依法停止传输任何前述内容并采取相应措施， 包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关机关报告。
        </div>
        <div>2.5 用户保证和声明对其通过玩翫碗服务上传到网站上的内容拥有完整的合法的知识产权，对此承担瑕疵担保责任，保证玩翫碗使用该内容不违反国家的法律法规，也不侵犯第三方的合法权益或承担任何义务。用户承诺上传的内容不涉及侵犯他人著作权、商标、名誉、隐私及其他一切违法内容。 用户应对其所提供内容因形式、内容及授权的不完善、不合法所造成的一切后果承担完全责任。
        </div>
        <div>2.6 用户承诺遵循中华人民共和国有关互联网使用以及金融支付的的法律法规，不从事洗钱、诈骗、以及其他任何破坏社会主义经济秩序的活动；用户使用本服务的行为若有任何违反国家法律法规或侵犯 任何第三方的合法权益的情形时，玩翫碗将保留向公安机关以及国家有关监管部门举报的权利。
        </div>
        <div>2.7在用户使用玩翫碗服务或用户作为注册用户期间，本协议将保持完整的效力和有效性。 如有与法律相抵触或不符合本协议之情况，玩翫碗可以在不发出通知的情况下，随时终止用户的注册用户资格。
        </div>

    </div>

    <div>
        <h3>3.隐私保护</h3>
        <div>3.1用户信息的使用：</div>
        <div>3.1.1玩翫碗不会向任何人出售或出借用户信息，不允许任何未经用户许可的第三方查看用户的信息以及用户举办的活动的参加人员信息，除非事先得到用户的许可；</div>
        <div>3.1.2玩翫碗可使用用户的个人信息为用户提供服务，如向用户发出官方活动信息、活动邀请信息、第三方活动通知、活动内部信息变更通知等情况， 或经用户同意与玩翫碗合作伙伴共享信息；
        </div>
        <div>3.2用户个人信息披露：用户的个人信息将在下述情况下部分或全部被披露：</div>
        <div>3.2.1经用户同意，向第三方披露；</div>
        <div>3.2.2根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</div>
        <div>3.2.3如果用户出现违反中国有关法律或者网站政策的情况，需要向第三方披露；</div>
        <div>3.2.4为提供用户所要求的商品和服务，而必须和第三方分享用户的个人信息；</div>
        <div>3.2.5其他玩翫碗根据法律或者网站政策认为必要的披露。</div>
        <div>3.3信息安全：</div>
        <div>3.3.1请用户妥善保管账户及密码信息；如果用户发现自己的个人信息泄密，尤其是玩翫碗账户及密码泄露，请用户立即联络玩翫碗客服，以便玩翫碗采取相应措施。</div>

    </div>

    <div>
        <h3>4.服务内容介绍</h3>
        <div>4.1网络信息服务：指活动主办方(用户)根据本协议的规定使用玩翫碗管理平台发布活动信息、作为主办方与其它用户订立活动票务买卖合同、评价其它用户的信用、 参加玩翫碗的有关活动以及其他由玩翫碗同意提供的信息服务；
        </div>
        <div>4.2玩翫碗管理平台群发信息服务：指玩翫碗管理平台为商业提供的活动推广及通知邀请等服务；</div>
        <div>4.3二级域名服务：指用户经玩翫碗审核批准可使用的玩翫碗域名下二级域名的服务，该服务必须遵照玩翫碗颁布的有关二级域名的规则；</div>
        <div>4.4活动设备租赁与购买；</div>
        <div>4.5其他服务：包括但不限于市场调研、商业推广、广告等服务，由协议方在补充协议中确定。 玩翫碗保留在任何时候自行决定对服务及其相关功能、应用软件变更、升级的权利。玩翫碗进一步保留在服务中开发新的模块、功能和软件或其它语种服务的权利。上述所有新的模块、功能、软件服务的提供，除非玩翫碗另有说明，否则仍适用本协议。服务随时可能因玩翫碗的单方判断而被增加或修改，或因定期、不定期的维护而暂缓提供，用户将会得到相应的变更通知。用户在此同意玩翫碗在任何情况下都无需向其或第三方在使用服务时对其在传输或联络中的迟延、不准确、错误或疏漏及因此而致使的损害承担损害赔偿责任。
        </div>
    </div>

    <div>
        <h3>5.知识产权</h3>
        <div>5.1玩翫碗提供的服务中包含的任何文本、图片、图形、音频和视频资料等内容均受相关知识产权法律的保护，未经相关权利人同意，上述资料均不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行，或者被用于其他任何商业目的。玩翫碗不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、 不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿，以任何形式， 向用户或任何第三方负责。
        </div>
        <div>5.2本服务及本服务所使用之相关软件（以下简称“软件”）含有受到相关知识产权及其它法律保护的专有保密资料。用户也了解并同意，经由本服务或广告商向用户呈现之赞助广告或信息所包含之内容，亦受到著作权、商标权、服务商标、专利权或其它专属权利之法律保护。未经玩翫碗或广告商明示授权，用户不得修改、出租、出借、出售、散布本服务或软件之任何部份或全部，或据以制作衍生著作，或使用擅自修改后的软件，包括但不限于为了未经授权而使用本服务之目的。玩翫碗仅授予用户个人、不可移转及非专属之使用权，使用户得于单机计算机使用其软件之目的码，但用户不得（并不得允许任何第三人）复制、修改、创作衍生著作、进行还原工程、反向组译，或以其它方式发现原始码，或出售、转让、再授权或提供软件设定担保，或以其它方式移转软件之任何权利。 用户同意将通过由玩翫碗所提供的界面而非任何其它途径使用本服务。
        </div>
        <div>5.3 用户在玩翫碗上传或发布的内容，用户应保证其为著作权人或已取得合法授权，并且该内容不会侵犯任何第三方的合法权益，用户同意授予玩翫碗所有上述内容在全球范围内的免费、不可撤销的、永久的、可再许可或转让的独家使用权许可， 据该许可玩翫碗将有权以展示、推广及其他不为我国法律所禁止的方式使用前述内容。
        </div>

    </div>

    <div>
        <h3>6.禁止发布的内容</h3>
        <div>6.1请谨慎选择用户发布在玩翫碗上的信息以及用户通过玩翫碗服务提供给其他用户的信息。根据相关的法律法规， 任何组织或者个人不得利用玩翫碗管理平台或玩翫碗服务制作、上载、复制、发布、传播：
        </div>
        <div>1)反对宪法所确定的基本原则的；</div>
        <div>2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</div>
        <div>3)损害国家荣誉和利益的；</div>
        <div>4)煽动民族仇恨、民族歧视，破坏民族团结的；</div>
        <div>5)破坏国家宗教政策，宣扬邪教和封建迷信的；</div>
        <div>6)散布谣言，扰乱社会秩序，破坏社会稳定的；</div>
        <div>7)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</div>
        <div>8)侮辱或者诽谤他人，侵害他人合法权益的；</div>
        <div>9)含有法律、行政法规禁止的其他内容的信息。</div>
        <div>如果用户知道任何人违反上述规定或以不当的方式使用玩翫碗服务，请直接联系玩翫碗客服。玩翫碗不对用户就任何注册用户提供的任何资料承担责任。</div>
        <div>6.2除上述一般条款的规定，如下列出了部分非法或被禁止在玩翫碗服务中或通过玩翫碗服务发布的内容类型。玩翫碗保留依其自行判断对违反本条款的任何人士采取适当法律行动的权利，包括但不限于从玩翫碗服务中删除具有冒犯性的信息，终止违反者的注册用户资格， 依据法律法规保存相关信息，并向中国有关部门报告。禁止的内容包括但不限于如下：
        </div>
        <div>1)公然冒犯他人，宣扬种族主义、偏见、仇恨，或者针对任何团体或个人的任何类型的人身伤害；</div>
        <div>2)骚扰行为或支持他人骚扰；</div>
        <div>3)以性或暴力方式侵犯他人；</div>
        <div>4)包含裸体、暴力或冒犯性主题，或包含成人网站的链接；</div>
        <div>5)宣传用户已知是虚假的或有误导性的信息，或者宣传非法活动或具有侮辱性、威胁性、淫秽性、诽谤性或诬蔑性的行为；</div>
        <div>6)宣传著作权归他人所有的作品之非法或未经授权的副本，例如提供盗版计算机程序或指向程序的链接，提供避开制造商安装的防复制设备的信息；</div>
        <div>7)涉及传输“垃圾邮件”、“连锁信”，或涉及传输邀约滥发的群发邮件、即时消息、“垃圾即时消息”或“兜售信息”；</div>
        <div>8)包含受限制或需要密码才能访问的页面，或者隐藏的页面或图片(未链接到或未成功链接自其他可访问页面的那些页面或图片)；</div>
        <div>9)助长或宣传任何犯罪活动或计划，或者提供有关非法活动的指导信息，包括但不限于制造或购买非法武器、侵犯他人隐私，或者提供或制造计算机病毒；</div>
        <div>10)诱骗其他用户的密码或个人识别信息用于商业或非法用途；</div>
        <div>11)包含未经我们事先书面同意便涉及商业活动和/或销售活动,例如竞赛、抽奖、实物交易、广告或传销；</div>
        <div>12)包含用户未征得他人同意而发布的他人照片。</div>

    </div>

    <div>
        <h3>7.禁止的活动</h3>
        <div>用户承诺将不会利用本服务进行任何违法或不正当的活动，玩翫碗保留依其自行判断对违反本条款的任何人士采取适当法律行动的权利，包括但不限于根据中国相关法律法规的要求向中国有关部门报告。禁止的活动包括但不限于如下：</div>

        <div>1)犯罪或侵权活动，包括发布儿童色情制品、欺诈、淫秽材料交易、毒品交易、赌博、骚扰、在线盯梢、 发送垃圾邮件、发送垃圾即时消息、发送病毒或其他有害文件、侵犯著作权、侵犯专利或盗窃商业秘密；
        </div>
        <div>
            2)未经玩翫碗的授权或批准，通过玩翫碗服务向任何注册用户做广告，诱使其购买或向其销售任何产品或服务。用户不得向其他注册用户传输任何连锁电子邮件或垃圾邮件。在未经注册用户事先明确同意的情况下，使用从玩翫碗服务中获取的任何信息联系注册用户、向其做广告、诱使其购买或向其销售产品的行为同样违反了这些规则。为了保护我们的注册用户免受此类广告或推销的骚扰，玩翫碗保留限制注册用户可以发送给其他注册用户一定数量的电子邮件及短信的权力，具体邮件、短信数量以玩翫碗单方面认为合适的数量为准。如果用户违反本协议，通过玩翫碗服务以垃圾邮件、骚扰短信、即时消息或以其他任何形式为载体发送垃圾信息，用户承认这将对玩翫碗造成严重的损害，但该等损害的程度却难以确定。作为对该等损害的合理估计，用户同意向玩翫碗支付任何具有管辖权的政府机构因用户的行为而要求玩翫碗负担的罚金，外加就每封通过玩翫碗服务发送的此类垃圾邮件、垃圾短信或其他垃圾信息支付人民币800元的赔偿金。 用户同意玩翫碗可在所有适用的司法辖区内寻求禁止令救济以停止该等行为；
        </div>
        <div>3)任何对系统的自动使用，例如使用脚本添加朋友或发送留言、信件等 </div>
        <div>4) 干扰、破坏玩翫碗服务或连接到玩翫碗服务的网络或服务，或者对其造成不适当的负担；</div>
        <div>5)试图冒充其他注册用户或其他人；</div>
        <div>6)宣传著作权归他人所有的作品之非法或未经授权的副本，例如提供盗版计算机程序或指向程序的链接， 提供避开制造商安装的防复制设备的信息；
        </div>
        <div>7)出售或以其他方式转让用户的档案文件；</div>
        <div>8)使用从玩翫碗服务获得的任何信息骚扰、侮辱或伤害他人；</div>
        <div>9)在用户的自我介绍文件上显示广告，或者接受第三方的付款或任何有价值的物品作为对用户代表该第三方在玩翫碗服务中或通过玩翫碗服务进行任何商业活动的酬劳，例如发布具有商业目的的日志或公告、 或者发送具有商业目的的私人消息；
        </div>
        <div>10)以违反任何和所有适用法律和法规的方式使用玩翫碗服务。</div>
    </div>

    <div>
        <h3>8.风险与免责</h3>
        <div>用户通过本网站与广告商或其他第三方进行任何形式的通讯或商业往来，或参与促销活动，包含相关商品或服务之付款及交付（参见《玩翫碗代收款协议》），以及达成的其它任何相关条款、条件、保证或声明，完全为用户与广告商及其他第三方之间之行为。 用户因前述任何交易或前述广告商及其他第三方而遭受的任何性质的损失或损害，玩翫碗对此不负任何法律责任。
        </div>
        <div>8.1 基于互联网的开放性和社交网络服务的传播特殊性，玩翫碗特别提醒用户谨慎注意以下风险：</div>
        <div>8.1.1本服务仅提供一个在线活动管理平台，用户应当对其他用户使用本服务所发布的内容进行独立判断并承担因依赖该内容而引起的所有风险，包括但不限于因对内容的正确性、完整性或实用性的依赖而产生的风险以及因用户个人信息被其他用户获知而带来的风险。 用户了解并确认，玩翫碗不对本服务用户之间的纠纷承担任何责任；
        </div>
        <div>8.1.2用户在使用本服务过程中所发布的内容有可能会被第三方复制、转载、 修改或做其他用途，脱离用户的预期和控制，用户必须充分意识此类风险的存在，玩翫碗对由此产生的纠纷不予负责；
        </div>
        <div>8.1.3请用户切勿在使用本服务时透露任何涉及财产、本服务帐户及密码等重要信息，否则，由此带来的损失由用户自行承担。</div>
        <div>8.2 在法律法规所允许的限度内，因使用玩翫碗服务而引起的任何损害或经济损失，玩翫碗承担的全部责任均不超过用户所购买的与该索赔有关的服务价格。 这些责任限制条款将在法律所允许的最大限度内适用，并在用户资格被撤销或终止后仍继续有效。
        </div>
        <div>8.3 河南创致行企业管理咨询有限公司不担保玩翫碗提供给用户的全部信息或从玩翫碗发出的信息没有病毒或其他有害成分。</div>
        <div>8.4 就下列相关事宜的发生，玩翫碗不承担任何法律责任：</div>
        <div>8.4.1由于用户将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因玩翫碗原因导致的个人信息的泄漏；</div>
        <div>8.4.2任何由于政府管制而造成的暂时性网站关闭；</div>
        <div>8.4.3因不可抗力导致的任何后果。</div>
        <div>8.5 本协议适用中华人民共和国的法律，所有的争端将诉诸河南创致行企业管理咨询有限公司所在地的人民法院。</div>
    </div>

    <div>
        <h3>9.协议变更、服务变更、中断或终止</h3>
        <div>9.1本服务条款可由玩翫碗根据需要随时更新，且毋须另行通知。玩翫碗将在网站重要页面上提示修改内容。 修改后的使用协议一旦在网页上公布即有效代替原来的使用协议。此外， 当用户使用玩翫碗特殊服务时，用户和玩翫碗应遵守玩翫碗随时公布的与该服务相关的指引和规则。 前述所有的指引和规则，均构成本使用协议的一部分。如用户不同意相关变更，必须停止使用“服务”。 登录或继续使用“服务”将表示用户接受经修订的协议。
        </div>
        <div>9.2 鉴于服务的特殊性，用户同意玩翫碗有权随时变更、中断或终止部分或全部的服务（包括收费服务）。如变更、中断或终止的服务属于免费服务， 玩翫碗无需通知用户，也无需对任何用户或任何第三方承担任何责任。
        </div>
        <div>9.3 用户理解，玩翫碗需要定期或不定期地对提供服务的平台（如互联网网站、移动应用等）或相关的设备进行检修或者维护，如因此类情况而造成收费服务在合理时间内的中断， 玩翫碗无需为此承担任何责任，玩翫碗会尽可能事先进行通告。
        </div>
        <div>9.4 如发生下列任何一种情形，玩翫碗有权随时中断或终止向用户提供本协议项下的服务（包括收费服务）而无需对用户或任何第三方承担任何责任：</div>
        <div>1）用户提供的个人资料不真实；</div>
        <div>2）用户违反本协议中规定的使用规则；</div>
        <div>3）用户在使用收费服务时未按规定向玩翫碗支付相应的服务费。</div>
        <div>9.5用户同意玩翫碗基于其自行之考虑，因任何理由，包含但不限于缺乏使用，或认为用户已经违反本使用协议的文字及精神，终止用户的帐号或本服务之使用（或服务之任何部分），并将用户在本服务内任何内容加以移除并删除。用户同意依本使用协议任何规定提供之本服务，无需进行事先通知即可中断或终止，用户承认并同意，玩翫碗可立即关闭或删除用户的帐号及用户帐号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，
            用户同意若本服务之使用被中断或终止或用户的帐号及相关信息和文件被关闭或删除，
            玩翫碗对用户或任何第三人均不承担任何责任。</div>

    </div>

    <div>
        <h3>10.适用的法律和管辖权</h3>
        <div>10.1用户同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用用户的密码和用户的帐号使用本服务的任何行为及其结果承担全部责任。如用户的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由用户承担全部法律责任。同时如果玩翫碗有理由认为用户的任何行为，包括但不限于用户的任何言论和其它行为违反
            或可能违反国家法律和法规的任何规定，玩翫碗可在任何时候不经任何事先通知终止向用户提供服务。</div>
        <div>10.2用户同意在不违反本法对级别管辖和专属管辖的规定的情况下,就任何本协议引发或与本协议有关的争议、
            纠纷或索赔向河南创致行企业管理咨询有限公司住所地的人民法院提起诉讼。</div>

    </div>

    <div>
        <h3>11. 其他</h3>
        <div>11.1 若用户对本声明的任何条款有异议，请停止使用玩翫碗所提供的全部服务。根据互联网的发展和中华人民共和国有关法律、法规的变化，玩翫碗将不时地完善和修改服务协议条款，玩翫碗修改条款时不另行单独通知用户，
            用户可随时通过玩翫碗浏览最新服务协议条款。
            如果用户继续使用服务，则视为用户接受玩翫碗最新服务协议条款。</div>
        <div>
            11.2 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
        </div>
        <div>11.3 若用户和玩翫碗之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，用户同意将纠纷或争议提交河南创致行企业管理咨询有限公司住所地的人民法院管辖。</div>

        <div>11.4 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</div>
        <div>11.5 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</div>
        <div>11.6 本服务协议的最终解释权归河南创致行企业管理咨询有限公司所有。</div>

    </div>
</div>
</body>
</html>
