html {
	font-size: 18px
}

.textAlign {
	width: 90%;
	margin: 0px auto;
	display: flex
}

.into_page {
	width: 90%;
	margin: 20px auto 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 12px
}

.into_page span:nth-child(1) {
	margin-right: 2%
}

.into_page span a {
	color: #FF4134
}

.comeback {
	justify-content: flex-start;
	margin-top: 20px
}

.comeback .comeback_img {
	width: 8.5%;
	height: 28px
}

.comeback .comeback_img img {
	width: 100%;
	height: 100%
}

.almost {
	width: 90%;
	margin: 40px auto 0px
}

.almost .title_img {
	width: 50%;
	margin: 0px auto;
	height: 34px;
	position: relative
}

.almost .title_img img {
	width: 100%;
	height: 100%
}

.almost .title_img .playBady_word {
	font-size: 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	line-height: 32px;
	color: #FFFFFF;
	letter-spacing: 10px;
	margin-left: 15px
}

.header {
	justify-content: center;
	margin-bottom: 40px;
	justify-content: center;
	align-items: center;
	margin-top: 40px
}

.header .header_img {
	width: 42%;
	height: 100px
}

.header .header_img img {
	width: 100%;
	height: 100%
}

.nav ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap
}

.nav ul li {
	margin-right: 6.6%;
	width: 20%;
	height: 25px;
	line-height: 22px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ff4134;
	color: #ff4134;
	font-size: 12px;
	margin-bottom: 10px
}

.nav ul li:nth-child(4) {
	margin-right: 0px
}

.nav ul li:nth-child(8) {
	margin-right: 0px
}

.nav ul li a {
	color: #ff4134
}

.nav ul .play_baby {
	background: #FF4134;
	color: #FFFFFF
}

.nav ul .play_baby a {
	color: #FFFFFF
}

.device {
	width: 100%;
	height: 150px;
	background: #111;
	margin: 20px auto;
	position: relative
}

.device .swiper-container {
	width: 100%;
	height: 100%
}

.device .swiper-container .swiper-wrapper {
	width: 100%;
	height: 100%
}

.device .swiper-container .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 100%
}

.device .swiper-container .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: 100%
}

.device .pagination {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: -40px;
	width: 100%
}

.device .pagination .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	text-align: center;
	border-radius: 50%;
	background: #b3b3b3;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
	cursor: pointer;
	position: relative
}

.device .pagination .swiper-active-switch {
	background: #FF4134
}

.playBaby_content {
	width: 90%;
	margin: 40px auto 0px
}

.playBaby_content .content {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 103px;
	box-shadow: 0px 0px 8px #FF4134;
	margin-top: 25px
}

.playBaby_content .content .baby_img {
	width: 23%;
	height: 64px
}

.playBaby_content .content .baby_img img {
	width: 100%;
	height: 100%
}

.playBaby_content .content .baby_detail {
	line-height: 15px;
	width: 72%;
	height: 64px;
	margin-left: 5%;
	font-size: 10px;
	color: #252525
}

.playBaby_content #leave_content {
	height: 250px
}

#personal_center,
.playBaby_content {
	height: auto
}

#personal_center .content,
.playBaby_content .content {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px
}

#personal_center .content .center_img,
.playBaby_content .content .center_img {
	border-radius: 50%;
	border: 1px solid #FF4134
}

#personal_center .content .baby_detail,
.playBaby_content .content .baby_detail {
	padding-top: 10px;
	height: auto
}

#personal_center .content .baby_detail ul li,
.playBaby_content .content .baby_detail ul li {
	margin-bottom: 10px
}

#personal_center .content .baby_detail ul li:nth-child(1),
.playBaby_content .content .baby_detail ul li:nth-child(1) {
	font-size: .88889rem;
	color: #252525
}

#personal_center .content .baby_detail ul li:nth-child(2),
.playBaby_content .content .baby_detail ul li:nth-child(2) {
	white-space: initial;
	line-height: 15px
}

#personal_center .content .baby_detail ul li:nth-child(3),
.playBaby_content .content .baby_detail ul li:nth-child(3) {
	width: 10%;
	height: 20px
}

#personal_center .content .baby_detail ul li:nth-child(3) img,
.playBaby_content .content .baby_detail ul li:nth-child(3) img {
	width: 100%;
	height: 100%
}

.five_organs .five_content {
	margin-top: 19px
}

.five_organs .five_content .slide {
	box-sizing: border-box
}

.five_organs .five_content .slide ul {
	padding: 5% 5% 5% 5%;
	overflow: hidden;
	border: 1px solid #FF4134;
	height: 249px;
	position: relative
}

.five_organs .five_content .slide ul li:nth-child(1) {
	width: 100%;
	height: 120px
}

.five_organs .five_content .slide ul li:nth-child(1) img {
	width: 100%;
	height: 100%
}

.five_organs .five_content .slide ul li:nth-child(2) p {
	margin-top: 10px
}

.five_organs .five_content .slide ul li:nth-child(2) p:nth-child(1) {
	color: #FF4134;
	font-size: 12px
}

.five_organs .five_content .slide ul li:nth-child(2) p:nth-child(2) {
	color: #373737;
	font-size: 10px;
	line-height: 16px
}

.five_organs .five_content .slide ul li:nth-child(3) {
	width: 90%;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 10px
}

.five_organs .five_content .slide ul li:nth-child(3) div {
	width: 44%;
	height: 20px;
	line-height: 20px
}

.five_organs .five_content .slide ul li:nth-child(3) div a {
	display: inline-block;
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 19px;
	font-size: 10px;
	border-radius: 10px;
	border: 1px solid #FF4134
}

.five_organs .five_content .slide ul li:nth-child(3) div:nth-child(1) a {
	color: #FF4134
}

.five_organs .five_content .slide ul li:nth-child(3) div:nth-child(2) a {
	background: #FF4134;
	color: #FFFFFF
}

.bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	padding-top: 20px;
	padding-bottom: 20px
}

.bottom .erweima {
	width: 11%;
	height: 40px;
	margin-right: 2%;
	border: 1px solid red
}

.bottom .bottom_title {
	width: 75%;
	height: 40px
}

.bottom .bottom_title ul {
	overflow: hidden;
	margin-bottom: 10px
}

.bottom .bottom_title ul li {
	line-height: 18px;
	float: left;
	font-size: 12px;
	color: #252525;
	margin-right: 1%
}

.bottom .bottom_title ul li:nth-child(9) {
	margin-right: 0px
}

.bottom .bottom_title ul .line {
	margin-top: -1px
}

.bottom .bottom_title .tel {
	color: #252525;
	font-size: 12px
}

.copyright {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	color: #656565;
	white-space: nowrap
}

.copyright .first {
	margin-bottom: 8px
}

.wanwanContent {
	display: flex;
	margin: 20px auto;
	width: 90%;
	align-items: center;
	flex-direction: column;
	justify-content: center
}

.wanwanContent div {
	color: #656565;
	font-size: .66667rem;
	margin-bottom: 10px;
	white-space: nowrap
}

.wanwanContent div:nth-child(1) {
	width: 53%
}

.wanwanContent #first {
	width: 43%
}

.wanwanContent .second {
	margin-top: 10px
}

#idea_system #slider .slide {
	width: 100%
}

#idea_system #slider .slide .system_total {
	height: 278px;
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #FF4134
}

#idea_system #slider .slide .system_total div {
	font-size: .55556rem;
	color: #656565;
	margin-top: 8px;
	white-space: nnowrap
}

#idea_system #slider .slide .system_total div:nth-child(1) {
	width: 70%;
	height: 100px
}

#idea_system #slider .slide .system_total div:nth-child(1) img {
	width: 100%;
	height: 100%
}

#idea_system #slider .slide .system_total .content {
	margin-top: 15px
}

.playBaby_content .center_img {
	border-radius: 50%;
	border: 1px solid #FF4134
}

.playBaby_content .baby_detail ul li {
	margin-bottom: 10px
}

.playBaby_content .baby_detail ul li:nth-child(1) {
	font-size: .88889rem;
	color: #252525
}

.playBaby_content .baby_detail ul li:nth-child(2) {
	white-space: nowrap
}

.playBaby_content .baby_detail ul li:nth-child(3) {
	width: 10%;
	height: 20px
}

.playBaby_content .baby_detail ul li:nth-child(3) img {
	width: 100%;
	height: 100%
}

.five_organs .activity_content {
	margin-top: 15px;
	width: 100%
}

.five_organs .activity_content ul {
	display: flex;
	width: 100%
}

.five_organs .activity_content ul li {
	width: 19%;
	height: 25px;
	line-height: 23px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ff4134;
	color: #FF4134;
	font-size: .55556rem;
	margin-right: 2%
}

.five_organs .activity_content ul li:nth-child(5) {
	margin-right: 0
}

.five_organs .activity_content ul .play_baby {
	background: #FF4134;
	color: white
}

.five_organs .myActivity_content,
.five_organs .my_Activity_content {
	margin-top: 25px
}

.five_organs .myActivity_content .myActivity_big,
.five_organs .my_Activity_content .myActivity_big {
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap
}

.five_organs .myActivity_content .myActivity_big .activity_part,
.five_organs .my_Activity_content .myActivity_big .activity_part {
	width: 48%;
	border: 1px solid #FF4134;
	margin-right: 0.3%;
	margin-bottom: 10px
}

.five_organs .myActivity_content .myActivity_big .activity_part ul,
.five_organs .my_Activity_content .myActivity_big .activity_part ul {
	width: 100%;
	padding: 5% 5% 5% 5%
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(1),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(1) {
	width: 100%;
	height: 120px
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(1) img,
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(1) img {
	width: 100%;
	height: 100%
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(2),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(2) {
	margin-bottom: 6px
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(2) p,
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(2) p {
	margin-top: 8px
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(1) span:nth-child(1),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(1) span:nth-child(1) {
	color: #FF4134;
	font-size: .66667rem
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(1) span:nth-child(2),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(1) span:nth-child(2) {
	margin-left: 8%;
	text-align: center;
	line-height: 17px;
	width: 13%;
	display: inline-block;
	height: 18px;
	border-radius: 50%;
	font-size: .55556rem;
	white-space: nowrap;
	background: #FF4134;
	color: white
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(2),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(2) {
	font-size: .55556rem;
	color: #FF4134
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(3),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(2) p:nth-child(3) {
	font-size: .55556rem;
	color: #373737;
	line-height: 16px;
	letter-spacing: 1px
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(3),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(3) {
	display: flex;
	justify-content: space-around
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(1),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(1) {
	margin-left: -4%
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(1) span,
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(1) span {
	font-size: .55556rem;
	color: #656565
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(2),
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(2) {
	width: 44%
}

.five_organs .myActivity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(2) a,
.five_organs .my_Activity_content .myActivity_big .activity_part ul li:nth-child(3) div:nth-child(2) a {
	display: inline-block;
	width: 100%;
	height: 18px;
	border-radius: 5px;
	line-height: 15px;
	text-align: center;
	font-size: .55556rem;
	border: 1px solid red;
	color: #FF4134
}

.five_organs .myActivity_content .activity_more,
.five_organs .my_Activity_content .activity_more {
	width: 40%;
	height: 25px;
	border-radius: 15px;
	text-align: center;
	line-height: 25px;
	color: white;
	background: #FF4134;
	font-size: .55556rem;
	margin: 5px auto 0px
}

.five_organs .myActivity_content .activity_more a,
.five_organs .my_Activity_content .activity_more a {
	color: #FFFFFF
}

#my_collectMore .myActivity_big {
	border: 1px solid black
}

#my_collectMore .myActivity_big .activity_part {
	height: 245px;
	position: relative
}

#my_collectMore .myActivity_big .activity_part li:nth-child(2) p:nth-child(2) {
	font-size: .55556rem;
	color: #373737;
	line-height: 16px;
	letter-spacing: 1px
}

#my_collectMore .myActivity_big .activity_part li:nth-child(3) {
	width: 90%;
	position: absolute;
	bottom: 8px
}

#my_collectMore .myActivity_big .activity_part li:nth-child(3) div:nth-child(1) {
	width: 44%
}

#my_collectMore .myActivity_big .activity_part li:nth-child(3) div:nth-child(1) span {
	display: inline-block;
	width: 100%;
	height: 18px;
	line-height: 16px;
	text-align: center;
	color: #FF4134;
	border-radius: 5px;
	border: 1px solid #FF4134
}

#my_collectMore .myActivity_big .activity_part li:nth-child(3) div:nth-child(2) .sign_up {
	background: #FF4134;
	color: white
}

#myComment {
	height: 252px
}

#myComment .myActivity_big {
	height: 100%;
	overflow: hidden
}

#myComment .myActivity_big .activity_part {
	height: 100%;
	position: relative
}

#myComment .myActivity_big .activity_part li:nth-child(2) p:nth-child(2) {
	font-size: .55556rem;
	color: #373737;
	line-height: 16px;
	letter-spacing: 1px
}

#myComment .myActivity_big .activity_part li:nth-child(3) {
	width: 90%;
	position: absolute;
	bottom: 8px
}

#myComment .myActivity_big .activity_part li:nth-child(3) div:nth-child(1) {
	width: 44%
}

#myComment .myActivity_big .activity_part li:nth-child(3) div:nth-child(1) span {
	display: inline-block;
	width: 100%;
	height: 18px;
	line-height: 16px;
	text-align: center;
	color: #FF4134;
	border-radius: 5px;
	border: 1px solid #FF4134
}

#myComment .myActivity_big .activity_part li:nth-child(3) div:nth-child(2) .sign_up {
	background: #FF4134;
	color: white
}

.message_classfy {
	width: 50%;
	display: flex;
	margin: 16px auto;
	justify-content: space-around
}

.message_classfy .common {
	padding-top: 12px;
	width: 32%;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #FF4134;
	color: #FF4134;
	text-align: center
}

.message_classfy .common a {
	color: #FF4134
}

#orderContent_info .order_img {
	border-radius: 0
}

#orderContent_info .baby_detail ul li:nth-child(2) {
	line-height: 18px;
	display: flex;
	flex-wrap: wrap
}

#orderContent_info .baby_detail ul li:nth-child(2) span {
	color: #FF4134
}

#orderDetail_content .content{
    height:auto;
    padding-top: 2%
}
#orderDetail_content .baby_detail {
	width: 94%;
	height: 100%
}
#orderDetail_content .baby_detail .detail_information li{
    margin-bottom: 10px;
}
#orderDetail_content .baby_detail .detail_information li:nth-child(1) {
	margin-top: 6px;
	color: #FF4134
}

#orderDetail_content .baby_detail .detail_information li:nth-child(3) {
	width: 80%;
	height: 12px
}




.pay_stytle {
	width: 90%;
	height: 80px;
	margin: 0px auto
}

.pay_stytle .style {
	width: 100%;
	height: 40px;
	box-shadow: 1px 1px 5px #FF4134;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px
}

.pay_stytle .style .weixin_pic {
	width: 11%;
	height: 40px;
	border-radius: 50%
}

.pay_stytle .style .weixin_pic img {
	width: 100%;
	height: 100%
}

.pay_stytle .style div:nth-child(2) {
	width: 20%;
	font-size: 10px;
	color: #353535
}

.pay_stytle .style .zhifubao_pic {
	width: 9%;
	height: 32px;
	border-radius: 50%
}

.pay_stytle .style .zhifubao_pic img {
	width: 100%;
	height: 100%
}

.myActivity_content,
.my_Activity_content {
	width: 100%;
	/*height: 562px*/
}

.myActivity_content .my_Activity_big,
.my_Activity_content .my_Activity_big {
	width: 100%
}

.myActivity_content .my_Activity_big .my_activity_part,
.my_Activity_content .my_Activity_big .my_activity_part {
	width: 100%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 4px #FF4134;
	width: 100%;
	height: 120px;
	position: relative
}

.myActivity_content .my_Activity_big .my_activity_part ul,
.my_Activity_content .my_Activity_big .my_activity_part ul {
	padding-top: 2%;
	width: 100%;
	display: flex;
	height: 100%;
	justify-content: space-between;
	padding-left: 2%
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(1),
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(1) {
	width: 25%;
	height: 70px
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(1) img,
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(1) img {
	width: 100%;
	height: 100%
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(2),
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(2) {
	width: 70%;
	margin-left: 2%
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p,
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p {
	margin-bottom: 8px
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p:nth-child(1),
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p:nth-child(1) {
	color: #FF4134;
	font-size: 16px
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p:nth-child(2),
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p:nth-child(2) {
	color: #FF4134;
	font-size: 14px
}

.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p:nth-child(3),
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(2) p:nth-child(3) {
	color: #656565;
	font-size: 14px
}


.myActivity_content .my_Activity_big .my_activity_part ul li:nth-child(3),
.my_Activity_content .my_Activity_big .my_activity_part ul li:nth-child(3) {
	font-size: 12px;
	color: #FF4134;
	width: 13%
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom,
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom {
	right: 0;
	position: absolute;
	width: 70%;
	bottom: 5px;
	height: 35px;
	display: flex;
	justify-content: flex-end;
	align-items: center
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p,
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p {
	display: inline-block;
	height: 25px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	border-radius: 15px;
	margin-right: 5%
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(1),
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(1) {
	background: #FF4134;
	color: #FFFFFF;
	width: 30%
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(1) a,
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(1) a {
	color: #FFFFFF
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(2),
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(2) {
	width: 30%;
	border: 1px solid #FF4134;
	color: #FF4134
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(2) a,
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(2) a {
	color: #FF4134
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(3),
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(3) {
	width: 50%;
	color: #FF4134;
	border: 1px solid #FF4134;
	margin-right: 0px
}

.myActivity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(3) a,
.my_Activity_content .my_Activity_big .my_activity_part .activity_bottom p:nth-child(3) a {
	color: #FF4134
}

.nothing {
	color: #656565;
	text-align: center;
	height: 125px;
	font-size: 12px;
	line-height: 125px
}

.display_none {
	display: none
}

#leave_content form {
	height: 100%;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around
}

#leave_content form div {
	width: 100%;
	display: flex;
	justify-content: center
}

#leave_content form div p {
	color: #FF4134;
	font-size: 16px;
	margin-right: 2%
}

#leave_content form div input {
	width: 70%
}

#leave_content form div textarea {
	width: 70%;
	height: 100px
}

#leave_content form button {
	position: absolute;
	left: 30%;
	bottom: -70px;
	line-height: 23px;
	width: 30%;
	border-radius: 15px;
	background: #FF4134;
	color: #FFFFFF;
	font-size: 12px;
	outline: none;
	border: none;
	height: 25px
}

#commit_content {
	border: none
}

#commit_content form {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	position: relative
}

#commit_content form textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #FF4134
}

#commit_content form button {
	position: absolute;
	left: 30%;
	bottom: -70px;
	line-height: 23px;
	width: 30%;
	border-radius: 15px;
	background: #FF4134;
	color: #FFFFFF;
	font-size: 12px;
	outline: none;
	border: none;
	height: 25px
}

#theme_cotent {
	width: 97%;
	margin: 20px auto 0px
}

#theme_cotent ul {
	padding: 0;
	border: none;
	height: 140px;
	position: relative
}

#theme_cotent ul li:nth-child(1) {
	height: 109px
}

#theme_cotent ul li:nth-child(2) {
	background: #FFFFFF;
	width: 95%;
	height: 30px;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	border: 1px solid #FF4134;
	color: #FF4134;
	position: absolute;
	bottom: 15px;
	left: 2%
}

#theme_information {
	height: 230px;
	align-items: center;
	position: relative
}

#theme_information .baby_img {
	width: 43%;
	height: 157px
}

#theme_information .baby_detail {
	height: 69%;
	margin-left: 2%
}

#theme_information .baby_detail .information_ul {
	height: 90%
}

#theme_information .baby_detail .information_ul li {
	font-size: 13px
}

#theme_information .baby_detail .information_ul li span {
	display: inline-block
}

#theme_information .baby_detail .information_ul li span:nth-child(1) {
	width: 30%;
	color: #FF4134
}

#theme_information .baby_detail .information_ul li span:nth-child(2) {
	width: 65%;
	color: #656565;
	margin-left: 5%
}

#theme_information .baby_detail .information_ul li:nth-child(2) .max_width {
	white-space: initial
}

#theme_information .baby_detail .information_ul li:nth-child(3) {
	width: 100%;
	height: 45px;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#theme_information .baby_detail .information_ul li:nth-child(3) span {
	width: 30%
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul {
	width: 65%
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul li {
	display: flex;
	flex-direction: row
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul li span {
	display: inline-block;
	font-size: 10px;
	white-space: nowrap
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul li span:nth-child(1) {
	width: 56%
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul li span:nth-child(2) {
	width: 25%;
	height: 20px;
	background: #CCCCCC;
	line-height: 20px;
	text-align: center
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul li .plus {
	width: 25%;
	height: 20px;
	background: #CCCCCC;
	line-height: 20px;
	text-align: center
}

#theme_information .baby_detail .information_ul li:nth-child(3) .time_ul li input {
	width: 30%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 10px
}

#theme_information .theme_info {
	width: 60%;
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: flex;
	justify-content: space-around;
	font-size: 12px
}

#theme_information .theme_info span {
	display: inline-block
}

#theme_information .theme_info span:nth-child(1) {
	width: 45%;
	height: 20px;
	border: 1px solid #FF4134;
	border-radius: 10px;
	line-height: 19px;
	text-align: center;
	color: #FF4134
}

#theme_information .theme_info span:nth-child(2) {
	width: 45%;
	height: 20px;
	border: 1px solid #FF4134;
	border-radius: 10px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
	background: #FF4134
}

#theme_information .theme_info span:nth-child(2) a {
	color: #FFFFFF
}

.discuss_content {
	width: 95%;
	margin: auto
}

.discuss_content .discuss_part {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around
}

.discuss_content .discuss_part .discuss_img {
	width: 25%;
	height: 70px
}

.discuss_content .discuss_part .discuss_img img {
	width: 100%;
	height: 100%
}

.discuss_content .discuss_part ul {
	height: 100%;
	font-size: 14px
}

.discuss_content .discuss_part ul li {
	margin-bottom: 10px
}

.discuss_content .discuss_part ul li:nth-child(1) {
	color: #FF4134
}

.discuss_content .discuss_part ul li:nth-child(2) {
	white-space: initial;
	font-size: 12px
}

.discuss_content .discuss_part ul li:nth-child(3) {
	color: #FF4134;
	font-size: 12px
}

.discuss_content .discuss_more {
	margin-top: 10px;
	text-align: center
}

.discuss_content .discuss_more a {
	color: #656565
}

.quiz_content {
	width: 95%;
	margin: 25px auto 0px
}

.quiz_content form {
	width: 100%
}

.quiz_content form textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #FF4134
}

.quiz_content form button {
	outline: none;
	margin: 15px auto 0px;
	width: 70%;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #FF4134;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFFFFF
}

.quiz_content form button span:nth-child(1) {
	width: 15%;
	height: 30px
}

.quiz_content form button span:nth-child(1) img {
	width: 100%;
	height: 100%
}

.quiz_content form button span:nth-child(2) {
	color: #FF4134;
	margin-left: 6%
}

.modal_box {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.5)
}

.modal_box .moal_div {
	width: 70%;
	height: 140px;
	border-radius: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #FFFFFF;
	line-height: 140px;
	text-align: center;
	color: #FF4134
}

.modal_box .moal_div .cancel {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 25px;
	line-height: 20px
}

.quiz_result_content {
	width: 95%;
	margin: 25px auto 0px
}

.quiz_result_content .result_part {
	width: 100%
}

.quiz_result_content .result_part #discuss_response {
	width: 86%;
	margin-left: 15%
}

.quiz_result_content .result_part #discuss_response .discuss_img {
	margin-right: 5%
}

.quiz_result_content .result_part .discuss_part {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around
}

.quiz_result_content .result_part .discuss_part .discuss_img {
	width: 25%;
	height: 70px
}

.quiz_result_content .result_part .discuss_part .discuss_img img {
	width: 100%;
	height: 100%
}

.quiz_result_content .result_part .discuss_part ul {
	height: 100%;
	font-size: 14px
}

.quiz_result_content .result_part .discuss_part ul li {
	margin-bottom: 10px
}

.quiz_result_content .result_part .discuss_part ul li:nth-child(1) {
	color: #FF4134
}

.quiz_result_content .result_part .discuss_part ul li:nth-child(2) {
	white-space: initial;
	font-size: 12px
}

.quiz_result_content .result_part .discuss_part ul li:nth-child(3) {
	color: #FF4134;
	font-size: 12px
}

.quiz_result_content .discuss_more {
	margin-top: 10px;
	text-align: center
}

.quiz_result_content .discuss_more a {
	color: #656565
}

.form_Content {
	width: 95%;
	margin: 30px auto 0px
}

.form_Content form {
	width: 100%
}

.form_Content form .form_common {
	width: 100%;
	box-shadow: 0 0 3px #FF4134;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 20px
}

.form_Content form .form_common div {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	flex-wrap: wrap
}

.form_Content form .form_common div span {
	color: #FF4134
}

.form_Content form .form_common div:nth-child(2) span {
	display: inline-block;
	width: 25%;
	line-height: 30px
}

.form_Content form .form_common div:nth-child(2) input {
	width: 70%;
	height: 30px
}

.form_Content form .form_common div:nth-child(3) span {
	display: inline-block;
	width: 25%;
	line-height: 30px
}

.form_Content form .form_common div:nth-child(3) .sex {
	margin-top: 5px;
	width: 70%
}

.form_Content form .form_common div:nth-child(3) .sex .woman {
	margin-left: 5%
}

.form_Content form .form_common div:nth-child(4) span {
	display: inline-block;
	width: 25%;
	line-height: 30px
}

.form_Content form .form_common div:nth-child(4) input {
	width: 70%;
	height: 30px
}

.form_Content form .form_common .adult_img {
	width: 20%;
	height: 60px
}

.form_Content form .form_common .adult_img img {
	width: 100%;
	height: 100%
}

.form_Content form .form_common .child_birthday .birthdayContainer {
	width: 74%
}

.form_Content form .form_common .child_birthday .birthdayContainer select {
	width: 28%;
	margin-right: 5%
}

.form_Content form .name_sure {
	width: 40%;
	height: 40px;
	border-radius: 20px;
	background: #FF4134;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	outline: none;
	border: none;
	margin-left: 30%;
	margin-top: 20px
}

.form_Content form .name_sure a {
	color: #FFFFFF
}

#detail_info {
	width: 100%
}

#detail_info .content {
	width: 100%
}

#detail_last .content {
	height: 120px
}

#detail_last .content .baby_img {
	height: 86px;
	width: 26%
}

#detail_last .content .baby_detail {
	height: 86px
}

#detail_last .content .baby_detail ul {
	width: 100%;
	height: 100%
}

#detail_last .content .baby_detail ul li {
	white-space: initial
}

#detail_last .content .baby_detail ul li:nth-child(1) {
	margin-bottom: 0px;
	color: #FF4134
}

#detail_last .content .baby_detail ul li:nth-child(2) {
	color: #FF4134
}

#detail_last .content .baby_detail ul li:nth-child(3) {
	line-height: 15px;
	width: 100%
}

.eyesContent {
	width: 90%;
	margin: 20px auto 0px;
	box-shadow: 0 0 5px #FF4134;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.eyesContent div {
	margin-bottom: 10px
}

.eyesContent div:nth-child(1) {
	border: 1px solid red;
	width: 60%;
	height: 180px;
	margin-top: 20px
}

.eyesContent div:nth-child(1) img {
	width: 100%;
	height: 100%
}

.eyesContent div:nth-child(2) {
	color: #FF4134
}

.eyesContent div:nth-child(3) {
	color: #FF4134
}

.eyesContent div:nth-child(4) {
	width: 80%;
	font-size: 14px;
	line-height: 17px;
	text-indent: 27px
}

#eyes_part {
	box-shadow: none
}

#eyes_part .eye_img {
	width: 80%
}

.eyes_last {
	width: 90%;
	margin: 30px auto 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-content: center;
	align-items: center
}

.eyes_last .last_img {
	width: 45%;
	height: 160px
}

.eyes_last .last_img img {
	width: 100%;
	height: 100%
}

.eyes_last ul {
	font-size: 12px;
	width: 50%;
	border: 1px solid red;
	margin-left: 5%
}

.eyes_last ul p {
	margin-left: 5%;
	color: #FF4134;
	margin-top: 10px;
	margin-bottom: 10px
}

.eyes_last ul li {
	margin-left: 5%;
	width: 100%;
	white-space: initial;
	line-height: 16px;
	margin-bottom: 15px;
	color: #656565
}

#theme_information #free_eyeImg {
	width: 40%;
	height: 143px
}

#theme_information #bady_detail {
	height: 79%;
	width: 60%;
	margin-left: 1%
}

#theme_information #bady_detail #freeActivity {
	width: 100%;
	height: 100%
}

#theme_information #bady_detail #freeActivity li {
	width: 100%
}

#theme_information #bady_detail #freeActivity li span:nth-child(1) {
	width: 31%
}

#theme_information #bady_detail #freeActivity li span:nth-child(2) {
	width: 64%;
	font-size: 10px
}

#theme_information #bady_detail #freeActivity li:nth-child(3) {
	height: 17px
}

#theme_information #bady_detail #freeActivity li:nth-child(5) {
	width: 100%;
	height: 45px;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#theme_information #bady_detail #freeActivity li:nth-child(5) span {
	width: 31%
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul {
	width: 65%
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul li {
	display: flex;
	flex-direction: row
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul li span {
	display: inline-block;
	font-size: 10px;
	white-space: nowrap
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul li span:nth-child(1) {
	width: 56%
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul li span:nth-child(2) {
	width: 25%;
	height: 20px;
	background: #CCCCCC;
	line-height: 20px;
	text-align: center
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul li .plus {
	width: 25%;
	height: 20px;
	background: #CCCCCC;
	line-height: 20px;
	text-align: center
}

#theme_information #bady_detail #freeActivity li:nth-child(5) .time_ul li input {
	width: 30%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 10px
}

#theme_information #bady_detail #freeActivity li:nth-child(6) {
	margin-top: 10px
}

#theme_information #bady_detail #freeActivity li:nth-child(6) select {
	width: 69%;
	font-size: 10px
}

.freeActivity_content {
	font-size: 14px;
	margin-top: 30px
}

.freeActivity_content div {
	text-align: center;
	margin-bottom: 10px
}

.freeActivity_content .detail_img {
	width: 80%;
	height: 150px;
	margin: auto;
	background: #CCCCCC;
	margin-bottom: 20px
}

.freeActivity_content .detail_img img {
	width: 100%;
	height: 100%
}

#free_discuss h1 {
	width: 90%;
	margin: auto;
	color: #FF4134;
	height: 33px;
	font-size: 18px;
	border-bottom: 1px dotted #FF4134
}

#free_discuss .discuss_content {
	height: 371px;
	overflow: hidden
}

#free_discuss .free_more {
	text-align: center;
	margin-top: 20px
}
.form_info {
	width: 90%;
	margin: 30px auto
}

.form_info .nickName {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	flex-wrap: wrap
}

.form_info .nickName span {
	width: 24%;
	line-height: 30px;
	color: #FF4134
}

.form_info .nickName input {
	width: 76%;
	height: 30px
}

.form_info .sex {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px
}

.form_info .sex span {
	width: 24%;
	line-height: 30px;
	color: #FF4134
}

.form_info .sex .man {
	width: 76%;
	line-height: 30px
}

.form_info .sex .man input {
	margin-right: 2%
}

.form_info .sex .man .woman {
	margin-left: 5%
}

.form_info .outer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px
}

.form_info .outer span {
	width: 40%;
	line-height: 30px;
	color: #FF4134
}

.form_info .outer select {
	width: 39%;
	height: 30px;
	margin-right: 1%
}

.form_info .outer select option {
	text-align: center
}

.form_info .hobby textarea {
	height: 63px;
	width: 76%
}

.form_info button {
	width: 40%;
	height: 30px;
	border-radius: 20px;
	background: #FF4134;
	color: #FFFFFF;
	border: none;
	margin-left: 30%
}

.modal_box {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0, 0, 0, 0.4);
	z-index: 66666
}

.modal_box .moal_div {
	width: 53%;
	height: 14%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #FFFFFF;
	border-radius: 16px;
	color: #FF4134;
	text-align: center;
	font-size: 19px;
	line-height: 95px
}

.modal_box .cancel {
	width: 10%;
	height: 25px;
	position: absolute;
	top: 5%;
	right: 5%
}

.modal_box .cancel img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.erro_img {
	width: 15%;
	height: 52px;
	margin: 80px auto 0px
}

.erro_img img {
	width: 100%;
	height: 100%
}

.erro_word {
	text-align: center;
	margin-top: 20px
}
