.textAlign .information_content form div.textAlign {
	width: 90%;
	margin: 0px auto;
	
}
.information_content input{
	color: #427893;
}
.login_bg{
	background: url(../images/bg_resiger.png) no-repeat;
	width: 375px;
	height: 667px;
	background-size:cover;

}
#register_content{
	top: 143px;
}
.register_bg{
	background: url(../images/bg_login.png) no-repeat;
	width: 375px;
	height: 667px;
	background-size:cover;
}


.textAlign .wanTitle_img {
	width: 37%;
	height: 90px;
	margin: 49px auto 116px;
}

.textAlign .wanTitle_img img {
	width: 100%;
	height: 100%
}

.textAlign .information_content {
	position: absolute;
	width:304px;
	background: rgba(245,245,245,.5);
	top: 188px;
	left: 8px;
	padding-bottom: 34px;
}

.textAlign .information_content form {
	width: 86%;
	/*border: 1px solid black;*/
	margin: 0px auto;
}

.textAlign .information_content form div {
	width: 100%;
	margin-top: -16px;
	height: 22px;
	border-bottom: 2px solid #FFFFFF;
	
}
.textAlign .information_content form p.tel_namer{
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	font-family: '苹方';
	/*border: 1px solid red;*/
}


.textAlign .information_content form div input {
	width: 100%;
	border: none;
	font-size: 15px;
	position: absolute;
	outline: none;
	background: none;
	padding-left: 5px;
}

.textAlign .information_content form .yanzhengma {
	width: 100%;
	border-bottom:none ;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: none;
	padding-left: 0px;
	border: none;
	margin-top: 25px;
}

.textAlign .information_content form .yanzhengma .prompt {
	width: 50%;
	border-bottom:2px solid #FFFFFF ;
	margin-top: 0px;
}

.textAlign .information_content form .yanzhengma .get_num,
.textAlign .information_content form .yanzhengma .register_get_num {
	width: 43%;
	margin-left: 48%;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
	font-family: '苹方';
}

.textAlign .information_content form .register,
.textAlign .information_content form .login_register,
.textAlign .information_content form .forget_register,
.textAlign .information_content form .reset_register {
	width: 61px;
	height: 26px;
	line-height: 13px;
	text-align: center;
	outline: none;
	color: #FF4134;
	background: #FFFFFF;
	border: none;
	cursor: pointer;
	margin-top: 30px;
	
}

.textAlign .information_content form .register a,
.textAlign .information_content form .login_register a,
.textAlign .information_content form .forget_register a,
.textAlign .information_content form .reset_register a {
	text-decoration: none;
	color: #FF4314;
	 font-family: '苹方';
}

.textAlign .information_content form .login {
	width: 99%;
    margin: 5px auto 0px;
   border-bottom: none;
   display: flex;
    justify-content: space-between;
    border-radius: 0;
    padding-left: 0;
    line-height: 25px;
   
    height: auto;
   
    
}

.textAlign .information_content form .login a {
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	
}

/*返回按钮的样式*/
.comeback_whole{
	width:100%;
	height: 36px;
}
.comeback_whole .comeback_img{
	width: 36px;
	height: 36px;
	
}
.comeback_whole .comeback_img a{
	display: block;
	width: 100%;
	height: 100%;
}
.comeback_whole .comeback_img a img{
	width: 18px;
	height: 17px;
	margin-top: 12px;
	margin-left: 12px;
}
