
{include file="public/header"/}
<style type="text/css">
	#DataTables_Table_0_length label:nth-child(1) select{
		width: 55px;
	}
	#orderTable .pagination{
		display: flex;
		justify-content: flex-end;
		padding: 0px;
		margin: 0px;
		margin-top:8px;
	}
	#bottom{
		display:flex;
		justify-content: space-between;
		padding-left: 10px;
	}
	#bottom .text{
		margin-top: 13px;
	}
</style>

<div id="content">

	<div id="content-header">
		<div id="breadcrumb">
			<a href="../activity/index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
			<a href="#" class="tip-bottom">订单管理</a>
			<a href="#" class="current">订单列表</a>
		</div>
	</div>

	<div class="add_order">
		<a href="{:url('order/dis_add_order')}">
			<div class="add" title="添加订单">
				<span style="font-size: 14px;">
                <i class="icon-plus"></i>
                		 添加订单
				</span>
			</div>
		</a>
	</div>

	<div class="select_activity">
		<div class="detailSelect">
			<div class="activityTime" style="margin-right: 15px;">
				<input type="text" placeholder="11月26日" name="begin_time" value="" style="cursor: pointer;" onFocus="new Calendar().show(this);"  class="beginTime"/>
				<div class="contect"></div>
				<input type="text" placeholder="11月30日" name="end_time" value="" onFocus="new Calendar().show(this);" style="cursor:pointer;" class="endTime"/>

			</div>
			<select style="width:7%" class="activity_select">
				<option value="0">按活动查询</option>
				<option value="0">全部</option>
				{foreach name="activityInfo" item="vo"}
				<option value="{$vo.aid}">{$vo.a_title}</option>
				{/foreach}
			</select>

			<select  style="width:6%" class="pay_way">
				<option selected="selected" value="">支付方式</option>
				{foreach name="pay_way" item="vo" key="k"}
				<option value="{$k}">{$vo}</option>
				{/foreach}
			</select>

			<select  style="width:6%" class="order_status">
				<option selected="selected" value="">订单状态</option>
				<option value="3">已付款</option>
				<option value="5">正在退款</option>
				<option value="6">已退款</option>
				<option value="7">已请假</option>
				<option value="8">早退</option>
			</select>
			<select style="width:6%" class="source">
				<option selected="selected" value="">报名渠道</option>
				{foreach name="source" item="vo"}
				<option value="{$vo.id}">{$vo.name}</option>
				{/foreach}
			</select>

			<input type="text" placeholder="输入手机号或者姓名" style="width:10%;height:30px;" class="prompt"/>
			<button class="orderSearch">查找</button>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
						<h5>Data table</h5>
					</div>
					<div class="widget-content nopadding" id="orderTable">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__AJS__/jquery.min.js"></script>
<script src="__AJS__/jquery.ui.custom.js"></script>
<script src="__AJS__/bootstrap.min.js"></script>
<script src="__AJS__/jquery.uniform.js"></script>
<script src="__AJS__/select2.min.js"></script>
<script src="__AJS__/jquery.dataTables.min.js"></script>
<script src="__AJS__/matrix.js"></script>
<script src="__AJS__/operat_table.js"></script>
<script src="__AJS__/Calendar.js"></script>
<script src="__AJS__/birthday.js"></script>
<script src="__AJS__/echarts.common.min.js"></script>
<script src="__AJS__/radialIndicator.js"></script>
<script>
    $(document).ready(function() {
        var data = {

            "page" : 1,
            "begin_time" : '',
            "end_time" : '',
            'aid' : '',
            'pay_way':'',
            'order_status':'',
            'source':'',
            'text':''
        }

        $.get("/seller/order/ajax_activity_order", data,
            function(data){

                $("#orderTable").html(data);
            });



    });

    //  点击查找看点击分页的时候
    $(".pagination a,.orderSearch").live("click",function(){
        var currentPage=$(this).data("p");
        var data={
            "page" : currentPage,
            "begin_time" :'',
            "end_time" : '',
            'aid' : '',
            'pay_way':'',
            'order_status':'',
            'source':'',
            'text':''
        }

        data.begin_time=$(".beginTime").val();
        data.end_time=$(".endTime").val();
        data.aid=$(".activity_select option:selected").val();
        data.pay_way=$(".pay_way option:selected").val();
        data.order_status=$(".order_status option:selected").val();
        data.source=$(".source option:selected").val();
        data.text=$(".prompt").val();

        $.get("/seller/order/ajax_activity_order", data,
            function(data){
                $("#orderTable").html(data);
            });
    })

</script>
</body>

</html>
