    
	{foreach name="result" item="vo"}
	<a href="{:url('mobile/goods/goods_detail',['id'=>$vo.id])}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__AdminIMG__/{$vo.img}" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">{$vo.title}</span>
  	      </span>
  	      <div class="sold">已售出{$vo.sold_num}件</div>
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;">
                         	<span>￥{$vo.price}</span>
                         	<a href="{:url('mobile/goods/goods_detail',['id'=>$vo.id])}">购买>></a>
          </div>
	 </div>
	</a>
	 {/foreach}
