{include file="public/header"/}
	
	<!--商品的标题-->
<div class="goods_title" style="background: #EFEFEF;position: initial;">
	 <span><a onclick="javascript:window.history.back(-1);"><img src="__MobileImg__/second_back.png"/></a></span>
	 <div class="searchInput">
		 <span><img src="__MobileImg__/searchGoods.png"></span>
		 <input type="text" placeholder="水箭筒"/ style="background: #EFEFEF;" class="search_goods">
		 <img src="__MobileImg__/goods_cancel.png" class="cancel"/>
	 </div>
	 <div class="search_btn">
	 	  搜索
	 </div>
	 
</div>


<!--商品列表-->
<div class="goodsContent">
	
	 
</div>

<div class="Numprompt">到底了！</div>
<script src="__MobileJs__/jquery.min.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js"></script>
<script>
	$(document).ready(function(){
		var data={
			'page':1,
			'search':''
		}
		$.get("/mobile/goods/ajax_goods_list", data,
            function(data){
            	console.log(data,'返回的数据')
         
               $(".goodsContent").html(data);
        });
	})
	var page=1;
	$(window).scroll(function(){
//		滚动条距离顶部的位置
		var scrollTop=$(this).scrollTop();
//		当前页面的总高度
		var scrollHeight=$(document).height();
//		当前可视的页面高度
		var windowHeight=$(this).height();
//		页面滑动到底部的时候实现
		if(scrollTop + windowHeight >= scrollHeight){
			page++;
			var data={
				'page':page,
				'search':''
			}
			data.search=$(".search_goods").val();
			$.get("/mobile/goods/ajax_goods_list", data,
            function(data){
                $(".goodsContent").append(data);
               
               
        	});
		}
	})
</script>