{include file="public/header"/}
	
	<!--商品的标题-->
<div class="goods_title" style="background: #EFEFEF;position: initial;">
	 <span><img src="__MobileImg__/second_back.png"/></span>
	 <div class="searchInput">
		 <span><a onclick="javascript:window.history.back(-1);"><img src="__MobileImg__/searchGoods.png"></a></span>
		 <input type="text" placeholder="水箭筒"/ style="background: #EFEFEF;">
		 <img src="__MobileImg__/goods_cancel.png" class="cancel"/>
	 </div>
	 <div class="search_btn">
	 	  搜索
	 </div>
	 
</div>


<!--商品列表-->
<div class="goodsContent">
	<a href="{:url('mobile/goods/good_detail)}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	      <div class="sold">已售出222件</div>
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;">
                         	<span>￥2.22</span>
                         	<a href="javascript:;">购买>></a>
          </div>
	 </div>
	</a>
	 
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	      <div class="sold">已售出222件</div>
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;">
                         	<span>￥2.22</span>
                         	<a href="javascript:;">购买>></a>
          </div>
	 </div>
	 
	 
	<div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	      <div class="sold">已售出222件</div>
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;">
                         	<span>￥2.22</span>
                         	<a href="javascript:;">购买>></a>
          </div>
	</div>
	
	<div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	      <div class="sold">已售出222件</div>
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;">
                         	<span>￥2.22</span>
                         	<a href="javascript:;">购买>></a>
          </div>
	</div>
</div>
