{include file="public/header" /} 
{include file="public/header_top" /} 
<div class="wholePage">
{include file="public/left"/}
<div id="content" class="main_content">
	<div id="content-header">
		<div id="breadcrumb">
			<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
			<a href="#" class="tip-bottom">活动管理</a>
			<a href="#" class="current">活动列表</a>
		</div>
	</div>
	<!--&lt;!&ndash;添加开始部分&ndash;&gt;-->
	<!--<div class="add_order">-->
		<!--<a href="{:url('seller/activity/add')}">-->
			<!--<div class="add" title="添加活动">-->
				<!--<span style="font-size: 14px;">-->
              <!--<i class="icon-plus"></i>-->
                 <!--添加活动-->
          <!--</span>-->
			<!--</div>-->
		<!--</a>-->
	<!--</div>-->
	<!--&lt;!&ndash;添加结束&ndash;&gt;-->
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
						<h5>Data table</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered data-table">
							<thead>
								<tr>
									<th>id</th>
									<th>活动名称</th>
									<th>活动开始时间</th>
									<th>活动结束时间</th>
									<th>大人价格</th>
									<th>小孩价格</th>
									<th>会员价</th>
									<th>是否上架</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody_center" style="font-size: 12px;">
							{foreach name="activityInfo" item="vo"}
							<tr class="gradeX trs seller_recommend">
								<td>{$vo.id}</td>
								<td>{$vo.a_title|subtext=17}</td>
								<td>{$vo.a_begin_time|date="m-d H:i",###}</td>
								<td>{$vo.a_end_time|date="m-d H:i",###}</td>
								<td>{$vo.a_adult_price}</td>
								<td>{$vo.a_child_price}</td>
								<td>
									{if condition="$vo.member_adult_price+$vo.member_child_price eq 0"}
									未定
									{else/}
									{$vo.member_adult_price+$vo.member_child_price}
									{/if}
								</td>
								{if condition="$vo.status eq 1"}

								<td class="yes present" style="cursor: pointer;"> 上架  </td>

								{else/}
								<td class="no present" style="cursor: pointer;"> 下架  </td>

								{/if}
								<td class="center">
									<i class="delete icon-pencil sellerActivity_delete">&nbsp;&nbsp;删除</i>
								</td>


							{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
{include file="public/footer" /}
<script>
        $("iframe").hide();
		$(".activity").parent().parent("ul").show();
        $(".activity").css("color","#ffff");
		$(".activity").siblings(".line").show();
		$(".activity").parents(".submenu").addClass("open");
		
</script>
</html>