
		{include file="public/header" /} 
	
		<div id="content">
			<div id="content-header">
				<div id="breadcrumb">
					<a href="index.html" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>首页</a>
					<a href="{:url('admin/goods/index')}" class="tip-bottom" data-original-title="">商品列表</a>
					<a href="#" class="current">添加商品</a>
				</div>
			</div>

			<div class="row-fluid" id="emit_information">
				<div class="span6">
					<div class="widget-box" style="width: 100%;">
						<div class="widget-title"> 
							<span class="icon"> <i class="icon-align-justify"></i> </span>
							<h5>商品信息</h5>
						</div>
						<div class="widget-content nopadding">
							<form action="{:url('admin/user/add_member')}" method="post" enctype="multipart/form-data" class="form-horizontal" name="Alist_form" style="m-horizontal">
								<div class="control-group">
									<label class="control-label">活动标题</label>
									<div class="controls">
										<input class="span11" value='' name="nickname" type="text" style="width: 32%;">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">库存</label>
									<div class="controls">
										<input class="span11" style="width: 30%;" value='' name="mobile" type="text">
									</div>
								</div>

							

								<div class="control-group">
									<label class="control-label">已出售</label>
									<div class="controls">
										<input class="span11" style="width:30%;" value=''>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">价格</label>
									<div class="controls">
										<input class="span11" style="width:30%;" value=''>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">状态</label>
									<div class="controls">
										<select name="status">
											 <option></option>
											  <option></option>
										</select>
									</div>
								</div>
                             	<div class="control-group">
									<label class="control-label">上架时间</label>
									<div class="controls">
										<input type="text" value="" name="birthday" placeholder="2017-09-07" onClick="new Calendar().show(this);" class="span11" name="birthday" style="width: 25%;margin-top: -3px;cursor: pointer;">
									</div>
								</div>
					

							

								<div class="form-actions">
									<button type="submit" class="btn btn-success info_sure">保存</button>
									<a href="{:url('admin/goods/index')}" class="btn-warning">取消</a>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	
	{include file="public/footer" /}