<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认支付</title>
</head>
<body>
<button id="wxpay" onclick="callpay()" style="display: none;">确认支付</button>
<script type="text/javascript">
    // 自动点击
    setTimeout(function() {
        // IE
        if(document.all) {
            document.getElementById("wxpay").click();
        }
        // 其它浏览器
        else {
            var e = document.createEvent("MouseEvents");
            e.initEvent("click", true, true);
            document.getElementById("wxpay").dispatchEvent(e);
        }
    }, 100);
    //调用微信JS api 支付
    function onBridgeReady() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {$jsApiParameters},
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    alert('支付成功');
                    window.location.href = "{:url('mobile/goodspay/pay_success',['orderId'=>$orderId])}"
                }     // 使用以上方式判断前端返回,微信团队郑重提示:res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                if (res.err_msg == "get_brand_wcpay_request:cancel") {
                    alert('取消支付');
                    history.back();
                }
            }
        );
    }
    function callpay() {
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    }
</script>
</body>
</html>