{include file="public/header" /}
{include file="public/second_header"}
<body>
<div class="new_background">
    <div class="login_operat">
        <div class="first" style="font-size: 14px;">报名成功!请注意活动时间噢~</div>
        <div style="font-size: 12px;"><a href="{:url('mobile/user/order_detail')}">订单详情</a></div>
        <div style="font-size: 10px;color: #8d8d8d;"><span class="count">3</span>s后自动跳转会员中心</div>
    </div>
</div>

<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script>
	    var count=$(".count").html();
	    window.setInterval(function(){
	        count--;
	        $(".count").html(count);
	        if(count<=1){
	            location.href="{:url('mobile/user/index')}";
	            clearInterval();
	        }
	    },1500);

</script>

</body>
</html>
