<!DOCTYPE html>
{include file="public/header" /}
<!--头部图片-->
<!--头部导航-->
<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" onclick="javascript:window.history.back(-1);" >
        <div class="comeback_img">
            <img src="__MobileImg__/second_back.png"/>
        </div>

    </div>

    <div class="title_word second_activity">请假列表</div>

</div>
<!--玩宝总体内容部分-->
<div class="playBaby_content almost">
    <div class="title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">请假条</div>
    </div>
    <div class="content" id="leave_content">
        <form action="" method="post">
            <p class="activity_warn" style="color: #FF4134;font-size: 12px;text-align: center;display: none;">请假活动不能为空</p>
            <div class="cause"><p>请假理由</p><textarea name="leave_cause" class="leave_cause"></textarea></div>
            <p class="cause_warn" style="color: #FF4134;font-size: 12px;text-align: center;margin-top: 10px;display: none;">请假理由不能为空</p>
            <button type="submit" class="leave_submit">提交</button>
        </form>
    </div>
</div>

<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
</body>
<script>
    //请假条的提交
    $(".leave_submit").on("click", function() {
        if ($(".leave_cause").val() == "") {
            $(".cause_warn").show();
            return false;
        }
        var aid = "{$order_info.aid}";
        var osn = "{$order_info.order_sn}";
        var reason = $(".leave_cause").val();
        $.post("/home/user/leave", {aid: aid, order_sn: osn, reason: reason},
        function(obj) {
            if (obj.state_code != 200) {
                alert(obj.msg);
            } else {
                alert("提交成功");
                window.location.href = '/mobile/user/index';
            }
        }, "json");
        return false;
    })
</script>
</html>

