{include file="public/header" /}
{include file="public/second_header" /}
</div>
<!--五官-->
<div class="five_organs almost" style="margin-top: 10px;">
    <div class="activity_content textAlign">
        <ul class="lis_tab">
            <li {if condition="$Request.param.a eq 1"}class="play_baby"{/if}>我的活动</li>
            <li {if condition="$Request.param.a eq 2"}class="play_baby"{/if}>待付款</li>
            <li {if condition="$Request.param.a eq 3"}class="play_baby"{/if}>已付款</li>
            <li {if condition="$Request.param.a eq 4"}class="play_baby"{/if}>待评价</li>
            <li {if condition="$Request.param.a eq 5"}class="play_baby"{/if}>退款/售后</li>
        </ul>
    </div>
    <div class="all_activityContent">
        <!--我的活动开始部分-->
        <div class="my_Activity_content" {if condition="$Request.param.a neq 1"}style="display:none;"{/if}>
            {foreach name="myOrderData" item="vo"}
            <div class="my_Activity_big">
                <div class="my_activity_part">
                    <ul>
                        <li>
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </li>
                        <li>
                            <p>{$vo.a_title}</p>
                            <p>{$vo.a_begin_time|date='Y-m-d',###}--{$vo.a_end_time|date='Y-m-d',###}</p>
                            <p><span>套餐：{$vo.adult_num}大{$vo.child_num}小</span>&nbsp;&nbsp;<span>总计：￥{$vo.order_price}</span></p>
                        </li>
                        <li>
                            {switch name="$vo.order_status"}
                            {case value="1|4"}已参加{/case}
                            {default}未参加
                            {/switch}
                        </li>
                    </ul>
                    <div class="line" style="width: 95%;margin: 0px auto;border-bottom:1px solid #ebebeb;"></div>
                    <div class="activity_bottom">
                        {switch name="$vo.order_status"}
                        {case value="1"}<p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">已完成</a></p>{/case}
                        {case value="2"}<p><a href="{:url('mobile/activity/orderIdPay',['id'=>$vo.order_id])}">去付款</a></p>{/case}
                        {case value="3"}<p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">待参加</a></p>{/case}
                        {case value="4"}<p><a href="{:url('mobile/user/comments_list',['order_sn'=>$vo.order_sn])}">去评价</a></p>{/case}
                        {case value="5"}<p><a href="{:url('mobile/user/refund2',['order_sn'=>$vo.order_sn])}">退款中</a></p>{/case}
                        {case value="6"}<p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">已退款</a></p>{/case}
                        {case value="7"}<p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">已请假</a></p>{/case}
                        {/switch}
                    </div>
                </div>
            </div>
            {/foreach}
              <div class="no_style" id="new_no" style="display: none;">
                 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div>没有相关活动噢~</div>
                 <div><a href="{:url('mobile/activity/new_activity')}" style="color: #FF4134;">快去看看吧</a></div>
            </div>
        </div>

        <!--我的活动结束部分-->
        <!--未付款开始部分-->
        <div class="my_Activity_content" {if condition="$Request.param.a neq 2"}style="display:none;"{/if}>

            {foreach name="notPay" item="vo"}
            <div class="my_Activity_big">
                <div class="my_activity_part">
                    <ul>
                        <li>
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </li>
                        <li>
                            <p>{$vo.a_title}</p>
                            <p>{$vo.a_begin_time|date='Y-m-d',###}--{$vo.a_end_time|date='Y-m-d',###}</p>
                            <p><span>套餐：{$vo.adult_num}大{$vo.child_num}小</span>&nbsp;&nbsp;<span>总计：￥{$vo.order_price}</span></p>
                        </li>
                        <li>
                            {switch name="$vo.order_status"}
                            {case value="1|4"}已参加{/case}
                            {default}未参加
                            {/switch}
                        </li>
                    </ul>
                      <div class="line" style="width: 95%;margin: 0px auto;border-bottom:1px solid #ebebeb;"></div>
                    <div class="activity_bottom">
                        <p><a href="{:url('mobile/activity/orderIdPay',['id'=>$vo.order_id])}">去付款</a></p>
                        <p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">详情</a></p>
                    </div>
                </div>
            </div>
            {/foreach}


              <div class="no_style" id="new_no" style="display: none;">
                <!--空空如也~-->
                 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div>没有相关活动噢~</div>
                 <div><a href="{:url('mobile/activity/new_activity')}" style="color: #FF4134;">快去看看吧</a></div>
            </div>


        </div>

        <!--未付款结束部分-->

        <!--已付款部分-->
        <div class="my_Activity_content" {if condition="$Request.param.a neq 3"}style="display:none;"{/if}>

            {foreach name="havePay" item="vo"}
            <div class="my_Activity_big">
                <div class="my_activity_part">
                    <ul>
                        <li>
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </li>
                        <li>
                            <p>{$vo.a_title}</p>
                            <p>{$vo.a_begin_time|date='Y-m-d',###}--{$vo.a_end_time|date='Y-m-d',###}</p>
                            <p><span>套餐：{$vo.adult_num}大{$vo.child_num}小</span>&nbsp;&nbsp;<span>总计：￥{$vo.order_price}</span></p>
                        </li>
                        <li>
                            {switch name="$vo.order_status"}
                            {case value="1|4"}已参加{/case}
                            {default}未参加
                            {/switch}
                        </li>
                    </ul>
                      <div class="line" style="width: 95%;margin: 0px auto;border-bottom:1px solid #ebebeb;"></div>
                    <div class="activity_bottom">
                         {if condition="$vo.order_price eq 0"}
                           <p><a href="{:url('mobile/user/leave_list',['order_sn'=>$vo.order_sn])}">请假</a></p> 
                        {else/}
                            <p><a href="{:url('mobile/user/refund',['order_sn'=>$vo.order_sn])}">退款</a></p>
                        {/if}
                        <p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">详情</a></p>
                    </div>
                </div>
            </div>
            {/foreach}
       		 <div class="no_style" id="new_no" style="display: none;">
                <!--空空如也~-->
                 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div>没有相关活动噢~</div>
                 <div><a href="{:url('mobile/activity/new_activity')}" style="color: #FF4134;">快去看看吧</a></div>
            </div>

        </div>
        <!--已付款结束部分-->
        <!--待评价开始部分-->

        <div class="my_Activity_content" {if condition="$Request.param.a neq 4"}style="display:none;"{/if}>

            {foreach name="notEvaluate" item="vo"}
            <div class="my_Activity_big">
                <div class="my_activity_part">
                    <ul>
                        <li>
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </li>
                        <li>
                            <p>{$vo.a_title}</p>
                            <p>{$vo.a_begin_time|date='Y-m-d',###}--{$vo.a_end_time|date='Y-m-d',###}</p>
                            <p><span>套餐：{$vo.adult_num}大{$vo.child_num}小</span>&nbsp;&nbsp;<span>总计：￥{$vo.order_price}</span></p>
                        </li>
                        <li>
                            {switch name="$vo.order_status"}
                            {case value="1|4"}已参加{/case}
                            {default}未参加
                            {/switch}
                        </li>
                    </ul>
                      <div class="line" style="width: 95%;margin: 0px auto;border-bottom:1px solid #ebebeb;"></div>
                    <div class="activity_bottom">
                        <p><a href="{:url('mobile/user/comments_list',['order_sn'=>$vo.order_sn])}">去评价</a></p>
                        <p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">详情</a></p>
                    </div>
                </div>
            </div>
            {/foreach}

               <div class="no_style" id="new_no" style="display: none;">
                <!--空空如也~-->
                 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div>没有相关活动噢~</div>
                 <div><a href="{:url('mobile/activity/new_activity')}" style="color: #FF4134;">快去看看吧</a></div>
            </div>


        </div>
        <!--待评价结束部分-->

        <!--退款售后开始部分-->
        <div class="my_Activity_content" {if condition="$Request.param.a neq 5"}style="display:none;"{/if}>

            {foreach name="afterSale" item="vo"}
            <div class="my_Activity_big">
                <div class="my_activity_part">
                    <ul>
                        <li>
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </li>
                        <li>
                            <p>{$vo.a_title}</p>
                            <p>{$vo.a_begin_time|date='Y-m-d',###}--{$vo.a_end_time|date='Y-m-d',###}</p>
                            <p><span>套餐：{$vo.adult_num}大{$vo.child_num}小</span>&nbsp;&nbsp;<span>总计：￥{$vo.order_price}</span></p>
                        </li>
                        <li>
                            {switch name="$vo.order_status"}
                            {case value="1|4"}已参加{/case}
                            {default}未参加
                            {/switch}
                        </li>
                    </ul>
                      <div class="line" style="width: 95%;margin: 0px auto;border-bottom:1px solid #ebebeb;"></div>
                    <div class="activity_bottom">
                        {if condition="$vo.order_status eq 6"}
                           <p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">已退款</a></p> 
                        {else/}
                            <p><a href="{:url('mobile/user/refund2',['order_sn'=>$vo.order_sn])}">退款中</a></p>
                        {/if}
                        <p><a href="{:url('mobile/user/order_detail',['order_sn'=>$vo.order_sn])}">详情</a></p>
                    </div>
                </div>
            </div>
            {/foreach}
             <div class="no_style" id="new_no" style="display: none;">
                <!--空空如也~-->
                 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div>没有相关活动噢~</div>
                 <div><a href="{:url('mobile/activity/new_activity')}" style="color: #FF4134;">快去看看吧</a></div>
            </div>
        </div>
        <!--退款结束部分-->
    </div>

</div>


<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
</body>
</html>

