{include file="public/header"/}
	
	<!--商品的标题-->
<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" >
        <div class="comeback_img">
            {empty name="$url"}
                <a onclick="javascript:window.history.back(-1);"><img src="__MobileImg__/second_back.png"/></a>
            {else/}
                <a href="{$url}"><img src="__MobileImg__/second_back.png"/></a>
            {/empty}
        </div>
    </div>
    <div class="title_word second_activity">我购买的商品</div>
	</div>


<!--商品列表-->
<div class="goodsContent">
	{foreach name="goodsInfo" item="vo"}
	<a href="{:url('mobile/goods/goods_detail',['id'=>$vo.id])}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__AdminIMG__/{$vo.img}" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">{$vo.title}</span>
  	      </span>
  	      <div class="goodsNum">数量:&nbsp;{$vo.count}</div>
  	     
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;margin-top: 30px;">

                <span style="color:#666;">￥{$vo.order_price}</span>

                <a href="{:url('mobile/order/goods_order_detail',['id'=>$vo.id])}" style="font-size:12px;">订单详情>></a>
          </div>
	 </div>
	</a>
	{/foreach}
	<div class="no_style goodsStyle" style="display:none;margin-top:117px;width: 100%;" id="new_no">
		<div><img src="__MobileImg__/no_activity.png"></div>
		<div style="color: #8A8A8A;">暂时没有购买的商品噢~</div>

	</div>
</div>
<script src="__MobileJs__/jquery.min.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
<script>
	//当只有一个商品存在时的布局
if($(".goodsPart").length==1){
	
  $(".goodsContent").attr("style","justify-content:flex-start");
}
else if($(".goodsPart").length==0){
	    $(".no_style").show();
}
else{
  $(".goodsContent").attr("style","justify-content: space-between");
}
</script>
