{include file="public/header"/}
	
	<!--商品的标题-->
<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" >
        <div class="comeback_img">
     
            {empty name="$url"}
                <a onclick="javascript:window.history.back(-1);"><img src="__MobileImg__/second_back.png"/></a>
            {else/}
                <a href="{$url}"><img src="__MobileImg__/second_back.png"/></a>
            {/empty}
        </div>
    </div>

    <div class="title_word second_activity"> 我购买的商品</div>

</div>


<!--商品列表-->
<div class="goodsContent">
	<a href="{:url('mobile/order/goods_order_detail')}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	     
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;margin-top: 30px;">
                <span style="color:#666;">￥2.22</span>
                <a href="javascript:;" style="font-size:12px;">订单详情>></a>
          </div>
	 </div>
	</a>
	 
<a href="{:url('mobile/order/goods_order_detail')}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	     
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;margin-top: 30px;">
                         	<span style="color: #666;">￥2.22</span>
                         	<a href="javascript:;" style="font-size:12px;">订单详情>></a>
          </div>
	 </div>
	</a>
	 
	 
    <a href="{:url('mobile/order/goods_order_detail')}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	     
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;margin-top: 30px;">
                         	<span style="color: #666;">￥2.22</span>
                         	<a href="javascript:;" style="font-size:12px;">订单详情>></a>
          </div>
	 </div>
	</a>
	
	<a href="{:url('mobile/order/goods_order_detail')}">
	 <div class="goodsPart">
	 	  <div class="goodsImg">
	 	  	  <img src="__MobileImg__/eye.png" />
	 	  </div>
	 	  <span class="outer_border">
  	    	 	<span class="inside_border">水火箭</span>
  	      </span>
  	      <div class="content_bottom" style="padding: 0px 3px 0px 6px;margin-top: 30px;">
                         	<span style="color: #666;">￥2.22</span>
                         	<a href="javascript:;" style="font-size:12px;">订单详情>></a>
          </div>
	 </div>
	</a>
</div>
