{include file="public/second_header" /}
<form action="{:url('mobile/user/enter_recharge')}" method="post">
	<div class="pay_num">
	    <p>充值金额</p>
	    <div class="prompt_num">
	    	<span>￥</span><input name="money" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" placeholder="0.00"/>
	    </div>
	</div>
	    <p class="warn">提示：账户金额可以用于玩翫碗的所有活动</p>
		<button type="submit" class="user_pay">充值</button>
</form>
<div class="rechargeModal_box" style="display: none;">
	 <div class="rechargeModal_div">
	 	  <div class="cancel"><img src="__MobileImg__/pay_cancel.png" style="width: 10px;height: 10px;"></div>
	 	  <div class="title"><img src="__MobileImg__/welfare_img.png" style="width: 97px;height: 26px;"></div>
	 	  <div class="overBox">
	 	  	    <div class="policyContents">
	 	  	    	 <div class="policyPart">
	 	  	    	 	  <div class="policy_title"><span></span>&nbsp;充1000元</div>
	 	  	    	 	  <ul>
	 	  	    	 	  	  <li>1.所有主题享受</li>
	 	  	    	 	  	  <li>2.赠送价值100</li>
	 	  	    	 	  	  <li>3.赠送玩具一个</li>
	 	  	    	 	  	  <li>4.免费参加玩翫碗活动</li>
	 	  	    	 	  </ul>
	 	  	    	 </div>
	 	  	    	 
	 	  	    	  <div class="policyPart">
	 	  	    	 	  <div class="policy_title"><span></span>&nbsp;充10000元</div>
	 	  	    	 	  <ul>
	 	  	    	 	  	  <li>1.所有主题享受</li>
	 	  	    	 	  	  <li>2.赠送价值100</li>
	 	  	    	 	  	  <li>3.赠送玩具一个</li>
	 	  	    	 	  	  <li>4.免费参加玩翫碗活动</li>
	 	  	    	 	  </ul>
	 	  	    	 </div>
	 	  	    	 
	 	  	    	 <div class="policyPart">
	 	  	    	 	  <div class="policy_title"><span></span>&nbsp;充10000元</div>
	 	  	    	 	  <ul>
	 	  	    	 	  	  <li>1.所有主题享受</li>
	 	  	    	 	  	  <li>2.赠送价值100</li>
	 	  	    	 	  	  <li>3.赠送玩具一个</li>
	 	  	    	 	  	  <li>4.免费参加玩翫碗活动</li>
	 	  	    	 	  </ul>
	 	  	    	 </div>
	 	  	    </div>
	 	  </div>
	 </div>
</div>
<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/index.js"></script>
<script>
	$(function(){
		$(".rechargeModal_box").fadeIn(1000);
	})
</script>