{include file="public/second_header" /}
<div class="rechargeContent">
<form action="{:url('mobile/user/enter_recharge')}" method="post">
	{:token('token')}
	<div class="pay_num">
	    <p>充值金额</p>
	    <div class="prompt_num">
	    	<span>￥</span><input name="money" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" placeholder="0.00"/>
	    </div>
	</div>
	    <p class="warn">提示：账户金额可以用于玩翫碗的所有活动</p>
		<button type="submit" class="user_pay">充值</button>
</form>
</div>
<div class="rechargeModal_box" style="display: none;">
	 <div class="rechargeModal_div">
	 	  <div class="cancel"><img src="__MobileImg__/pay_cancel.png" style="width: 10px;height: 10px;"></div>
	 	  <div class="title"><img src="__MobileImg__/welfare_img.png" style="width: 97px;height: 26px;"></div>
	 	  <div class="overBox">
	 	  	    <div class="policyContents">
					{foreach name="rechargeInfo" item="vo"}
						 <div class="policyPart">
							  <div class="policy_title">充{$vo.money}元</div>
							  <ul style="list-style: decimal">
								  {foreach name="policyInfo" item="v"}
								  	{if condition="$vo.id eq $v.recharge_id"}
								  		<li>{$v.content}</li>
								  	{/if}
								  {/foreach}
							  </ul>
						 </div>
	 	  	    	 {/foreach}

	 	  	    </div>
	 	  </div>
	 </div>
</div>
<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/index.js"></script>
<script>
	$(function(){
		$(".rechargeModal_box").fadeIn(1000);
	})
</script>
