<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<link rel="stylesheet" href="__MobileCss__/register.css"/>
	</head>
	<body>
		<div class="textAlign register_bg">
		       <div class="comeback_whole" >
			        <div class="comeback_img">
			     
			            {empty name="$url"}
			                <a onclick="javascript:window.history.back(-1);"><img src="__MobileImg__/login_back.png"/></a>
			            {else/}
			                <a href="{$url}"><img src="__MobileImg__/login_back.png"/></a>
			            {/empty}
			        </div>
    			</div>
		
				<div class="information_content">
					<form action="" method="post">
						   <p class="tel_namer">密码</p>
							<div class="pwd"><input type="password" id="reset_passward"></div>
							<p class="pwd_warn" style="color: #FFFFFF;font-size: 12px;text-align: center;display: none;">密码格式不正确(6-16位的字母或数字)</p>
							 <p class="tel_namer">确认密码</p>
							<div class="pwd_sure"><input type="password" id="reset_pwd_sure"></div>
							<p class="pwd_Surewarn" style="color: #FFFFFF;font-size: 12px;text-align: center;display: none;">密码输入与上次不一致</p>
							<button type="submit" class="reset_register">确认</button>
							
					</form>
					
				</div>
		</div>
		<script src="__MobileJs__/jquery.min.js"></script>
		<script src="__MobileJs__/idangerous.swiper.min.js"></script>
		<script type="text/javascript" src="__MobileJs__/emit_information.js"></script>
		<script>
        	 $(".register_bg").css({"width":$(window).width(),"height":$(window).height()})
        </script>
		
	</body>
</html>
