{include file="public/header" /}
{include file="public/nav" /}


<!--玩宝总体内容部分-->
<div class="playBaby_content almost">
    <div class="title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">玩翫碗</div>
    </div>
    <div class="wanwanContent">
        <div>玩翫碗，致力于通过不一样的玩，</div>
        <div>让孩子像沐浴在日光下的小鸟一样，通过欢快的玩耍练习，探</div>
        <div>索世界，从而了解事物本来的样子。在自得其乐中，成为她自</div>
        <div>己，拥有属于自己的生活方式，获得满足与愉悦。</div>
    </div>
</div>
<!--五官-->
<div class="five_organs almost">
    <div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">发展历程</div>
    </div>
    <div class="wanwanContent">
        <div id="first">玩翫碗，隶属河南创致行</div>
        <div>企业管理咨询有限公司旗下。由2015年4月23日开通运营的免</div>
        <div>费玩儿平台，在2017年5月31日更名而来。当前在郑州已拥有</div>
        <div>450多家合作机构，原创设计组织活动500多场。</div>

        <div class="second">目前玩翫碗主要以“翫”为核心，</div>
        <div>用"玩"的形式,以“中心店+社区店”的模式,为郑州5-8岁左右</div>
        <div>的孩子提供服务。</div>


    </div>
</div>

<!--四肢-->
<div class="five_organs almost">
    <div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">理念体系</div>
    </div>
    <div class="five_content" id="idea_system">

        <div class="slider2" id="slider">

            <div class="slide">
                <div class="system_total">
                    <div class="system_img1">
                        <img  src="__MobileImg__/playBady_img.png" />
                    </div>
                    <div>释义：</div>
                    <div>宝：代表孩子自</div>
                    <div>己也代表孩子们的玩伴-玩</div>
                    <div>宝，让孩子们了解自身</div>

                    <div class="content">内容：</div>
                    <div>神奇的自我：</div>
                    <div>五官/四肢/整体/性启蒙/心理</div>
                </div>
            </div>

            <div class="slide">

                <div class="system_total">
                    <div class="system_img2">
                        <img src="__MobileImg__/jia.png"/>
                    </div>
                    <div>释义：</div>
                    <div>家：家庭中和</div>
                    <div>孩子紧密相关的衣食住行、</div>
                    <div>基础社交</div>
                    <div class="content">内容：</div>
                    <div>幸福的家庭：</div>
                    <div>吃穿住用/家庭</div>
                </div>

            </div>

            <div class="slide">
                <div class="system_total">
                    <div class="system_img2">
                        <img src="__MobileImg__/playperson.png"/>
                    </div>
                    <div>释义：</div>
                    <div>客：与“主”相对</div>
                    <div>代表走出去，</div>
                    <div>探索外面的世界、</div>
                    <div class="content">内容：</div>
                    <div>美丽的世界：</div>
                    <div>公园/城市/动植物/生态/生存</div>
                </div>
            </div>

            <div class="slide">
                <div class="system_total">
                    <div class="system_img2">
                        <img src="__MobileImg__/43534.png"/>
                    </div>
                    <div>释义：</div>
                    <div>匠：代表熟练的技能</div>
                    <div>在不断练习的过程中</div>
                    <div>熟能生巧</div>
                    <div class="content">内容：</div>
                    <div>奇妙的技能：</div>
                    <div>技能训练营</div>

                </div>
            </div>

            <div class="slide">
                <div class="system_total">
                    <div class="system_img2">
                        <img src="__MobileImg__/dada.png"/>
                    </div>
                    <div>释义：</div>
                    <div>大：代表大规模、</div>
                    <div>大手笔，涵盖内容多，</div>
                    <div>也代表思想自由</div>
                    <div>内容：</div>
                    <div>璀璨的文明：</div>
                    <div>丝绸之路/豫见中原/君子六艺</div>
                </div>
            </div>


        </div>
    </div>
</div>


{include file="public/footer" /}

<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
</body>
</html>

