{include file="public/header" /}

        <!--头部图片-->
        <div class="textAlign header">
            <div class="header_img">
                <img src="__MobileImg__/logo.png" />
            </div>
        </div>

        {foreach name="comInfo" item="vo"}
        <!--玩伴评论-->
        <div class="playBaby_content almost">
            <div class="title title_img">
                <img src="__MobileImg__/wan_whole.png"/>
                <div class="playBady_word">玩伴评论</div>
            </div>
            <div class="discuss_content">
            <div class="discuss_part">
                <div class="discuss_img">
                    <img src="__HEADICON__/{$vo.headIcon}" />
                </div>
                <ul>
                    <li>{$vo.nickname}</li>
                    <li>{$vo.content|htmlentities}</li>
                    <li>{$vo.time|date='Y.m.d H:i',###}</li>
                </ul>
            </div>
            {/foreach}
        </div>
        </div>


        <script src="__MobileJs__/jquery.min.js"></script>
        <script src="__MobileJs__/idangerous.swiper.min.js"></script>
        <script src="__MobileJs__/jquery.bxslider.js"></script>
        <script type="text/javascript" src="__MobileJs__/index.js" ></script>
    </body>
</html>

