<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="__MobileCss__/bootstrap.min.css" />
    <link rel="stylesheet" href="__MobileCss__/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="__MobileCss__/index.css" />
    <link rel="stylesheet" href="__MobileCss__/reset.css" />
</head>
<body>
<!--返回按钮-->
<div class="three_img">
    <a onclick="javascript:window.history.back(-1);"><img src="__MobileImg__/third_back.png" /></a>
</div>

<!--玩翫碗信息-->
<div class="playBaby_content almost" id="theme_information_content">
    <div class="content" id="theme_information">
        <div class="baby_img">
            <img src="__AdminIMG__/{$activityInfo.a_img}" />
        </div>
        <div class="baby_detail">
            <h2 style="margin-bottom: 17px;font-size: 16px;text-align: left;margin-left: 0.5%;color: #656565;font-weight: 500;">{$activityInfo.a_title}</h2>
            <ul class="information_ul">
                <li style="display: none;"><span>活动时间:</span><span>{$activityInfo.a_begin_time|date='Y.m.d',###}-{$activityInfo.a_end_time|date='Y.m.d',###}</span></li>
                <li><span>活动地点:</span><span class="max_width">{$activityInfo.a_address}</span></li>
                <li class="last"><span>活动金额:</span>
                    <ul class="time_ul">
                        <li><span>大人:<b style="color: #656565;margin-left: 14%;">￥</b><b class="aldut_price" style="color: #656565;">{$activityInfo.a_adult_price}</b></span></li>
                        <li><span>小孩:<b style="color: #656565;margin-left: 14%;">￥</b><b class="child_price" style="color: #656565;">{$activityInfo.a_child_price}</b></span></li>
                    </ul>
                </li>
                <li class="select_time" style="color: #656565;margin-left: -8px;padding-left: 10px;">选择&nbsp;&nbsp;&nbsp;活动时间
                	 <img src="__MobileImg__/dayu.png"  style="width:6px;height:11px;margin-left:65%;"></li>
            </ul>
        </div>
    </div>
</div>

<!--点击我要报名-->
<div id="theme_modal_box">
    <form method="get" action="{:url('activity/add_order')}">
        {:token('code')}
        <input type="hidden" name="aid" value="{$activityInfo.aid}"/>
        <div class="moal_div">
            <div class="modal_detail">
                <div class="detail_img">
                    <img src="__MobileImg__/eye.png" />
                </div>
                <div class="detail_ul">
                    <ul>
                        <li>{$activityInfo.a_title}</li>
                        <li>{$activityInfo.a_remark}</li>
                        <li>活动地点:{$activityInfo.a_address}</li>
                        <!--<li>活动时间：{$activityInfo.a_begin_time|date='Y.m.d',###}-{$activityInfo.a_end_time|date='Y.m.d',###}</li>-->
                    </ul>
                </div>
            </div>

            <div class="activity_address">
                <p>活动时间</p >
                <ul class="select_paytime">
                    {foreach name="timeInfo" item="vo"}
                    <li><input type="radio" name="time" value="{$vo.t_id}" >{$vo.begin_time|date='Y/m/d H:i',###}-{$vo.end_time|date='H:i',###}<span style="display: none;">{$vo.ticket_num}</span></li>
                    {/foreach}
                </ul>
            </div>
            
            <div class="pay_total">
                <p>总计：<b>￥</b><b class="total">0.02</b></p>
                <ul class="time_ul">
                    <li><span>大人:<b>￥</b><b class="prompt_aldut_price">{$activityInfo.a_adult_price}</b></span>
                        <div class="reduce_plus">
                            <span class="prompt_adult_reduce">-</span><input name="adult_num" type="text"  value="1" class="prompt_adult_val"><span class="plus prompt_adult_plus">+</span>
                        </div>

                    </li>
                    <li><span>小孩:<b>￥</b><b class="prompt_child_price">{$activityInfo.a_child_price}</b></span>
                        <div class="reduce_plus">
                            <span class="prompt_child_reduce">-</span><input type="text" name="child_num" value="1" class="prompt_child_val"><span  class="plus prompt_child_plus">+</span>
                        </div>
                    </li>
                </ul>
            </div>
             {if condition="$activityInfo.a_end_time gt time()"/}
                  <button type="submit" class="my_name">我要报名</button>
                  {else/}
                    <button type="submit" class="my_name" style="color: #656565;background: #C0C0C0;">活动结束</button>
             {/if}
       

        </div>
    </form>
</div>
<div class="pay_ul">
	 <ul>
	 	<li class="special">活动详情</li>
	 	<li>玩伴评论</li>
	 </ul>
</div>

<!--活动内容-->
<div class="pay_content">
	

<div class="detailActivity">
    <!--<div class="activity_parts">
    	
        {foreach name="extensionInfo" item="vo" }
       <a href="{:url('mobile/activity/detail_list',['eid'=>$vo.extension_id])}">
        <div class="acyivity_part">
            <div class="activity_imgBorder">

                        <img src="__AdminIMG__/{$vo.extension_img}"/>

            </div>
            <div class="activity_detail">
                <ul>
                    <li>{$vo.extension_title}</li>
                    <li>{$vo.extension_remark|subtext='40'}</li>
                </ul>
            </div>
        </div>
          </a>
        {/foreach}
      
    </div>-->
    {$activityInfo.a_content}
</div>

<!--玩伴评论-->
<div class="playBaby_content almost" style="display: none;">
    <div class="discuss_content">
        {empty name="commentInfo"}
        <div class="nothing"> 暂无评论......</div>
        {else/}
        {foreach name="commentInfo" item="vo"}
        <div class="line_bottom" style="background: #FFFFFF;">
        	
        
        <div class="discuss_part">
            <div class="discuss_img">
                <img src="__HEADICON__/{$vo.headIcon}" />
            </div>
            <ul>
                <li>{$vo.nickname}</li>
                <li>{$vo.content|htmlentities}</li>
                <li>{$vo.time|date='Y.m.d H:i',###}</li>
            </ul>
        </div>
        <div class="line_border" style="border-bottom:1px solid #dfdbdb;height: 1px;width: 75%;margin-left: 25%;"></div>
        </div>
        {/foreach}
        <!--<div class="discuss_more"><a href="{:url('mobile/activity/comments_list',['aid'=>$activityInfo.aid])}">查看全部</a></div>-->
        {/empty}
    </div>
</div>

</div>
<!--
<div class="playBaby_content almost">
    <div class="title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">玩翫答疑</div>
    </div>
    <div class="quiz_content">
        <form action="" method="post">
            <textarea name="quiz" value="这个主题活动特别好" class="quiz"></textarea>
            <p class="quiz_warn" style="color: #FF4134;font-size: 12px;text-align: center;display: none;">提问不能为空</p>
            <button type="submit" class="my_quiz"><span><img src="__MobileImg__/quiz.png"></span><span>我要提问</span></button>
        </form>
    </div>
</div>
<div class="playBaby_content almost">
    <div class="title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">玩翫答疑</div>
    </div>
    <div class="quiz_content">
        <form action="" method="post">
            <textarea name="quiz" value="这个主题活动特别好" class="quiz"></textarea>
            <p class="quiz_warn" style="color: #FF4134;font-size: 12px;text-align: center;display: none;">提问不能为空</p>
            <button type="submit" class="my_quiz"><span><img src="__MobileImg__/quiz.png"></span><span>我要提问</span></button>
        </form>
    </div>
</div>-->



    <div class="bottom_info">
            {empty name = "$isCollection"}
            <span class="collect" aid="{$activityInfo.aid}">收藏</span>
            {else/}
            <span class="collect" aid="{$activityInfo.aid}" style="border:1px solid #FF4134 ;">已收藏</span>
            {/empty}
            {if condition="$activityInfo.a_end_time gt time()"/}
             <span><a href="javascript:;" class="i_want" class="activity_over">我要报名</a></span>
             {else/}
                <span style="color: #656565;background: #C0C0C0;" class="activity_over"><a href="javascript:;" class="i_want" class="activity_over">活动结束</a></span>
            {/if}
            
    </div>


<script src="__MobileJs__/jquery.min.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
 <script>
        $(".my_name").click(function(){
            var time = $("input[type='radio']:checked").val();
            console.log(time,'是否显示时间');
            if (time == undefined) {
                alert('请选择时间')
                return false;
            }
        });
        $(".detailActivity p img").attr("style","width:100%");
    </script>
</body>
</html>

