
{include file="public/second_header"}

<!--免费活动-->
<div class="playBaby_content almost">

    <div class="content">
        <div class="baby_img">
            <img src="__IMG__/freeplay.png" />
        </div>
        <div class="baby_detail">
            我的最爱是大虾我的最爱是大虾我的最爱是大虾
            我的最爱是大虾我的最爱是大虾我的最爱是大虾
            我的最爱是大虾我的最爱是大虾我的最爱是大虾
        </div>
    </div>
</div>
<!--最新活动-->
   <div class="second_title">
    	<ul>
    		
    		 <li>最新活动</li>
    		 <li>往期回顾</li>
    		
    	</ul>
    </div>
    
    <div class="total_content">
<div class="five_organs almost">
    <!--<div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">最新活动</div>
    </div>-->
    <div class="play_baoContent">
        {foreach name="newest" item="v"}
        <a href="{:url('mobile/activity/detail',['aid'=>$v.aid])}">
        <div class="playBao_part">
        	       {if condition="$v.a_end_time gt time()"/}
					<div class="sign_num">
						
						 <p>{$v.a_sold_num}</p>
						 <div class="line_white"></div>
						 <p>{$v.a_num}</p>
					</div>
					{else/}
					<div class="sign_num" style="background:url(../../../../public/mobile_static/images/over_img.png) no-repeat";>
						
						 <p>{$v.a_sold_num}</p>
						 <div class="line_white"></div>
						 <p>{$v.a_num}</p>
					</div>
				 {/if}
            <div class="bao_img">
                <img src="__AdminIMG__/{$v.a_index_img}"/>
            </div>
            <div class="bao_content">
  	    	 	 	<span class="outer_border">
  	    	 	 		<span class="inside_border">{$v.a_title|subtext='25'}</span>
  	    	 	 	</span>
                <ul>
                    <li>活动介绍：{$v.a_remark|subtext='10'}</li>
                    <li>活动时间：{$v.a_begin_time|date='Y.m.d',###}-{$v.a_end_time|date='Y.m.d',###}</li>
                    <li>活动地点：{$v.a_address}</li>
                </ul>
                <div class="content_bottom"><span>￥免费</span><a href="{:url('mobile/activity/detail',['aid'=>$v.aid])}">点我报名>></a></div>
            </div>
        </div>
        </a>
        {/foreach}
             <div class="no_style" style="display:none;margin-top:88px;" id="new_no">
            	 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div style="color: #8A8A8A;">活动暂时休息一会儿噢~</div>
                 <!--<div><a href="javascript:;" style="color: #FF4134;">快去看看吧</a></div>-->
            </div>
    </div>
</div>

<!--往期回顾-->
<div class="five_organs almost" style="display: none;">
    <div class="play_baoContent">
        {foreach name="review" item="v"}
        <a href="{:url('mobile/activity/detail',['aid'=>$v.aid])}">
            <div class="playBao_part">
                <div class="bao_img">
                    <img src="__AdminIMG__/{$v.a_index_img}"/>
                </div>
                <div class="bao_content">
  	    	 	 	<span class="outer_border">
  	    	 	 		<span class="inside_border">{$v.a_title|subtext='25'}</span>
  	    	 	 	</span>
                    <ul>
                        <li>活动介绍：{$v.a_remark|subtext='10'}</li>
                        <li>活动时间：{$v.a_begin_time|date='Y.m.d',###}-{$v.a_end_time|date='Y.m.d',###}</li>
                        <li>活动地点：{$v.a_address}</li>
                    </ul>
                    <div class="content_bottom"><span>￥免费</span><a href="{:url('mobile/activity/free_detail',['aid'=>$v.aid])}">点我报名>></a></div>
                </div>
            </div>
        </a>
        {/foreach}
             <div class="no_style" style="display:none;margin-top:88px;" id="new_no">
            	 <div><img src="__MobileImg__/no_activity.png"></div>
                 <div style="color: #8A8A8A;">活动暂时休息一会儿噢~</div>
                 <!--<div><a href="javascript:;" style="color: #FF4134;">快去看看吧</a></div>-->
            </div>
    </div>
</div>
</div>



<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
</body>
</html>

