{include file="public/header" /}
{include file="public/nav" /}

<!--轮播图-->
<div class="device">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"> <img src="__MobileImg__/lunbo1.jpg"> </div>
            <div class="swiper-slide"> <img src="__MobileImg__/lunbo2.jpg"> </div>
            <div class="swiper-slide"><img src="__MobileImg__/lunbo3.jpg"></div>
        </div>
    </div>
    <div class="pagination"></div>
</div>

<!--玩宝总体内容部分-->
<div class="playBaby_content almost">
    <div class="title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">免费玩儿</div>
    </div>
    <div class="content">
        <div class="baby_img">
            <img src="__IMG__/freeplay.png" />
        </div>
        <div class="baby_detail">
            我的最爱是大虾我的最爱是大虾我的最爱是大虾
            我的最爱是大虾我的最爱是大虾我的最爱是大虾
            我的最爱是大虾我的最爱是大虾我的最爱是大虾
        </div>
    </div>
</div>
<!--最新活动-->
<div class="five_organs almost">
    <div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">最新活动</div>
    </div>
    <div class="five_content">

        <div class="slider2">
            {foreach name="newest" item="vo"}
            <div class="slide">

                <ul>
                    <li>
                        <a href="wuguan_activity.html">
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </a>

                    </li>
                    <li>
                        <p>{$vo.a_title}</p>
                        <p>{$vo.a_remark}</p>
                    </li>
                    <li>
                        {in name="$vo.aid" value="$collections"}
                            <div><a href="javascript:void(0)" aid="{$vo.aid}" class="collect">已收藏</a></div>
                        {else/}
                            <div><a href="javascript:void(0)"  aid="{$vo.aid}" class="collect">收藏</a></div>
                        {/in}
                        <div><a href="#"  class="sign_up">我要报名</a></div>
                    </li>
                </ul>
            </div>
            {/foreach}
        </div>
    </div>
</div>

<!--往期回顾-->
<div class="five_organs almost">
    <div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
        <div class="playBady_word">往期回顾</div>
    </div>
    <div class="five_content">

        <div class="slider2">
            {foreach name="review" item="vo"}
            <div class="slide">

                <ul>
                    <li>
                        <a href="wuguan_activity.html">
                            <img src="__AdminIMG__/{$vo.a_index_img}"/>
                        </a>

                    </li>
                    <li>
                        <p>{$vo.a_title}</p>
                        <p>{$vo.a_remark}</p>
                    </li>
                    <li>
                        {in name="$vo.aid" value="$collections"}
                            <div><a href="javascript:void(0)" aid="{$vo.aid}" class="collect">已收藏</a></div>
                        {else/}
                            <div><a href="javascript:void(0)"  aid="{$vo.aid}" class="collect">收藏</a></div>
                        {/in}
                        <div><a href="#"  class="sign_up">我要报名</a></div>
                    </li>
                </ul>
            </div>
            {/foreach}
        </div>
    </div>
</div>


{include file="public/footer" /}


<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script type="text/javascript" src="__MobileJs__/index.js" ></script>
</body>
</html>

