
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="__MobileCss__/bootstrap.min.css" />
    <link rel="stylesheet" href="__MobileCss__/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="__MobileCss__/index.css" />
    <link rel="stylesheet" href="__MobileCss__/reset.css" />
</head>
<!--头部图片-->
<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" >
        <div class="comeback_img">
            <a href="{:url('/mobile/activity/about')}"><img src="__MobileImg__/second_back.png"/></a>
        </div>

    </div>

    <div class="title_word second_activity">{$titleInfo.name}</div>

</div>
<!--玩宝总体内容部分-->
<div class="playBaby_content almost">
    <div class="content">
        <div class="baby_img">
            <img src="{$titleInfo.logo}" />
        </div>
        <div class="baby_detail">
           {$titleInfo.introduce}
        </div>
    </div>
</div>
<!--五官-->
{foreach name="titleSon" item="vo"}
<div class="five_organs almost">
    <div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
          <div class="playBady_word">{$vo.name}</div>
    </div>

        <div class="play_baoContent">
            {foreach $result as $v}
            {if condition="$v.a_type eq $vo.id"}
            <a href="{:url('mobile/activity/detail',['aid'=>$v.aid])}">
                <div class="playBao_part">
                    <div class="bao_img">
                        <img src="__AdminIMG__/{$v.a_index_img}"/>
                    </div>
                    <div class="bao_content">
  	    	 	 	<span class="outer_border">
  	    	 	 		<span class="inside_border">{$v.a_title|subtext='25'}</span>
  	    	 	 	</span>
                        <ul>
                            <li>活动介绍：{$v.a_remark|subtext='10'}</li>
                            <li>活动时间：2017.09.28-2-17.10.29</li>
                            <li>活动地点：郑州市金水区啦啦啦啦</li>
                        </ul>
                    </div>
                </div>
            </a>
            {/if}
            {/foreach}
        </div>
    </div>

</div>
{/foreach}

{include file="public/footer" /}

</body>
<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script src="__MobileJs__/index.js" ></script>
</html>

