{include file="public/second_header" /}
<!--玩宝总体内容部分-->
<div class="playBaby_content almost">
    <div class="content">
        <div class="baby_img">
            <img src="{$titleInfo.logo}" />
        </div>
        <div class="baby_detail">
           {$titleInfo.introduce}
        </div>
    </div>
</div>
<!--五官-->
{foreach name="titleSon" item="vo"}
<div class="five_organs almost">
    <div class="five_title title_img">
        <img src="__MobileImg__/wan_whole.png"/>
          <div class="playBady_word">{$vo.name}</div>
    </div>

        <div class="play_baoContent">
            {foreach $result as $v}
            {if condition="$v.a_type eq $vo.id"}
            <a href="{:url('mobile/activity/detail',['aid'=>$v.aid])}">
                <div class="playBao_part">
                    <div class="bao_img">
                        <img src="__AdminIMG__/{$v.a_index_img}"/>
                    </div>
                    <div class="bao_content">
  	    	 	 	<span class="outer_border">
  	    	 	 		<span class="inside_border">{$v.a_title|subtext='25'}</span>
  	    	 	 	</span>
                        <ul>
                            <li>活动介绍：{$v.a_remark|subtext='10'}</li>
                            <li>活动时间：{$v.a_begin_time|date='Y.m.d',###}-{$v.a_end_time|date='Y.m.d',###}</li>
                            <li>活动地点：{$v.a_address}</li>
       
                        </ul>
                         <div class="content_bottom"><span>￥{$v.a_price}</span><a href="{:url('mobile/activity/detail',['aid'=>$v.aid])}">点我报名>></a></div>
                    </div>
                </div>
            </a>
            {/if}
            {/foreach}
        </div>
   </div>
{/foreach}

{include file="public/footer" /}

</body>
<script src="__MobileJs__/jquery.min.js"></script>
<script src="__MobileJs__/idangerous.swiper.min.js"></script>
<script src="__MobileJs__/jquery.bxslider.js"></script>
<script src="__MobileJs__/index.js" ></script>
</html>

