{include file="public/header" /}
{include file="public/second_header"}
<body style="background: #F6F6F6">

    <!--<div class="pay_stytle">
        <a href="{:url('mobile/activity/payWay',['order_sn'=>$order_sn,'bank_type'=>2])}">
            <div class="style weixinS">
                <div class="weixin_pic"><img src="__MobileImg__/weixin.png"></div>
                <div>微信支付</div>
            </div>
        </a>
        <a href="{:url('mobile/activity/payWay',['order_sn'=>$order_sn,'bank_type'=>1])}">
            <div class="style zhifubaoS">
                <div class="zhifubao_pic"><img src="__MobileImg__/zhifubao.png"></div>
                <div>支付宝支付</div>
            </div>
        </a>
    </div>
    <div class="sure">确认支付</div>-->
    <div class="product_detail">
    	<div class="product_img"><img src="_MobileImg_/eye.png"></div>
    	<ul>
    		<li>￥9.99</li>
    		<li style="margin-left: -0.5%;">【四洲十国游】</li>
    	</ul>
    </div>
    
    <form action="" method="post" class="pay_form">
    	<ul>
    		<li><img src="__MobileImg__/weixin.png" style="margin-right: 9px;">微信支付<input type="radio" name="pay" checked="checked"></li>
    		<li><img src="__MobileImg__/zhifubao.png" style="margin-right: 9px;">支付宝支付<input type="radio" name="pay"></li>
    	</ul>
    	<button type="submit" class="Sure_pay">确认支付</button>
    </form>
    


    <script src="__MobileJs__/jquery.min.js"></script>
    <script src="__MobileJs__/idangerous.swiper.min.js"></script>

</body>
</html>

