{include file="public/header" /}
{include file="public/second_header"}
<body style="background: #F6F6F6">
<!--头部导航-->
<!--<div class="comeback textAlign" id="second_page">
    <div class="comeback_whole" onclick="window.location.href = document.referrer;" >
        <div class="comeback_img">
            <img src="__MobileImg__/second_back.png"/>
        </div>

    </div>

    <div class="title_word second_activity">选择支付</div>

</div>-->

    <div class="pay_stytle">
        <a href="{:url('mobile/activity/payWay',['order_sn'=>$order_sn,'bank_type'=>2])}">
            <div class="style weixinS">
                <div class="weixin_pic"><img src="__MobileImg__/weixin.png"></div>
                <div>微信支付</div>
            </div>
        </a>
        <a href="{:url('mobile/activity/payWay',['order_sn'=>$order_sn,'bank_type'=>1])}">
            <div class="style zhifubaoS">
                <div class="zhifubao_pic"><img src="__MobileImg__/zhifubao.png"></div>
                <div>支付宝支付</div>
            </div>
        </a>
    </div>


    <script src="__MobileJs__/jquery.min.js"></script>
    <script src="__MobileJs__/idangerous.swiper.min.js"></script>

</body>
</html>

