{include file="public/header" /}
{include file="public/second_header"}
<body style="background: #F6F6F6">

    <!--<div class="title_word second_activity">选择支付</div>-->
   
    
    
    <form action="{:url('pay/pay_way')}" method="get" class="pay_form">
    	
    <div class="product_detail">
    	<div class="product_img"><img src="__AdminIMG__/{$activityInfo.a_img}"></div>
    	<ul class="totalPrice">
    		<li>
    			<span>￥</span>
				{$orderInfo.order_price}
    		</li>


    		<li>&nbsp;&nbsp;{$activityInfo.a_title}</li>
    	</ul>
    </div>
    	
        <input type="hidden" value="{$orderId}" name="orderId"/>
    	<ul>
    		<li>
    			<div class="first_li"><img src="__MobileImg__/remaining_img.png" style="margin-right: 9px;">余额支付</div>
    		    {if condition="$userInfo.balance lt $orderInfo.order_price"}
    		    <div class="second_li" >
    		    	   <span style="color:#c5c5c5;" class="remaining_money">余额不足</span>
    		    	   <input type="radio" name="bank_type" value="4"  class="select_remaining">
    		   
    		    </div>	
    		    {else/}
    		     
    		    <div class="second_li" style="width: 28%;">
    		    	 <span style="color:#c5c5c5;" class="remaining_money">余额&nbsp;{$userInfo.balance}</span>
    		    	 <input type="radio" name="bank_type" value="4"  class="select_remaining" checked="checked">
    		   
    		    </div>	
    		   
    		 {/if}
    		 </li>
    		   
    			
    		<li>
    			<div class="first_li">
    				<img src="__MobileImg__/weixin.png" style="margin-right: 9px;">微信支付
    			</div>
    			<div class="second_li">
    				<input type="radio" name="bank_type" value="2" class="weixin otherPay">
    		    </div>
    		</li>
    			
    				
    		<li>
    			<div class="first_li">
    				<img src="__MobileImg__/zhifubao.png" style="margin-right: 9px;">支付宝
    			</div>
    			<div class="second_li">
    				<input type="radio" name="bank_type" value="1" class="otherPay">
    			</div>
    		</li>
    	</ul>
    	<button type="submit" class="Sure_pay">确认支付</button>
    </form>
    <script src="__MobileJs__/jquery.min.js"></script>
    <script src="__MobileJs__/index.js"></script>
    <script src="__MobileJs__/idangerous.swiper.min.js"></script>
    <script>
    	//判断余额来显示
       var money_val=$(".remaining_money").html();
//     原价
       var oriPrice={$activityInfo.a_adult_price+$activityInfo.a_child_price};
       var memberPrice={$activityInfo.member_adult_price+$activityInfo.member_child_price};
       
	    if(money_val=="余额不足"){
			$(".select_remaining").attr("disabled",true);
			$(".weixin").attr("checked",true);
			$(".totalPrice li input").val(oriPrice);
            
		}
		else{
			$(".select_remaining").attr("disabled",false);
			$(".select_remaining").attr("checked",true);
			$(".totalPrice li input").val(memberPrice);
		}

		$(".otherPay").on("click",function(){
			if($(this).is(":checked")){
				$(".totalPrice li input").val(oriPrice);
			}
		})
		
		$(".select_remaining").on("click",function(){
			if($(this).siblings("span").html()=="余额不足"){
				$(this).attr("disabled",false);
				$(this).attr("checked",true);
			}
			else{
				$(".totalPrice li input").val(memberPrice);
			}
		})
		
		
    </script>

</body>
</html>

