
<script src="__AJS__/jquery.min.js"></script> 
<script src="__AJS__/jquery.ui.custom.js"></script> 
<script src="__AJS__/bootstrap.min.js"></script> 
<script src="__AJS__/jquery.uniform.js"></script> 
<script src="__AJS__/select2.min.js"></script> 
<script src="__AJS__/jquery.dataTables.min.js"></script> 
<script src="__AJS__/operat_table.js"></script>
<script src="__AJS__/matrix.tables.js"></script>
<script src="__AJS__/Calendar.js"></script>
<script src="__AJS__/birthday.js"></script>
<script src="__AJS__/echarts.common.min.js"></script>
<script src="__AJS__/radialIndicator.js"></script>
<script src="__AJS__/pageGroup.js"></script>
<script src="__AJS__/seller.js"></script>