{include file="public/header" /}
{include file="public/left" /}
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="{:url('admin/service/index')}" class="tip-bottom">客服中心</a>
      	<a href="#" class="current">报名情况</a> 
  </div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>报名情况</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>活动id</th>
                  <th>活动名称</th>
                  <th>报名人数</th>
                  <th>未确定人数</th>
                  <th>待回访人数</th>
                  <th>操作</th>
               </tr>
              </thead>
              <tbody id="tbody_center" style="font-size: 12px;">
               {foreach name="res" item="vo"}
                <tr>
                  <td>{$vo.aid}</td>
                  <td>{$vo.a_title}</td>
                  <td>{$vo.enrol_num}</td>
                  <td>{$vo.access_num}</td>
                  <td>{$vo.visit_num}</td>
                  <td class="center"> <a href="{:url('admin/service/access',['aid'=>$vo.aid])}"><i class="check icon-edit" style="width: 100px;";>&nbsp;&nbsp;邀约</i></a>
                      <a href="{:url('admin/service/return_visit',['aid'=>$vo.aid])}"><i class="change icon-phone" style="width: 100px;">&nbsp;&nbsp;回访</i></a>
                  </td>
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</html>
