<table class="table table-bordered data-table">
    <thead>
    <tr class="clickTr">
        <th class="userId">用户id</th>
        <th class="nickName">昵称</th>
        <th class="mobile">手机号</th>
        <th>状态</th>
        <th class="member_grade">是否为会员</th>
        <th class="reg_time">加入时间</th>
        <th class="balance">余额</th>
        <th class="source">来源</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="tbody_center" style="font-size: 12px;">
    {foreach name="$userInfo" item="vo"}
    <tr>
        <td>{$vo.uid}</td>
        <td><a href="{:url('user/user_detail',['uid'=>$vo.uid])}">{$vo.nickname}</a></td>
        <td><a href="{:url('user/user_detail',['uid'=>$vo.uid])}">{$vo.mobile}</a></td>
        <td>
            {if condition="$vo.status eq 1"} 正常 {else/} 被禁 {/if}
        </td>
        <td>{$vo.member_grade|getUserGrade}</td>
        <td>{$vo.reg_time|date='Y-m-d H:i:s',###}</td>
        <td>{$vo.balance}</td>
        <td>{$vo.source_name}</td>
        <td class="center">
            <a href="{:url('admin/user/saveUserList','uid='.$vo.uid)}"><i class="change icon-pencil">&nbsp;&nbsp;修改</i></a>
            <a href="{:url('admin/user/Consumption_details','uid='.$vo.uid)}"><i class="icon-edit">&nbsp;&nbsp;明细</i></a>
            <a href="{:url('admin/user/recharge','uid='.$vo.uid)}"><i class="icon-credit-card" style="width:80px;">&nbsp;&nbsp;金额变动</i></a>
        </td>

    </tr>
    {/foreach}
    </tbody>
</table>
{$page}

    <!--<script>
       
        //点击搜索,分页
        $(".memberSearch button,.pagination a,.shai li").click(function(){
        	var search= $(".memberSearch select").val();
        	var text = $(".memberSearch input").val();
        	var cur_page = $(this).data('p');
        	
        	var data = {
	            "page" : cur_page,
				"add" : '',
				"address" : '',
				'is_member' : '',
				'mobile':'',
				'nickname':'',
				'childName':''
			}
        	
    		$(this).css({color:"red"})
		 	$(this).attr("data-c","1")
		 	$(this).siblings().removeAttr("style");
		 	$(this).siblings().removeAttr("data-c");
		 	var c;//标记
		 	var name; //名称
	
		 	$(".shai li").each(function(){
		    	c = $(this).attr('data-c')
		    	if(c == "1"){
		    		name = $(this).attr('data-name')
		    		if(name == 'add'){
		    			data.add = $(this).attr('data-val')
		    		}
		    		else if(name == 'address'){
		    			data.address = $(this).attr('data-val')
		    		}
		    		else if(name == 'is_member'){
		    			data.is_member = $(this).attr('data-val')
		    		}
		    	}

		 	});
        	
        	//定义搜索条件，1手机号，2大人姓名，3小孩姓名
        	if(search == 1){
        		data.mobile = text
        		
        	}
        	else if (search == 2){
        		data.nickname = text
        	}
        	else if (search == 3){
        		data.childName = text
        	}
        	
        	$.get("/abab.php/user/ajax_user_index", data,
                function(data){
                    $("#con").html(data);
                });
        	
        })
    </script>-->
