{include file="public/header" /}
{include file="public/left" /}
<style>
	  #s2id_autogen1{
	  	width: 8%;
	  	margin-left: 90%;
	  }
</style>
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="{:url('admin/user/attendance')}" class="tip-bottom">会员考勤</a>
          <a href="javascript:history.back(-1);" >考勤分类</a>
          <a href="#" class="current" class="current">签到详情</a>
  </div>
  </div>
<!--导出开始-->
<div class="add_operate">
 <div class="add_order">
     <a href="{:url('admin/user/conversions_attendance',['tid'=>$Request.param.tid])}">
        <div class="add" title="导出">
          <span style="font-size: 14px;">
              <i class="icon-plus"></i>
                 导出
          </span>
        </div>
     </a>
  </div>
  
   <div class="add_order">
     <a href="{:url('admin/user/dis_add_ticket',['tid'=>$Request.param.tid])}">
        <div class="add" title="新增成员">
          <span style="font-size: 14px;">
              <i class="icon-plus"></i>
                                      新增成员
          </span>
        </div>
     </a>
  </div>
 </div>
    <select onchange="window.location=this.value" >
    	  	<option value="{:url('user/attendance_detail',['aid'=>$Request.param.aid,'tid'=>$Request.param.tid])}">查看全部</option>
    	   	<option value="{:url('user/attendance_detail',['aid'=>$Request.param.aid,'tid'=>$Request.param.tid,'is_sign'=>1])}" {if condition="$Request.param.is_sign eq 1"}selected="selected"{/if}>已参加</option>
    	   	
    	    <option value="{:url('user/attendance_detail',['aid'=>$Request.param.aid,'tid'=>$Request.param.tid,'is_sign'=>2])}" {if condition="$Request.param.is_sign eq 2"}selected="selected"{/if}>未参加</option>
    </select>

<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>姓名</th>  
                  <th>电话</th>
                  <th>大人</th>
                  <th>小孩</th>
                  <th>签到时间</th>
                  <th>状态</th>
                  <th>来源</th>
                  <th>操作</th>
           </tr>
              </thead>
              <tbody id="tbody_center" style='font-size: 12px;'>
              	
                {foreach name="actinfo" item="vo"}
                 
                <tr class="gradeX trs">
                  <input  type="hidden" value=""/>
                  <td class="leave_id">{$vo.order_id}</td>
                 
                  <td><a href="{:url('user/user_detail',['uid'=>$vo.mobile])}">{$vo.username}</a></td>
                  <td><a href="{:url('user/user_detail',['uid'=>$vo.mobile])}">{$vo.mobile}</a></td>
                  <td>{$vo.adult_num}</td>
                  <td>{$vo.child_num}</td>
                  <td>
                      {if condition='$vo.sign_time eq 0'}
                      未参加
                      {else/}
                      {$vo.sign_time|date='Y.m.d H:i',###}
                      {/if}
                      </td>
                  <td>
                      {$vo.order_status|getOrderStatus}
                  </td>
                  <td>{$vo.name}</td>
                  <td class="orderStatus">
                      {if condition='$vo.order_status eq 7'}
                      <span class="activity_leave">已请假</span>
                      {else/}
                      <span class="activity_leave">请假</span>
                      {/if}

                      {if condition='$vo.sign_time eq 0'}
                        <span class="sign">签到</span>
                      {else/}
                        <span class="sign">已签到</span>
                      {/if}

                      {if condition='$vo.order_status eq 8'}
                      <span class="quit">已早退</span>
                      {else/}
                      <span class="quit">早退</span>
                      {/if}


                      {in name="$vo.label" value="1"}
                      <span class="Wantuser">已标记</span>
                      {else/}
                      <span class="Wantuser">有意向</span>
                      {/in}

                  </td>
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>

<div class="leaveModal" style="display: none;">
  	  <div class="modal_div">
  	  	  <input type="hidden" value="" class="hidden_id"/>
  	  	  <div class="cancel">X</div>
  	  	  <div class="leaveCause">
  	  	  	  <span>请假原因：</span>
  	  	  	  <textarea></textarea>
  	  	  </div>
  	  	  <div class="leaveSave">保存</div>
  	  </div>
</div>
{include file="public/footer"/}
</body>
</html>

