{include file="public/header" /}
<div id="content">
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="{:url('admin/user/attendance')}" class="tip-bottom">客户中心</a>
      	<a href="#" class="current">签到概况</a> 
  		</div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>活动id</th>  
                  <th>活动标题</th>
                  <th>报名名额</th>
                  <th>已预约人数</th>
                  <th>签到人数</th>
                  <th>预约到场率</th>
                  <th>报名到场率</th>
                  <th>操作</th>
           			</tr>
              </thead>
              <tbody id="tbody_center" style='font-size: 12px;'>
                {foreach name="actinfo" item="vo"}
                <tr class="gradeX trs">
                  <td>{$vo.aid}</td>
                  <td>{$vo.a_title}</td>  
                  <td>{$vo.join_num}</td>
                  <td>{$vo.enter_num}</td>
                  <td>{$vo.sign_num}</td>
                  <td>
                      <?php
                            if($vo['enter_num'] == 0 || $vo['sign_num'] == 0){
                                echo '0%';
                            }else{
                                $result = floor(($vo['sign_num']/$vo['enter_num'])*10000)/10000*100;
                                echo $result."%";
                            }
                      ?>
                  </td>
                  <td>
                        <?php
                            if($vo['join_num'] == 0 || $vo['sign_num'] == 0){
                                echo '0%';
                            }else{
                                $result = floor(($vo['sign_num']/$vo['join_num'])*10000)/10000*100;
                                echo $result."%";
                            }
                      ?>
                  </td>
                  <td class="center">
                      <a href="{:url('admin/user/attendance_class',['aid'=>$vo.aid])}"><i class="icon-pencil">&nbsp;&nbsp;详情</i></a>
                  </td>
                  
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer"/}
</body>
</html>

