{include file="public/header" /}
{include file="public/left" /}
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="{:url('admin/user/index')}" class="tip-bottom">客户中心</a>
      	<a href="#" class="current">消费明细</a> 
  </div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	 <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>消费明细</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>消费名称</th>
                  <th>金额</th>
                  <th>消费时间</th>
                  <th>支付方式</th>
               </tr>
              </thead>
              <tbody id="tbody_center" style="font-size: 12px;">
              {foreach name="res" item="vo"}
                <tr>
                  <td>{$vo.a_title}</td>
                  <td>{$vo.order_price}</td>
                  <td>{$vo.pay_time|date='Y.m.d H:i',###}</td>
                  <td>{$vo.pay_way|payWay}</td>
                </tr>
              {/foreach}
            
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</html>
