{include file="public/header" /}
{include file="public/left" /}
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
      <div id="breadcrumb">
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
      	<a href="{:url('admin/user/index')}" class="tip-bottom">客户中心</a>
      	<a href="#" class="current">金额明细</a>
  </div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	 <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>金额明细</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>姓名</th>
                  <th>手机号</th>
                  <th>金额</th>
                  <th>余额</th>
                  <th>动作</th>
                  <th>备注</th>
                  <th>添加时间</th>
               </tr>
              </thead>
              <tbody id="tbody_center" style="font-size: 12px;">
              {foreach name="res" item="vo"}
              <tr>
                  <td>{$vo.id}</td>
                  <td>{$vo.nickname}</td>
                  <td>{$vo.mobile}</td>
                  <td>{$vo.money}</td>
                  <td>{$vo.balance}</td>
                  <td>{$vo.type|user_detail_type}</td>
                  <td>{$vo.remark}</td>
                  <td>{$vo.addtime|date='Y-m-d H:i',###}</td>
              </tr>
              {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</html>
