{include file="public/header" /}
<div id="content">
  <div id="content-header">
      <div id="breadcrumb"> 
      	<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a> 
      	<a href="{:url('admin/user/attendance')}" class="tip-bottom">客户中心</a>
      	<a href="#" class="current">成单记录</a> 
  		</div>
  </div>
  
	  <div class="add_order">
	  	 <a href="{:url('admin/user/dis_add_deal')}">
	        <div class="add" title="添加成单">
	          <span style="font-size:14px;">
	              <i class="icon-plus"></i>
	                		 添加成单
	          </span>
	        </div>
	     </a>
	  </div>

<div class="container-fluid">
  <div class="row-fluid">
  	  <div class="span12">
  	  	<div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>成单id</th>  
                  <th>活动标题</th>
                  <th>会员姓名</th>
                  <th>手机号</th>
                  <th>活动开始时间</th>
                  <th>活动结束时间</th>
                  <th>成单金额</th>
                  <th>成单时间</th>
                  <th>操作</th>
           </tr>
              </thead>
              <tbody id="tbody_center" style='font-size:12px;'>
                {foreach name="res" item="vo"}
                <tr class="gradeX trs">
                  <td class="td_id">{$vo.id}</td>
                  <td>{$vo.a_title}</td>  
                  <td>{$vo.nickname}</td>
                  <td>{$vo.mobile}</td>
                  <td>{$vo.begin_time|date="Y-m-d H:i",###}</td>
                  <td>{$vo.end_time|date="Y-m-d H:i",###}</td>
                  <td>
                     {$vo.money}
                  </td>
                  <td>
                     {$vo.time|date='Y.m.d H:i',###}
                  </td>
                  
                  <td class="center">
                       <i class="delete icon-pencil deal_delete">&nbsp;&nbsp;删除</i>	
                  </td>
                  
                </tr>
                {/foreach}
              </tbody>
            </table>
          </div>
        </div>
  	  </div>
  </div>
</div>
</div>
{include file="public/footer" /}
</body>
</html>

