<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header"/}
    {include file="public/left" /}
    <div id="content" style="">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="index.html" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>首页</a>
                <a href="{:url('admin/user/recharge_policy')}" class="tip-bottom" data-original-title="">充值政策</a>
                <a href="#" class="current">修改政策</a>
            </div>
        </div>

        <div class="row-fluid" id="emit_information" style="width: 1300px;">
            <div class="span6" style="margin-left: 12%;">
                <div class="widget-box" style="width: 100%;">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>政策信息</h5>
                    </div>
                    <div class="widget-content nopadding" style="">
                        <form action="{:url('admin/user/save_policy')}" method="post" enctype="multipart/form-data" class="form-horizontal" name="Alist_form" style="m-horizontal">
                            <input name="rechargeId" value="{$policyInfo.id}" type="hidden">
                            <div class="control-group">
                                <label class="control-label">金额</label>
                                <div class="controls">
                                    <input class="span11" style="width: 30%;" value='{$policyInfo.money}' name="money" type="text">
                                </div>
                            </div>
                            <div class="control-group" id="policyContainer">
                                <label class="control-label">政策内容</label>
                                <div class="controls policyContent">
                                    {foreach name="policyInfo.policy"  item="vo"}
                                        <input type="hidden" value="{$vo.id}" name="policyId[]">
                                        <input class="span11" style="width: 80%;" value='{$vo.content}' name="content[]" type="text">
                                    {/foreach}
                                </div>
                                <span class="add">添加</span>
                            </div>

                            <!--<div class="control-group">
                                <label class="control-label">时间</label>
                                <div class="controls">
                                    <input class="span11" value="" placeholder="格式：2017-09-07 15:30" name="begin_time" type="text" style="width: 40%;cursor: pointer;" onfocus="$(this).calendar()">

                                </div>
                            </div>-->

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success info_sure">保存</button>
                                <a href="{:url('admin/user/recharge_policy')}" class="btn-warning">取消</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
    <script src="__AJS__/jquery.min.js"></script>
    <script src="__AJS__/jquery.ui.custom.js"></script>
    <script src="__AJS__/bootstrap.min.js"></script>
    <script src="__AJS__/jquery.uniform.js"></script>
    <script src="__AJS__/select2.min.js"></script>
    <script src="__AJS__/jquery.dataTables.min.js"></script>
    <script src="__AJS__/matrix.js"></script>
    <script src="__AJS__/operat_table.js"></script>
    <script type="text/javascript" src="__AJS__/jquery-calendar.js"></script>
    <script src="__AJS__/Calendar.js"></script>

</html>