{include file="public/header"/} 
<style>
	  #s2id_autogen1{
	  	width: 100%;
	  	height: 20px;
	  }
	  #s2id_autogen1 .select2-choice div b{
	  	background-position:0px -3px;
	  }
	  #s2id_autogen1 .select2-choice{
	    	height: 20px;
	    	line-height: 20px;
	  }
	  #s2id_autogen1 a span{
	    	height: 20px;
	  }
</style>
{include file="public/left"/}
<div id="content" style="background: #F6F6F6;">
	<!--breadcrumbs-->
	<div id="content-header">
		<div id="breadcrumb">
			<a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>首页</a>
			<a href="{:url('admin/user/index')}" class="tip-bottom">客户中心</a>
			<a href="#" class="current">客户列表</a>
		</div>
	</div>
	<div class="member_check">
		<ul>
			<li><img src="__AIMG__/add_member.png" style="margin-right: 6px;">
					<a href="{:url('admin/user/add_member')}">添加</a>
			</li>
			<!--<li><img src="__AIMG__/pai.png" style="margin-right: 6px;">排序<span></span></li>-->
			<li><img src="__AIMG__/pai.png" style="margin-right: 6px;">筛选<span></span></li>
		</ul>
	</div>
	<div class="pai_contents">
		<!--<div class="pai">
			<ul>
				<li class="active">充值金额</li>
				<li>参与活动次数</li>
				<li>最新发生时间</li>
			</ul>
		</div>-->
		<form action="{:url('user/index')}" method="get">
		<div class="shai">
			<div class="only_one">
				<p>新增</p>
				<ul>
					<li><input  type="radio" name="add" value="1"/>本月</li>
					<li><input 	type="radio" name="add" value="2"/>本周</li>
				</ul>
			</div>
			<div class="only_one">
				<p>住址</p>
				<ul>
					{foreach name="zhengZhou" item="vo"}
					<li><input  type="radio" name="address" value="{$vo.id}"/>{$vo.name}</li>
					{/foreach}
				</ul>
			</div>
		<div style="margin-bottom: 8px;" class="only_one">
				<p style="width: 90px;">客户类型</p>
				<ul>
				   <li><input  type="radio" name="is_member" value="1"/>会员</li>
				   <li><input  type="radio" name="is_member" value="2"/>非会员</li> 
				</ul>
		</div>
		<div class="commit">
			 <button type="reset">重置</button>  
			 <button type="submit">完成</button>
		</div>
		</div>
		</form>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
						<h5>会员列表</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered data-table">
							<thead>
								<tr>
									<th>用户id</th>
									<th>昵称</th>
									<th>手机号</th>
									<th>状态</th>
									<th>是否为会员</th>
									<th>加入时间</th>
									<th>余额</th>
									<th>来源</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody_center" style="font-size: 12px;">
								{foreach name="$userInfo" item="vo"}
								<tr>
									<td>{$vo.uid}</td>
									<td>{$vo.nickname}</td>
									<td>{$vo.mobile}</td>
									<td>
										{if condition="$vo.status eq 1"} 正常 {else/} 被禁 {/if}
									</td>
									<td>{$vo.member_grade|getUserGrade}</td>
									<td>{$vo.reg_time|date='Y-m-d H:i:s',###}</td>
									<td>{$vo.balance}</td>
									<td>{$vo.source_name}</td>
									<td class="center">
										<i class="check icon-reorder">&nbsp;&nbsp;查看</i>
										<a href="{:url('admin/user/saveUserList','uid='.$vo.uid)}"><i class="change icon-pencil">&nbsp;&nbsp;修改</i></a>
										<a href="{:url('admin/user/Consumption_details','uid='.$vo.uid)}"><i class="icon-edit">&nbsp;&nbsp;明细</i></a>
										<a href="{:url('admin/user/recharge','uid='.$vo.uid)}"><i class="icon-credit-card" style="width:80px;">&nbsp;&nbsp;金额变动</i></a>
									</td>

								</tr>
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--查看模态框-->
<div class="modal_box hide">
	<div class="modal_div" style="background: #F0F0F0;">
		<div class="cancel">X</div>
		<div class="total_title">会员信息</div>
		<div class="member_title">
			<ul>
				<li class="active">会员概要</li>
				<li>详细信息</li>
				<li>孩子信息</li>
			</ul>
		</div>

		<div class="memberContents">
			<div class="memeber_information" style="margin-top: 40px;">
				<ul>
					<li><span>会员姓名</span><span class="member_name"></span></li>
					<li><span>会员手机</span><span class="member_phone"></span></li>
					<li><span>会员余额</span><span class="balance"></span></li>
					<li><span>消费金额</span><span class="consumtion"></span></li>
					<li><span>报名次数</span><span class="enrol_num"></span></li>
					<li><span>参加次数</span><span class="join_num"></span></li>
					<li><span>信用积分</span><span class="credit"></span></li>
					<li><span>会员来源</span><span class="source"></span></li>
					<li><span style="width:31%;">当前充值次数</span><span class="pay_num">9999</span></li>

				</ul>

			</div>
			<div class="detailContent_information" style="display: none;margin-top: 40px;">
				<ul>
					<li><span>会员姓名</span><span class="nickname"></span></li>
					<li><span>会员手机</span><span class="phone"></span></li>
					<li><span>会员性别</span><span class="sex"></span></li>
					<li><span>加入时间</span><span class="reg_time"></span></li>
					<li><span style="text-align: right;">省</span><span class="province"></span></li>
					<li><span style="text-align: right;">市</span><span class="city"></span></li>
					<li><span style="text-align: right;">区</span><span class="district"></span></li>
					<li><span>详细地址</span><span class="address"></span></li>
					<li><span>会员生日</span><span class="birthday"></span></li>
					<li><span>会员邮箱</span><span class="email"></span></li>
					<li><span>会员爱好</span><span class="hobby"></span></li>

				</ul>
			</div>
			<div class="child_information" style="display: none;">
				<!--<div class="add_child"><img src="__AIMG__/add.png" style="width: 18px;height: 18px;margin-right: 22%;margin-top: -2px;"/><a href="javascript:;" class="add_new">新增</a></div>
			  	<div class="child_part">
			  		<div class="uid" style="display: none;"></div>
			  		<ul>
			  	   	   <li><span>孩子姓名:</span><span>薛茜</span></li>
			  	   	   <li><span>孩子性别:</span><span>男</span></li>
			  	   	   <li><span>孩子生日:</span><span>2012.2.4</span></li>
			  	   	   <li><span>孩子学校:</span><span>第一中学</span></li>
			  	   	   <li><span>可玩时间:</span><span>上午9点半</span></li>
			  	   	   <li><span>登记时间:</span><span>2014.78</span></li>
			  		</ul>
			  		<div class="operate">
			  			    <span class="emit"><img src="__AIMG__/edit.png"><a href="javascript:;">编辑</a></span>
			  			    <span><img src="__AIMG__/delete.png"><a href="javascript:;" class="delete">删除</a></span>
			  		</div>
			  	</div>-->

			</div>
		</div>

	</div>

</div>

<div class="modal_addsecondBox" style="display: none;">
	<div class="second_modal">
		<div class="second_cancel">X</div>
		<div class="uid" style="display:none;"></div>
		<div class="add_information">
			<div><span>孩子姓名</span><input type="text" class="child_name" value=""></div>
			<div><span>孩子性别</span>
				<input type="radio" name="sex" value="1">男
				<input type="radio" name="sex" value="2" />女
			</div>
			<div><span>孩子学校</span><input type="text" class="child_school" value=""></div>
			<div><span>玩耍时间</span><input type="text" class="child_time" value=""></div>
			<div><span>孩子生日</span><input type="text" onClick="new Calendar().show(this);" value="" style="cursor: pointer;" class="child_birthday"></div>
		</div>
		<div class="add_success">保存</div>
	</div>
</div>

<div class="modal_emitsecondBox" style="display: none;">
	<div class="second_modal">
		<div class="emit_second_cancel">X</div>
		<div class="id" style="display: none;"></div>
		<div class="add_information">
			<div><span>孩子姓名</span><input type="text" class="new_name" value=""></div>
			<div><span>孩子性别</span>
				<input type="radio" name="sex" value="1" class="man">男
				<input type="radio" name="sex" value="2" class="woman" />女
			</div>
			<div><span>孩子学校</span><input type="text" class="new_school" value=""></div>
			<div><span>玩耍时间</span><input type="text" class="new_time" value=""></div>
			<div><span>孩子生日</span><input type="text" onClick="new Calendar().show(this);" value="" style="cursor: pointer;" class="new_birthday"></div>
		</div>
		<div class="emit_success">保存</div>
	</div>
</div>

{include file="public/footer" /}

</html>