<div class="whole_bottom">

<div class="bottom">
    <!--<div class="erweima"></div>-->
    <div class="bottom_title">
        <ul>
            <li><a href="{:url('mobile/user/user')}">会员条款</a></li>
            <li class="line">|</li>
            <li><a href="{:url('mobile/user/disclaimer')}">免责声明</a></li>
            <li class="line">|</li>
            <li><a href="{:url('mobile/user/copy')}">版权声明</a></li>
            <li class="line">|</li>
            <li><a href="{:url('mobile/user/privacy')}">隐私保护</a></li>
            <li class="line">|</li>
            <li><a href="#">投诉建议</a></li>
        </ul>
        <div class="tel">联系方式：400-611-2731</div>
    </div>
</div>

<div class="copyright">
    <div class="first">Copyright©版权所有河南创致行企业管理咨询有限公司 (2017-2037)</div>
    <div class="second">豫ICP备13007531号-1</div>
</div>
</div>