<div class="bottom">
    <div class="erweima"></div>
    <div class="bottom_title">
        <ul>
            <li>会员条款</li>
            <li class="line">|</li>
            <li>免责声明</li>
            <li class="line">|</li>
            <li>加入我们</li>
            <li class="line">|</li>
            <li>投诉建议</li>
            <li class="line">|</li>
            <li>商户合作</li>
        </ul>
        <div class="tel">联系方式：400-611-2731</div>
    </div>
</div>

<div class="copyright">
    <div class="first">Copyright©版权所有河南创致行企业管理咨询有限公司 (2017-2037)</div>
    <div class="second">豫ICP备13007531号-1</div>
</div>