li{
	list-style: none;
}

.modal_box{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.4);
	top: 0;
	left: 0;
}
.modal_div .cancel{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 25px;
	cursor: pointer;
}
.modal_div{
	width: 800px;
	
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: white;
}
.modal_div .total_title{
	color: #333333;
	/*border: 1px solid black;*/
	height: 42px;
	line-height: 42px;
	text-align: center;
	margin-top: 8px;
	font-size: 14px;
}
/*.modal_div .member_title{
	margin-top: 50px;
}*/
.modal_div .member_title ul{
	overflow: hidden;
}
.modal_div .member_title ul li{
	width: 112px;
	height: 38px;
	line-height: 38px;
	background: rgb(223,223,223);
	color: #333333;
	text-align: center;
	float: left;
	cursor: pointer;
}
.modal_div .member_title ul li.active{
	background: rgb(255,102,102);
	color: #FFFFFF;
}

.memberContents div {
	width: 95%;
	margin: 0px auto;
	margin-left: 3%;
	
	
	box-sizing: border-box;
	
	
}

.memberContents div ul{
	overflow: hidden;
	margin-left: 5px;
	width: 100%;
	
}
.memberContents div ul li{
	float: left;
	width: 36%;
	font-size: 14px;
	color:#383838 ;
	margin-bottom: 15px;
}
.memberContents div ul li span:nth-child(1){
	display: inline-block;
	width: 22%;
}
.memberContents div ul li span:nth-child(2){
	margin-left: 15px;
	
}
.center i{
   cursor: pointer;
   display: inline-block;
   width: 60px;
   height: 30px;
   line-height: 30px;
   border-radius: 3px;
   text-align: center;
}
.center i:hover{
	background: lightgreen;
	color: white;
}
.modal_div .detail_information{
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
	margin-left: -350px;
	margin-top:-100px ;
}
.memberContents .child_information{
	position: relative;
	
	margin-top: 40px;
	
}
.child_information .child_part{
	margin-top: 0px;
	border: 1px solid rgb(202,202,202);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	
}
.child_information .child_part ul li:nth-child(5){
	margin-bottom: 0px;
}
.child_information .child_part ul li:last-child{
	margin-bottom: 0px;
}
.child_information .child_part ul li span:nth-child(1){
	color: rgb(111,111,111);
}
.child_information .child_part ul li span:nth-child(2){
	color: rgb(127,127,127);
}
.child_information .child_part .operate{
	
	padding-left: 12%;
	box-sizing: border-box;
}
.child_information .child_part .operate span img{
	width: 18px;
	height: 18px;
	margin-top: -2px;
	margin-right: 1%;
}
.child_information .child_part .operate span:nth-child(2){
	margin-left: 37%;
}
.child_information .child_part ul li span:nth-child(1){
	width: 24%;
}
.child_information .add_child{
	
	border: 1px solid rgb(255,174,173);
	width: 80px;
	padding: 8px 12px 8px;
	position: absolute;
	right: 17px;
	top: -48px;
}

.child_information ul:last-child{
	border-bottom: none;
}
.detail_information td{
	width: 80px;
	height: 50px;
	text-align: center;
}
.hide{
	display: none;
}


#emit_information .span6{
	margin-left: 25%;
	
}
.form-actions .btn-warning{
	display: inline-block;
	line-height: 30px;
	text-align: center;
	width: 55px;
	height: 30px;
	text-shadow: none;
	margin-left: 30px;
}

.info_modalbox{
	width: 400px;
	height: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:white;
	margin: auto;
}
.info_modalbox img{
	width: 50px;
	height: 50px;
}
.info_modalbox .cancel{
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
	font-size: 25px;
}
.right_content{
	text-align: center;
	width: 200px;
	height: 100px;
	line-height: 100px;
	/*border: 1px solid red;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


.add_order a{
	display: block;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
}
.add_order a:hover{
	border: 1px solid rgb(40,183,121);
}
.modal_secondBox{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
}

.second_modal{
	position: absolute;
	top:50%;
	bottom: 50%;
	left: 30%;
	right: 50%;
	margin: auto;
	width: 600px;
	height: 400px;
	background: #FFFFFF;
}
.second_modal .second_cancel{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 25px;
	cursor: pointer;
}
.add_information{
	margin:70px auto 25px;
	padding-left: 100px;
}
.add_information div{
	margin-bottom: 15px;
	font-size: 14px;
}
.add_information div span{
	margin-right: 10px;
	margin-top: -3px;
	
}
.add_information div input{
	height: 25px;
}
.add_success{
	cursor: pointer;
	font-size: 16px;
	background: rgb(255,102,102);
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	margin: 0px auto;
	border-radius: 5px;
}
