/* CSS Document */
* {
padding: 0px;
margin: 0px;
}
li{
	list-style: none;
}
/*分页*/
#pageGro{ 
	/*border: 1px solid red;*/
	/*width:450px;*/ 
	width: 35%;
	height:25px; 
	margin:0px auto;
	position: absolute;
	right: 10px;
	bottom: 30px;
	font-size: 14px;
	text-align: center;
	color: #000000;
}
#pageGro div,#pageGro div ul li{ 
	font-size:12px; 
	color:#999; 
	line-height:23px;
	float:left;
	margin-left:5px;
}
#pageGro div ul li{ 
	width:22px; 
	text-align:center; 
	border:1px solid #999;
	cursor:pointer;
}
#pageGro div ul li.on{ 
	color:#fff; 
	background:#3c90d9; 
	border:1px solid #3c90d9;
}
#pageGro .pageUp,#pageGro .pageDown,#pageGro .pagestart,#pageGro .pageend{ 
	width:63px; 
	border:1px solid #999; 
	cursor:pointer;
}
.pageList ul{
	margin: 0px;
}

